[2018-06-19 17:12] Irefre opened #1711 "Hello I wonder if it is possible to save a single frame as a photo in Open shot video editor? How would I do that?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-06-19 17:22] sunbearc22 commented on #1678
@peanutbutterandcrackers I looked through the past "openshot-qt.log" files I had uploaded above and they all state `OpenShot (version 2.4.1-dev1) `. I had thought the `-dev1` had referred to daily build.

Also, the daily build instruction link shows the same procedure that I had used, which I had wrote in my comments ([see above](https://github.com/OpenShot/openshot-qt/issues/1678#issuecomment-396

[2018-06-19 18:31] Eta76 commented on #1693
crash seems to be solved. it crashed real easy before, and now no crashes witnessed.
Still jumping frames, I don't know if this is related to transitions. But I will make a new bug, if it is easiliy reproducable.

PS: I am a C++ developer, and OpenShot seems python based, so not my line of work :-)

[2018-06-19 18:31] #1693 closed

[2018-06-19 18:36] N3WWN commented on #1710
You could start a new project, set the profile of the project to one with a higher resolution than the clips that you will be adding, import the clips and then add them to the timeline.  The exported video will conform to the project profile (resolution and frame rate).

If all you want to do is to change the resolution of the clips, this does not really take advantage of the OpenShot feature set.

[2018-06-19 18:52] N3WWN commented on #1711
Hi @Irefre !

This feature is not part of OpenShot 2.4.1, but PR #1542 PR exists to add this function and will likely be part of 2.4.3.

It was submitted too late for inclusion in 2.4.2, but perhaps it will be merged for a daily build of 2.4.2 after its official version is published.

[2018-06-19 20:33] Irefre commented on #1711
Thank you very much for your answer :-)

[2018-06-19 21:49] k4yaman commented on #1708
2.4.1-dev1 still contains this behavior

[2018-06-20 08:50] ruffieuxh opened #1714 "Crash when trasitioning in preview mode"
**Describe the bug**
I today reviewed my entire video and went through many transitions between track 0 and 1. When the first transition between track 0 and 2 came up, it stopped and then crashed.

**System Details (please complete the following information):**
 - Operating System / Distro: Ubuntu 16.04
 - OpenShot Version: 2.4.2-rc4

**To Reproduce**
Steps to reproduce the behavior:
1. Preview a

[2018-06-20 09:21] #1711 closed

[2018-06-20 09:30] ruffieuxh commented on #1714
Another example for the crash
[libopenshot.log](https://github.com/OpenShot/openshot-qt/files/2118676/libopenshot.log)
[openshot-qt.log](https://github.com/OpenShot/openshot-qt/files/2118677/openshot-qt.log)

[2018-06-20 12:44] N3WWN commented on #1709
Since you say "some of the clips" have this distortion, can you provide a link to two ShutterStock videos:  One with the distortion and one without?

If you can't link, can you put the two original files from ShutterStock in DropBox, Google Drive, etc for us to obtain so we can attempt to duplicate the issue.

Thanks!

[2018-06-20 17:10] Sjorsa opened #1715 "Openshot only using one core"
When I try to drag a clip (or even an image) around, it takes about ten seconds before I can do anything. this makes editing very tedious. I noticed in task manager only one core is being used 100%, the other ones only +-10%. I've looked around, but can't find more info about this. Thanks in advance!

Ryzen 5 1600 6C/12T
GTX 1060 6GB
Windows 10 64bit

[2018-06-21 00:45] BigRed1963 opened #1718 "Audio did not output to export file. When playing back the exported file there was no sound output."
**Describe the bug**
A clear and concise description of what the bug is.

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concis

[2018-06-21 11:35] sprnza commented on #1151
I've faced the same issue. I've been trying to "undo", but then I noticed nothing happens when I click the button and I've closed the whole window. Now trying to open my project I get the same error. How could I recover my project? Here is the [file](https://goo.gl/Q13Tof). [Here](https://goo.gl/zXgpGD) is a reformatted version for convinience.

[2018-06-21 12:34] george-easymarkit commented on #947
I am facing the same issue in 2.4.1

[2018-06-21 13:17] sk8nfool opened #1719 "Installation fails via PPA"
Installation fails when I follow instructions on https://www.openshot.org/ppa/ when I try to execute
    sudo apt-get update
with the message
    E: The repository 'http://ppa.launchpad.net/openshot.developers/ppa/ubuntu bionic Release' does not have a Release file.

[2018-06-21 13:45] N3WWN commented on #1594
@jonoomph - Any chance we can get aac as the default codec (undo the revert in https://github.com/OpenShot/openshot-qt/commit/f607d9b7aa4cd1dabd273a8cbf586c9e9dd02383) for the 2.4.2 release so we can nip all of these "no audio" issues in the bud?

[2018-06-21 13:50] N3WWN commented on #1718
@DylanC - I think we can add this to the ever-growing list of incompatible audio codec issues that we've been seeing.  Issue #1594 (resolved by PR #1595) should fix this, provided the new build system provides aac support for all builds.

@BigRed1963 - Please try [VLC](https://www.videolan.org/vlc/index.html) to test if the audio is, in fact, present, but simply unable to be decoded by your normal

[2018-06-21 13:53] N3WWN commented on #947
Are the 720p and 1080p framerates the same?  If you create a project using one frame rate, add keyframeable items (like fades) and then export at a different frame rate, the location of the fades will change.  This is a known issue and is being worked on.

[2018-06-21 14:21] ferdnyc commented on #1594
Failing that, I definitely think #1595  and #1660 should be priorities for immediately after release. Actually, I think #1595 should be expanded beyond just those two, and more of the presets should switch to AAC. Heck, the YouTube-HD preset is using MP3 audio, which like the 44.1kHz samplerate is _technically_ supported, but **DEFINITELY** not their [recommended format](https://support.google.com

[2018-06-21 16:01] BigRed1963 commented on #1718
Playing on VLC did reproduce the sound.

Gary Carson
10612 West Schimmer Drive
Wood River, NE 68883-9658

Cell: 308-379-7542
E-mail: garyhcarson@msn.com<mailto:gcarson@charter.net>

From: Richard Alloway [mailto:notifications@github.com]
Sent: Thursday, June 21, 2018 8:51 AM
To: OpenShot/openshot-qt
Cc: BigRed1963; Mention
Subject: Re: [OpenShot/openshot-qt] Audio did not output to export file. Wh

[2018-06-21 16:05] MisterTeeXD opened #1720 "Chroma Key Lag Not Fixed"
**Describe the bug**
There is this Chroma Key Performance issue that has still not been fixed

**System Details (please complete the following information):**
 - Operating System / Distro: Windows 10
 - OpenShot Version: 2.4.2-rc5

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Effects
2. Click and Drag the Chroma Key Effect in the video clip
3. Select a color you want to key out
4. Se

[2018-06-21 16:56] ferdnyc commented on #1555
I wouldn't expect there to be anything magical about a **specific** number of clicks, per se. Unless I'm very mistaken about the core of what's going on here, it's really a _timing_ issue, with the Hide Tutorial button's click only being accepted if it occurs within a small window of time. (Which may be _very_ small and also very frequent, making it difficult to predict whether a click will succes

[2018-06-21 17:14] N3WWN commented on #1718
@BigRed1963 - Thanks for confirming this!

@DylanC (and @peanutbutterandcrackers) - Since this is again confirmed, should we put this in the rc-bugs so it's definitely considered before 2.4.2 is published?

[2018-06-21 17:48] N3WWN commented on #1720
How many CPUs/cores to you have?  Under the `Performance` tab, can you set it up to show one graph per core and capture how many cores are utilized (and what is that utilization) during preview playback?

What is the behavior if Chroma Key is not applied?  Is there any lag in the preview or is it smooth?  As above, how are the cores used in this situation?

I'm thinking that perhaps the effect app

[2018-06-21 18:21] MisterTeeXD commented on #1720
Last time i checked i had 4 cores, the behaviour of the Chroma Key is it makes the Audio and Preview Stutter, there is lag in the preview, i am not sure how the cores are used in that situation

[2018-06-21 20:09] Have-a-Laugh commented on #1555
@ferdnyc please keep me posted, i'm happy to continue testing when needed! thanks.

[2018-06-21 23:10] nsgitfr commented on #1596
@DylanC Please find new set of logs.
Let me know if some more details are found.
I tried with latest build tonight (logs are from yesterday) and It still fails the same way.
Any clues are welcome
Best
[Openshot.crashes9.zip](https://github.com/OpenShot/openshot-qt/files/2125624/Openshot.crashes9.zip)

[2018-06-22 02:04] bobcrikey opened #1721 "jpg/transparent png errors grey screen blocks overlay in openshot"
running linux mint 18.3 64 bit and ubuntu 18.04 64 bit

Hello everyone, i have serious issue with openshot
importing jpegs or transparent png's as a image sequence

openshot latest dev and rc5 will create the video file
however it puts garbage lines of blocks of grey and sometimes
other colours along side it.

![openshot error png](https://user-images.githubusercontent.com/40479177/41754109-4d7c53

[2018-06-22 07:27] DylanC commented on #1718
@N3WWN - I think so but I'll wait until @peanutbutterandcrackers shares his opinion.

[2018-06-22 08:20] peanutbutterandcrackers commented on #1718
@N3WWN @DylanC - Yes, I definitely think this is high priority. I will put this on the rc-bugs right away and let Mr. Thomas know about it. Maybe he can cherry-pick the fix, if not merge it in. But this definitely needs attention.

[2018-06-22 08:27] peanutbutterandcrackers commented on #1718
Done!

[2018-06-22 09:24] peanutbutterandcrackers commented on #1721
Hmm... I just did a 'quick' test (which turned out to be quite long because I had to A. Get a PNG file. B. Change the colors up and make 3 versions of them. C. Figure out a bash one-liner to make copies of it, without first figuring out that there is actually a stepping mechanism now in bash's brace expansion `{start..end..step}`. Agh. Anyways, I was not able to reproduce this issue. Does this iss

[2018-06-22 09:25] Francysun opened #1723 "Bug at the start of the video"
Problems with the first slide.
In the first slide the image and audio jump and jerk. After the first, it resumes normally and the video is fluid. Besides, it's also very slow and I have to wait a long time to make a single change.

**System Details (please complete the following information):**
 - Operating System / Distro: Windows 10
 - OpenShot Version 2.4.1

**To Reproduce**
Steps to reproduce

[2018-06-22 09:32] peanutbutterandcrackers commented on #1555
@ferdnyc - I've got my eye on `ferd/tutorial2` branch. All the very best!. :+1:

[2018-06-22 09:58] DylanC commented on #1684
@saidch1 - Can you get back to us on this issue?

[2018-06-22 10:00] #1697 closed

[2018-06-22 10:02] DylanC commented on #1719
@sk8nfool - I think the PPA is kinda broken at the moment due to updates on our build pipeline. Sit tight and hopefully it will be fixed. 😄

[2018-06-22 10:03] DylanC commented on #1715
@Sjorsa - I would recommend to try a daily build. We have RC builds for v2.4.2 which are much better and use all cores.

[2018-06-22 11:46] #1715 closed

[2018-06-22 11:48] DylanC commented on #1719
@sk8nfool - Try the PPA again. Should be back up and running.

[2018-06-22 12:17] bobcrikey commented on #1721
well here's the zip files with the original jpegs of the tardis spining, and its after the video is rendered
that you can see the block grays appearing if you drag the video into the time line and use the right
arrow key you will be see what im experiencing, and yes peanuts and crackers i know jonathan is working hard , i did offer to help him but its ok i know he's busy, im sure its small bug in

[2018-06-22 13:22] N3WWN commented on #1721
I haven't delved into this too far, but I just downloaded your files and noticed that the ones that you archived for us are jpg files.  jpg does not support transparency.

Can you create an archive with the png files that you were originally working with?

Thanks!

[2018-06-22 14:01] DavideCatto commented on #118
How have you solved?

[2018-06-23 10:48] bobcrikey commented on #1721
well heres a png picture iv just done to demostrate the transparent image sequence error in openshot
the n3wwn, have a look at this, and you can see the results ok
![error in openshot](https://user-images.githubusercontent.com/40479177/41808803-7fd996ba-7726-11e8-9d17-27efa774a2da.png)

now here the png's in a zip file for you to put in the latest dev version, ok
and this was done in openshot late

[2018-06-23 11:38] bobcrikey commented on #1721
in fact iv just added the red arrows for N3WWN or any other devs to see the grey line blocks are not
part of the original png's not even present on any png's nor the jpegs of the tardis
![error in openshot2](https://user-images.githubusercontent.com/40479177/41809248-c39c836a-772d-11e8-8ea1-cb4f173286e0.png)

bob

[2018-06-23 16:38] ferdnyc commented on #1555
I just checked in what I have so far, which feels like it's 90% of the way there. I need to test it under  Windows next, which is the reason I committed the code in its current state.

Additionally, I added logic to the main window processing so that ALL floating docks are minimized/restored in tandem with the main window. So, no more floating Properties hanging around if you minimize OpenShot.

(

[2018-06-23 17:50] SquidyProductions opened #1724 "MacOS Blender for Animated Titles Not Working"
For some reason I can't use the Animated Title feature. I have put in the path correctly but it doesn't work. I don't know if this is a bug or if this is just what I'm doing. I downloaded Blender for MacOS and copied the path to the application I downloaded and it didn't work.

I am using **macOS** High Sierra Version 10.13.5

[2018-06-23 19:33] ferdnyc commented on #1587
In general, media software has made _amazing_ strides in the past decade or two by embracing the concept of Non-Destructive Editing. First we had Non-Linear Editing, which was great, and OpenShot is an excellent non-linear editor. But the next step in the evolution is to edit non-destructively, and OpenShot isn't _quite_ there yet (though it's actually pretty close).

The gold standard for this is

[2018-06-23 19:51] ferdnyc commented on #1555
I should've mentioned, in my previous comment, that the changes I mentioned are checked in to _my_ `tutorial2` branch, not the OpenShot repo itself. At this point they're really only ready for internal preview by the developers, but they need more work before they're suitable for general testing. Hopefully once things are farther along, builds will be available so that others can take a look. I'll

[2018-06-23 19:56] Coxinha25 opened #1725 "erro ao iniciar o open shot"
Ao abrir o open shot, aparece o erro ''Arquivo KEYI(QD2L89)Ausente
                                                            2018-05-29 15-39-50.mp4 nao pode ser encontrado''

**System Details (please complete the following information):**
- windows 10
-processador icore i5

como posso solucionar este problema?

![image](https://user-images.githubusercontent.com/40527012/41813129-50ceec0a-7706-1

[2018-06-23 22:09] tomck commented on #1408
I feel this _may_ affect Windows too, because trying in both 2.4.1 and 2.4.2 rc6 I get the "not valid" message as well. This is from my NVR, and unfortunately it's somewhat urgent (I just want to crop out all the irrelevant footage). Here's my MediaInfo output:

[code]

[2018-06-23 23:41] ferdnyc commented on #1555
Those changes are now published in OpenShot PR #1726, though they're not yet incorporated into any builds.

[2018-06-24 00:18] steinybot opened #1727 "Cannot open a project on MacOS that was created on Windows"
**Describe the bug**
When opening a project that was created in Windows it cannot be opened in MacOS. It says that the imported files cannot be found and the file selection dialog does not allow the video to be selected. Using the same relative paths does not work either.

**System Details (please complete the following information):**
 - Windows 10 and MacOS 10.13.5
 - 2.4.2 RC2 -> 2.4.2 RC6 (I d

[2018-06-24 01:38] erikjms commented on #1708
Still happening with the latest non-rc AppImage that I see at https://www.openshot.org/download/

OpenShot-v2.4.1-170-g2ff63e3-9ae61e50-f32c7c30-x86_64.AppImage (21 June 2018)

running on:
AVLinux 2018 (based on Debian Stretch)

[2018-06-24 06:28] ferdnyc commented on #1408
Hmm, no, it doesn't seem like it. I'm not certain why OpenShot isn't recognizing your video, but it isn't due to outdated libs.

Both 2.4.1 and 2.4.2-rc6 use `libavformat-57.dll` from ffmpeg 3.4.1, which was just released back in December. The Linux AppImage builds, by contrast (both 2.4.1 and 2.4.2-rc6) use `libavformat.so.54` from libav-9.20, which was released back in September 2016.

(And that

[2018-06-24 06:33] ferdnyc commented on #1408
(I wonder if the issue could be the fact that the HEVC video is contained in an AVI file, rather than -- as one would expect -- an MP4 container? That _might_ be throwing FFMpeg and/or libopenshot a curve. Purely a wild theory based on pretty much nothing at all, mind you.)

[2018-06-24 06:35] tomck commented on #1408
I tested that theory by using mkvtoolnix to repackage it as mkv and still
had issues, I do have a 5 meg file I could send for test purposes.

On Sun, Jun 24, 2018 at 1:33 AM Frank Dana <notifications@github.com> wrote:

[2018-06-24 06:38] ferdnyc commented on #1408
Couldn't hurt to have it available, if you can ZIP it up an upload it. (I _think_ GitHub will accept 5MB uploads, that's pretty small.) I'd open a new Issue, though, because whatever problem you're having is definitely not related to the AppImage library versions. :grin:

[2018-06-24 06:46] tomck opened #1728 "Cannot import HEVC file on 2.4.1/2.4.2rc6 on WIndows 10"
**Describe the bug**
I can open this file from my NVR in VLC but not OpenShot
[HEVC-fail-file.zip](https://github.com/OpenShot/openshot-qt/files/2130541/HEVC-fail-file.zip)

**System Details (please complete the following information):**
 - Operating System / Distro: Windows 10 x64
 - OpenShot Version: 2.4.1

**To Reproduce**
Steps to reproduce the behavior:
1. Click Green + icon to add file
2. Se

[2018-06-24 07:33] peanutbutterandcrackers commented on #1727
Hey there!

Thank you for the really well-documented bug report. I am even more excited that you are coming from the mac platform. We don't have many testers using mac. Perhaps you'll even be able to contribute fixes to this project soon.

This is a well known issue and we expect it to be resolved in the future releases. [Here](https://github.com/OpenShot/openshot-qt/issues/1325) is a really good

[2018-06-24 07:47] peanutbutterandcrackers commented on #1708
Gentlemen, I have good news for you!

Currently, a fix is in progress. And hopefully, this fix will be released in `2.4.2.1` - the bug fix release (if all goes well). `2.4.2` is still not out yet, but will soon be.

If you want to follow the developments regarding the solution to this problem, you can follow it [here](https://github.com/OpenShot/openshot-qt/pull/1726). However, I would advise you

[2018-06-24 08:02] peanutbutterandcrackers commented on #1069
@steinybot - [Here](https://github.com/OpenShot/libopenshot/commit/04e4f63ea816fc7c722bcf42b7153c3143894424) is the latest commit with regards to this issue. It does need some more polishing up. Perhaps some new mathematical formulae? [This](https://github.com/OpenShot/libopenshot/commit/1ec9e4426a94181187ac1f039971d7700911abb2) was the first attempt, that I am aware of, to deal with this sort of

[2018-06-24 08:11] peanutbutterandcrackers commented on #1555
Awesome! I hope the PR will make it into the `2.4.2.x` bug-fix releases! :+1:

[2018-06-24 08:14] peanutbutterandcrackers commented on #1702
@IndyBaller - I believe you are using Windows and @steinybot - I believe you're using a mac.

While I do not encounter the issue on Linux, I would like to suggest you [attach the logs](https://github.com/OpenShot/openshot-qt/blob/develop/CONTRIBUTING.md). Please, however, delete the (probably) already huge logs first (or delete the `.openshot_qt` folder altogether) and recreate the crash and uploa

[2018-06-24 08:16] peanutbutterandcrackers commented on #1724
[Here](https://github.com/OpenShot/openshot-qt/issues/1400) is a good tutorial showing how to fix this issue (posted by another kind user). Hope that helps!

[2018-06-24 08:19] peanutbutterandcrackers commented on #1725
Perhaps the file has been moved to some place else from where it was before, good sir. Please make sure the file is in the same place where it was when the `.osp` file (the OpenShot project) was saved.

[2018-06-24 08:42] peanutbutterandcrackers commented on #1728
I can confirm that this is an issue. OpenShot does not support HEVC encoded files. And, after taking a look at [Wikipedia](https://en.wikipedia.org/wiki/High_Efficiency_Video_Coding), I doubt it will ever happen.

[2018-06-24 08:50] peanutbutterandcrackers commented on #1728
I was unable to transcode the video using [HandBrake](https://handbrake.fr/) or [ffmpeg](https://ffmpeg.org/). However, [VLC](https://www.videolan.org/vlc/download-windows.html) was able to transcode it perfectly into `.mkv` file which I was then able to import into OpenShot!
![screenshot from 2018-06-24 14 34 32](https://user-images.githubusercontent.com/26764547/41817498-c81e301c-77bb-11e8-9923-

[2018-06-24 08:53] peanutbutterandcrackers commented on #1728
If you're a geek, you could [try transcoding like this](https://wiki.videolan.org/Transcode), using VLC.

An easier way would be [this](https://www.youtube.com/watch?v=1jMuRnMSQoU).

Once the conversion is done, use the exported file to import into OpenShot and edit.

Hope that helps!

All the very best! :+1:

[2018-06-24 09:04] peanutbutterandcrackers commented on #1721
First and foremost, the `.png`s that you have attached, they do not have transparency, good sir. I opened them from GIMP and photo-viewer and it does not have transparency.
![screenshot from 2018-06-24 14 43 53](https://user-images.githubusercontent.com/26764547/41817570-6140d38e-77bd-11e8-87ff-ca4671701d3d.png)
![screenshot from 2018-06-24 14 43 28](https://user-images.githubusercontent.com/26764

[2018-06-24 09:41] peanutbutterandcrackers commented on #118
@mcori - How did you solve it, good sir?

@DavideCatto - Since the issue has been closed, I think mentioning him is the only way to send him a notification (I might be wrong, though).

[2018-06-24 09:46] peanutbutterandcrackers commented on #1720
I highly doubt that this will be fixed soon. Perhaps in `2.4.2.x` bug fix releases. But I don't think the devs will get around to fixing this right away, sadly...

[2018-06-24 09:52] peanutbutterandcrackers commented on #1723
Version `2.4.2` will be out soon, with a lot of improvements. Perhaps this issue has been resolved in the RC-builds, already. You could try out the Release Candidates over at daily builds section of the download page over at http://openshot.org/download

[2018-06-24 09:54] peanutbutterandcrackers commented on #1596
I will, again, post this thread over at the slack channel and see if any of the devs can find anything... sorry to keep you waiting, @nsgitfr.

[2018-06-24 10:01] peanutbutterandcrackers commented on #947
1. You could [try out the latest daily builds](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914) to see if they work any better.
2. Instead of using the `right click > fade` method to do the fade ins and outs, you could go through [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) and learn how to use `alpha` value keyfram

[2018-06-24 10:32] peanutbutterandcrackers commented on #1678
@sunbearc22 - Hmm... I will post this thread to the devs slack channel to get their attention. Sorry for keeping you waiting. Could you please perform an upgrade in the meantime? Thanks!

Done! Reported!

[2018-06-24 10:41] peanutbutterandcrackers commented on #1692
@ruffieuxh - Thank you for the good word. Hope you will keep on loving and supporting OpenShot!

[2018-06-24 11:02] peanutbutterandcrackers commented on #1669
@nsgitfr - That is lot of questions packed into one. Haha. I don't really know which one is better - MTS or MP4. You chould mix the two, yes. And having both be in the same FPS should be preferable (and not an issue, as it'll be from the same video capture device, I believe). You might want to look into [creating custom profiles](https://www.openshot.org/static/files/user-guide/profiles.html#custo

[2018-06-24 11:07] peanutbutterandcrackers commented on #1693
@Eta76 - OpenShot uses a lot of C++! [libopenshot](https://github.com/OpenShot/libopenshot) is the multimedia framework that OpenShot uses. And it is entirely written in C++. So, openshot-qt is just a py-qt wrapper around the C++ libopenshot core, in essence. Perhaps you could help us out, sir!

[2018-06-24 12:03] vk4tnt opened #1729 "Video preview does not work"
**Describe the bug**
The video preview does not work. When I import a wmv video file I created when Windows still had a Movie Maker, the project shows the first frame of my video but when I click play, it still only shows the first frame. The audio progresses nicely just the video does nothing. My only intention is to cut a few sceness out of the video. Please advise
**System Details (please compl

[2018-06-24 12:17] bobcrikey commented on #1721
hello again, im redoing the png's again, its time consuming but i should have it done by this time tomorow night my time, and i noticed also the png's werent transparent as well and i cant find the original png's either that i did, i have the original pictures i took 14 of them to make the tardis spin on it its own.
with my kitchen wall as back drop and you dont want to see that mate.:) or maybe y

[2018-06-24 12:32] peanutbutterandcrackers commented on #1729
It might be because of the `.wmv` container. Please try to use [HandBrake](https://handbrake.fr/) to convert the video into some other container like `.mkv`. That should make it work. Hope that helps! :+1:

[2018-06-24 12:32] peanutbutterandcrackers commented on #1721
Hmm... that is strange. I suggest you [attach the logs](https://github.com/OpenShot/openshot-qt/blob/develop/CONTRIBUTING.md) here, along with system specs and all. Also, I suggest you delete the existing logs first so that we don't have to deal with *enormous* logs.

[2018-06-24 13:10] vk4tnt commented on #1729
Thanks for that. It worked, with the exception that HandBrake didn't convert my whole file. Never mind, I will investigate into the matter.
Thanks again ;-)

[2018-06-24 15:35] treetopper1 opened #1730 "What app should be used for opening an osp file? My first videos were mp4, but now they're osp."

[2018-06-24 15:50] ruffieuxh commented on #1714
Hi,

I am clearly doing both within the track and between tracks. And yes, it mostly crashes between tracks.

How would I then do a nice transition between tracks? I think I got the idea from you introduction videos. :-)

Please find attached a screenshot requested.
![bildschirmfoto vom 2018-06-24 17-48-55](https://user-images.githubusercontent.com/12776226/41820778-24323e28-77d7-11e8-942b-88ca8af

[2018-06-24 19:46] DylanC commented on #1727
Dup of #1325

[2018-06-24 19:54] DylanC commented on #1596
@nsgitfr @peanutbutterandcrackers - I see in libOpenshot.log:

---- Unhandled Exception: Stack Trace ----
Timeline::add_layer (Copy Audio) (source_clip->Reader()->info.has_audio=1.0000, source_frame->GetAudioChannelsCount()=2.0000, info.channels=2.0000, clip_frame_number=174.0000, timeline_frame_number=132.0000)

So its something to do with the audio but I've no idea what. :laughing:

[2018-06-24 19:57] DylanC commented on #1730
@treetopper1 - Openshot should be used to open the .osp files. (Openshot project files - .osp)

[2018-06-25 02:11] peanutbutterandcrackers commented on #1730
Also, when you are done editing and you finally export it, you can have the `.mp4` (or `.mkv`, etc) file. :)

`.osp` : OpenShot Project :+1:

Hope that helps!

[2018-06-25 02:14] peanutbutterandcrackers commented on #1729
You could also use [VLC](https://www.videolan.org/vlc/download-windows.html), it's a really good swiss-army knife for all things video related. [Here](https://www.guidingtech.com/8848/use-vlc-player-to-convert-videos-from-one-format-to-another/) is how you convert videos using VLC.

Hope that helps!

[2018-06-25 02:15] peanutbutterandcrackers commented on #1730
Also, when you are done editing and you finally export it, you can have the `.mp4` (or `.mkv`, etc) file. :)

`.osp` : OpenShot Project :+1:

Hope that helps!

P. S: You might also want to go through [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) to go from zero to hero in OpenShot. :+1:

[2018-06-25 02:20] peanutbutterandcrackers commented on #1714
Hmm... I see. It seems you have put videos that you want to show in lower tracks. Which is not how OpenShot works. We should put videos in the upper tracks... It's like stacking a bunch of see-through pages on top of each other.

Please go through [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) to go from zero to hero in OpenShot. Maybe then you'll se

[2018-06-25 02:40] peanutbutterandcrackers commented on #1596
@N3WWN probably can provide some insight into this. :)

[2018-06-25 03:02] bobcrikey commented on #1721
hello again, iv redone the 14 pngs again , however there is still errors in openshot including cutting off
part of the screen and after rendering it, here are the new tardis png's, a video  and a still image to show you , if you look at the picture snapshot you can see the half the of the tardis right side door is missing
and you can see this also in the video

[new tardis png.tar.gz](https://gith

[2018-06-25 03:17] peanutbutterandcrackers commented on #1721
I'm sorry. While juggling all the issues here on GitHub, I often forget the details about them and repeat the same thing over and over again. Hope you will pardon my confusion.

I have downloaded the files and will be testing out soon. I will get back at this ASAP.

[2018-06-25 03:28] peanutbutterandcrackers commented on #1721
Good sir, I took a look at the new set of `.png`s and they are still - even now - without transparency. Here:
![screenshot from 2018-06-25 09 04 22](https://user-images.githubusercontent.com/26764547/41828767-caeebbb8-7856-11e8-97ed-db2c7398c128.png)

However, I think I will guide you through making `.png`s with transparency using the same files.

1. Open [GIMP](https://www.gimp.org/)
2. Open the

[2018-06-25 03:56] peanutbutterandcrackers commented on #1151
@sprnza - So, has this been resolved for you, good sir?

Ah! So basically there's two `null` values there and that is what was causing the problems?

I checked a few `.osp` projects that I had and they only have `null` values assigned to some property inside braces. Maybe it's just that somehow these two `null` values ended up outside that is causing the trouble?

@N3WWN - Could you perhaps take t

[2018-06-25 07:54] #1730 closed

[2018-06-25 11:03] ferdnyc commented on #1596
Sorry, been distracted with other things recently, but I did note @KaylynnStrain 's comment...

Your **COMPUTER** restarts while exporting? Completely? Like, with no warning, just exporting exporting exporting... screen goes black, and suddenly it's booting up again like you just turned it on?

If that's the case, it's _**very**_ unlikely that OpenShot is directly responsible for the problem. It's

[2018-06-25 14:42] ImUser04 opened #1731 "Can't see video preview and "media pool""
BUG RESOLVED

[2018-06-25 15:24] ferdnyc commented on #1596
BTW: One way to determine whether there _is_ an issue with overheating, or some other hardware fault with the computer, is to take OpenShot out of the equation and stress the CPU and RAM directly. (Bad RAM is one more possibility I left out of my previous comment.)

The [Prime95](https://www.mersenne.org/download/) tool is frequently used by overclockers and system builders to stress-test systems,

[2018-06-25 15:46] N3WWN commented on #1721
When importing a sequence of images, the images need to be the same size or "odd" things may occur.  I'm guessing that the artifacts seen in the imported sequence are due to this.

Width                                    : 474 pixels
Height                                   : 928 pixels

Width                                    : 554 pixels
Height                                   : 917 pixels

W

[2018-06-25 16:15] N3WWN commented on #1596
@peanutbutterandcrackers wrote:

Actually, I think @ferdnyc is right on target with this one;  it sure sounds like a hardware issue at this point if the system is reboot/restarting.

[2018-06-25 22:02] nsgitfr commented on #1669
@peanutbutterandcrackers MTS is AVCHD is 1080/50p, so, from the specs, it is a better choise...
But have to accommodate with all the upcoming process... and wonder depending destination... DNLA served to a TV, DVD, or played on computer...
Will have to check sources videos, as each may come with a different resolution or worse, with different FPS !

[2018-06-25 22:29] nsgitfr commented on #1596
Sorry for confusion, but MY initial thread and follow up are based on a simple test, and nearly get the same results...
I drop a video in the file box, from there, I drop in on track, split in 2 parts with scissors, then move the right over the left to get an effect, then, neither play with play head back and forward or export and then :
- with old daily builds launch.exe was crashing, and
- with

[2018-06-26 00:50] bobcrikey commented on #1721
Thats very interesting N3WWN, thanks for taking the time to look at that,

Were there any artifacts present when you recropped the images and brought
them into openshot -dev 170 or rc6 as an image sequence that you noticed?

[2018-06-26 00:54] bobcrikey opened #1732 "openshot under wine installation probs"
Hello everyone , look what happened when i tried to run openshot -rc6 win 64 version
under wine for linux.

i'd like to know is where did those chinese writings come from when im installing an english exe.
too weird, it also didnt run.maybe i should had tried the 32bit version but

its very interesting isnt :)
![where did this come from](https://user-images.githubusercontent.com/40479177/41882974-

[2018-06-26 01:02] dubblel opened #1733 "RunTime error Microsoft Visual C++ on launch"
Was in the middle of editing a video and during a video preview, the program crashed giving me the RunTime Error. This has happened before but I was always allowed to re-open the program and continue on. This time however, every time I launch the program, it immediately crashes and gives me the runtime error message. I cannot get back into the program.

**System Details (please complete the follow

[2018-06-26 01:51] bobcrikey commented on #1721
Well thanks to N3WWN, i resized my png's and jpg's so each individual picture is the same width/height
and now no artifacts or grey blocks or crashing openshot(touch wood) at the moment, when brought
in as an image sequence.
cheers
 bob

a 6 pack of beer is on the way to your place mate.

[2018-06-26 04:57] peanutbutterandcrackers commented on #1721
Awesome! Thank you @N3WWN! You are always a great help, good sir!

Hope you create awesome videos with OpenShot, @bobcrikey!

Closing this as resolved.

[2018-06-26 04:57] #1721 closed

[2018-06-26 05:00] peanutbutterandcrackers commented on #1733
[This](https://github.com/OpenShot/openshot-qt/blob/develop/CONTRIBUTING.md) is how you attach the logs. Please delete the `.openshot_qt` folder first and then restart OpenShot (and recreate the crash). Doing so would give us a very succinct log that will have exactly the clues as to how the crash is occurring and will help the devs fix it. Hope that helps. Looking forward to seeing the logs. All

[2018-06-26 05:01] peanutbutterandcrackers commented on #1669
@nsgitfr - Hmm... looking forward to the results of your further investigations!

[2018-06-26 05:13] peanutbutterandcrackers commented on #1732
Hmm... It would be nice if we could work into resolving this. But since OpenShot is directly available on Linux Distros (and works best on them), I think this won't be quite the priority. Perhaps this would be an issue for the Wine devs, instead? But thank you for pointing this out.

[2018-06-26 05:15] peanutbutterandcrackers commented on #1731
Awesome! Glad it's been resolved. `View` > `Views` > `Simple View`. Really simple, isn't it?

Hope you create awesome videos with OpenShot!

[2018-06-26 05:15] #1731 closed

[2018-06-26 05:53] dubblel commented on #1733
Thanks for the info on how to create logs!

I managed to get past the issue. Seems the video clip I was working on was the issue as it crashed during editing and was unsaved.

When I reopened the program it opened the back up file to get me back where I was, but where I was was causing the crash.

So I deleted the clip I was using and it got me back and running.

I had been using the clip in anoth

[2018-06-26 08:41] Sameroney opened #1734 "jerky timeline resolution"
Hello,
i downloaded openshot to edit and render videos in 2.7k and 4k.
But the video in the timeline is very slow and jerky … I think my PC just is not good enough … is it possible to reduce the quality of the video (in the timeline), so i can work fluent?
If I render the video, it should be in good quality afterwards…

Besides, can you suggest any good basic tutorial? Videos from Youtube?
Greetin

[2018-06-26 09:28] DylanC commented on #1732
@peanutbutterandcrackers - Yes, I think this really would be the lowest of priority. 😆

[2018-06-26 10:33] nsgitfr commented on #1669
@peanutbutterandcrackers I will give some tries... Have to fix the crash issue 1st ;o)

[2018-06-26 11:20] peanutbutterandcrackers commented on #1669
@nsgitfr - Hmm... Please do keep on being patient and showing love to OpenShot. After all, it is our efforts as users that will push this project forward. :)

[2018-06-26 11:43] peanutbutterandcrackers commented on #1733
I see. Awesome! I'm glad that it's working for you. Hope you create awesome videos with OpenShot! Please do look forward to future versions of OpenShot - they will come with tons of performance and stability fixes!

[2018-06-26 11:44] peanutbutterandcrackers commented on #1733
May I close this issue now?

[2018-06-26 13:00] N3WWN commented on #1669
For me, video from my Canon digital camcorder which saves videos in MTS format (video is AVC High@L4 with variable bitrate maxing out at 16Mbps and audio is AC3) is much _easier_ to edit if I first convert it to MP4 (video is AVC Main@L3.1 with fixed bitrate of 3.8Mbps and audio is AAC).

There is no loss in quality after converting to MP4 that the human eye can distinguish with the video from my

[2018-06-26 13:55] dubblel commented on #1733
Yes. Thanks again for your info.

[2018-06-26 14:52] #1733 closed

[2018-06-26 19:24] Petr-Ledvina opened #1736 "Freeze when move in timeline"
Openshot 2.4.1: I add video to time line, move in time to e.g. 50% of length of video. Click play video: OK. Than move in timeline to e.g. 40%. Click to play video: video have frozen. In old Openshot 1.4.3 no problem with the same video.
**System**
Ubuntu 16.04, Intel Core i7, 8G RAM
**To Reproduce**
- Open new project, import one video file (1 file, 10 GB, 80 minutes, codec: H264,1920x1080,50fps

[2018-06-27 00:17] peanutbutterandcrackers commented on #1736
I would suggest that you [switch to the latest daily builds](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914). There have been a ton of improvements in OpenShot since version 2.4.1. Also, if you're into stable releases only, you could wait for version 2.4.2 - which should be out really soon!

[2018-06-27 00:52] BobcatArts opened #1737 "Program freezes when loaded or playing video from Campark Action Cam ACT740"
**Describe the bug**
Loading video from a Campark Action Cam ACT 740 causes the program to freeze when I try to play. Video will work if opened in ShotCut and then just saved again.

**System Details (please complete the following information):**
Windows 10.  Openshot version 2.4.1-x86-64

**To Reproduce**
1- load video file from Campark to project.
2- Drag to Track
3- Play

**Expected behavior**

[2018-06-27 00:56] peanutbutterandcrackers commented on #1737
I would like to suggest that you try out the [latest daily build](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914). There have been tons of improvements in the daily builds. Hope that helps!

[2018-06-27 01:14] BobcatArts commented on #1737
I tried that first thing and no dice!

[2018-06-27 01:40] tiabutterfly commented on #1621
Anybody?

[2018-06-27 07:30] ferdnyc commented on #1425
I think we should start by getting our terminology straight. Nobody could ever accuse the OpenShot timeline of being "cluttered", there's barely anything **ON** it. Especially compared to that first screenshot, which is a _heavily_ cluttered mess of controls. What the OpenShot timeline _could_ be accused of being is "noisy". That's not unfair.

At the same time, the "here's what other programs do"

[2018-06-27 08:04] DylanC commented on #1621
@peanutbutterandcrackers - Already gave my opinion on the matter and it seems to be true. The .osp file sent on is blank, so the file was interrupted during the save process.

@tiabutterfly - You project file is blank perhaps as a result of the save getting interrupted. Sadly I'm not sure there is really much we can do here.

[2018-06-27 11:33] nsgitfr commented on #1669
Looks fine, ok for so. Thx @N3WWN
How do you convert toMP4 ? External tool or OpenShot ?
Any other change for example, FPS to get a standard if mixing different sources or resolution to get the same where ever we are in the project ?
Not sure where to set this, before editing (along with MP4 convert) or from OpenShot final project...

[2018-06-27 13:54] symphorien commented on #1164
I just got a very similar stacktrace with `./OpenShot-v2.4.1-x86_64.AppImage` on debian stretch.
This happened after another crash, I reopened the project, clicked play in the preview and openshot crashed. This is consistently reproducible by reopening openshot and reclicking on play.
The same behavior can be observed with today's daily build: `./OpenShot-v2.4.1-172-gb90e159-2f45a4eb-f32c7c30-x86_

[2018-06-27 14:43] MisterTeeXD opened #1738 "Timeline Color As Solid"
**Is your feature request related to a problem? Please describe.**
The timeline's color displays as a solid color

**Describe the solution you'd like**
The timeline's color does not blend in with the rest of Openshot's UI Color so i think the timeline needs to have solid colors

**Describe alternatives you've considered**
Technically you could go into the timeline folder in Openshot's folder and c

[2018-06-27 14:56] N3WWN commented on #1425
.
Whereas the gutter between the tracks makes it easier to clearly see where each track is located. It also, perhaps even more usefully, provides a potential area for user interaction. (For example, say one day OpenShot added the ability to reorder tracks by dragging, or to insert new tracks by dropping a clip between two existing tracks. That gutter becomes the drop zone for inserting elements be

[2018-06-27 15:03] N3WWN commented on #1669
I use [ffmpeg](https://ffmpeg.org) to convert from MTS to MP4, but there are other tools like [handbrake](https://handbrake.fr) which are very good.

For me, my projects all use a 60 FPS profile.  My source clips are either 60 FPS or 100 FPS and OpenShot is fine with either.  I do find that if all my clips have the same frame rate as the project profile, OpenShot feels a little "snappier", but tha

[2018-06-28 01:10] jabowery commented on #1736
Is there a more recent Windows build?

[2018-06-28 01:40] peanutbutterandcrackers commented on #1702
@steinybot - Hey there! I have just notified the devs regarding the detective work that you're doing here. So, perhaps soon someone will be here to follow through? Please do continue with your investigations, good sir! :+1:

[2018-06-28 01:55] bobcrikey opened #1739 "error message popup everytime openshot starts"
Hello can any dev's tell me why this pop up error message box always comes on screen
every time i start openshot linux mint 18.3 and it doesnt do this on my ubuntu laptop only on mint.
I asked to jonathan about this problem but he never replied.

any ideas guys?
thanks
  bob
![mint error openshot](https://user-images.githubusercontent.com/40479177/42008657-1153a332-7aca-11e8-8ffc-7f671018ccf1.jpg)

[2018-06-28 02:00] peanutbutterandcrackers commented on #1164
@symphorien - Good sir, thank you for the report. I have notified our BDFL/main dev regarding this. Quite interesting. I just found out today about how the stack traces were smaller in the daily builds. On a side note: Perhaps you would find [libopenshot](https://github.com/OpenShot/libopenshot) - our library - quite interesting. Perhaps you could contribute, too? [Sorry couldn't help but notice y

[2018-06-28 02:02] peanutbutterandcrackers commented on #1164
On a side note however, this issue does not happen on my Elementary Machine using the latest daily PPA. Strange.

[2018-06-28 02:05] peanutbutterandcrackers commented on #1738
Hmm... I didn't know I could change the timeline color, technically. Do you perhaps have a screenshot of your custom timeline? Can the change also be made through the `.openshot_qt` folder in one's home directory? If so, perhaps that should be added in the docs so that the users can put their own manual styles easily?

[2018-06-28 02:44] peanutbutterandcrackers commented on #1737
@BobcatArts - Could you please then try [attaching the logs](https://github.com/OpenShot/openshot-qt/blob/develop/CONTRIBUTING.md) so that we can try to figure out what exactly is causing the freeze? "No dice" means "No luck", right? Or has this issue been resolved? o.O

[2018-06-28 03:10] bobcrikey commented on #1739
I DO NOT RUN OPENSHOT IN A TERMINAL WINDOW MATE. WHY WOULD YOU THINK THIS?
its been installed from the app image itself
and yes its a damm nuisance this pop up message

[2018-06-28 03:29] peanutbutterandcrackers commented on #1739
Because it is one plausible reason behind this.

I suggest you try out another AppImage from the [daily builds](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914). Or, even better yet, switch to using the [latest PPA](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914).

[2018-06-28 03:33] peanutbutterandcrackers commented on #1621
Ooops. My bad. I didn't even check the `.osp` file.

@tiabutterfly - Sorry. It seems your `.osp` file is, indeed, blank; and there isn't much we can do about it. Sorry.

[2018-06-28 03:35] peanutbutterandcrackers commented on #1739
Also, please be a little more patient with the program. This is not a commercial program but a labour of love of a single man - Mr. Jonathan Thomas. And we are all just trying to help him out with this. Nobody receives any compensation for the work they do on this amazing software. We all do it because of our love for the program. That is why the bugs won't be fixed fast, the replies will be tardy

[2018-06-28 04:39] cinlouval opened #1742 "How do I generate the logs?"
Dont understand how to do this for submission with crash report

[2018-06-28 08:12] DylanC commented on #1621
@tiabutterfly - We would help you if possible but unfortunately we can't in this situation due to your file simply getting lost during the save process.

All I can recommend is to start again but definitely use the **daily builds** as you should have much less trouble with this version. If you want you could also wait until v2.4.2 is released which will be almost the same as the current daily buil

[2018-06-28 12:13] DylanC commented on #1739
@bobcrikey - I would recommend to try a daily build and see if it still happens. Try to stay calm if possible. 😉

[2018-06-28 12:16] DylanC commented on #1738
@peanutbutterandcrackers - Seems almost like a duplicate of this #1425 , what do you think?

[2018-06-28 12:17] #1725 closed

[2018-06-28 12:18] DylanC commented on #1742
@cinlouval - Follow suggestion by @peanutbutterandcrackers. Closing question as answered but do let us know if this worked.

[2018-06-28 13:04] DylanC commented on #1738
@peanutbutterandcrackers - Yes, it is a much smaller change to be fair.

[2018-06-28 17:45] BobcatArts commented on #1737
Issue has not been resolved. Logs are attached, I think? I'm very new at this stuff.
[openshot-qt.log](https://github.com/OpenShot/openshot-qt/files/2146339/openshot-qt.log)

[2018-06-28 17:54] nicolardot opened #1743 "Issue with openShot and FLAC export (Windows 7)"
Hello,

Congratulation for this nice work : openShot !

I wanted to export a video with a nice quality of sound, so with lossless audio. Is FLAC the only way to do this ?

I have just begun with openShot yesterday, with the objective of keeping a video archive for high quality musical recording, and also if possible a HD video.

So I have a HD video on a track, and a PCM audio track of good qualit

[2018-06-28 17:56] nicolardot commented on #1743
I would like to have some help for export crash with ogg(theora/flac), windows 7

[2018-06-28 17:58] nicolardot commented on #1743
I would like to have some help after a crash with ogg(theora/flac) export with openShot (windows 7 pro)

[2018-06-28 17:59] cinlouval commented on #1742
Good day

I did as instructed - deleted the files and re-ran the process.  I saw the
file generating up to roughly 65% before it crashed and software closed on
its own.

There is a file (blue highlight in first image) but when I tried to open,
it seemed as though it would but then the following message (image) came up.

Log files attached.

Looking out for your reply.

Thanks
CV

Yours sincerely

[2018-06-28 18:12] DylanC commented on #1737
@BobcatArts - What video format are you working with? Looks like the freeze happens on track drop rather than the Play action. By the time you try to Play I think its already frozen or in a frozen state.

[2018-06-28 19:14] cinlouval commented on #1742
Hello Dylan...How do I change the subject to more appropriate wording? I re-opened the issue but it now relates to Openshot crashing during export of recording.

Rgds
Cindy

[2018-06-29 01:03] cinlouval opened #1746 "Openshot crashes and closes after generating over 70% of the file"
G/day

**Describe the bug**
A clear and concise description of what the bug is.

**_Openshot crashed and closed while exporting a file into a DVD format. It reached more than 65% shortly before crashing._**

**System Details (please complete the following information):**
 - Operating System / Distro: **_Windows 10_**
 - OpenShot Version [e.g. 2.4.1]  **_I think this is the version....(did not pay

[2018-06-29 01:05] cinlouval commented on #1742
I deleted the qt files again and tried output to a different format which I
opened under a new issue.

Should I close this one?

Yours sincerely

Cindy-Lou Valentine

Mobile: 18687359018
Website: http://www.cindylouvalentine.com
Email: cindylouvalentinephotos@gmail.com

*Live the moment...Be the Moment!*

Photos submitted via email or other media :  ©Cindy-Lou Valentine, All
rights reserved.

On T

[2018-06-29 05:18] foobarbecue commented on #342
I can't see these buttons... where are they??? Openshot 2.4.1, Windows 10
![image](https://user-images.githubusercontent.com/854789/42074434-1d7d81d0-7b21-11e8-8c35-e2c690ec8129.png)

[2018-06-29 07:37] DylanC commented on #1746
@cinlouval - Hello, Would you be able to try the same export with OpenShot daily builds? We are at the Release Candidate stage (RC) and v2.4.2 will be out soon. Generally people have a much better experience with the daily builds. (especially on Windows)

[2018-06-29 07:39] DylanC commented on #1742
@cinlouval - I will close this one for you. Since your original question about the logs has been answered. :) In the future if you want to just change the title you should see an "Edit" button on the right side of your issue title.

[2018-06-29 07:39] #1742 closed

[2018-06-29 11:35] BerndVME opened #1748 "Error when opening project"
I get the error 'NoneType' object has no attribute 'get' and sometimes I also get the issue that he tells me he cannot create thumbnail because it already exists (I rename the folder and its ok again). -> [WinError 183] Cannot create a file when that file already exists: 'C:\\Users\\Bernd PC\\.openshot_qt\\thumbnail' Please help thx

[2018-06-29 12:33] cinlouval commented on #1746
Willing to try...

Let me go figure how to do

Yours sincerely

Cindy-Lou Valentine

Mobile: 18687359018
Website: http://www.cindylouvalentine.com
Email: cindylouvalentinephotos@gmail.com

*Live the moment...Be the Moment!*

Photos submitted via email or other media :  ©Cindy-Lou Valentine, All
rights reserved.

On Fri, Jun 29, 2018 at 3:37 AM, DylanC <notifications@github.com> wrote:

[2018-06-29 12:34] cinlouval commented on #1742
Cool...thanks

Yours sincerely

Cindy-Lou Valentine

Mobile: 18687359018
Website: http://www.cindylouvalentine.com
Email: cindylouvalentinephotos@gmail.com

*Live the moment...Be the Moment!*

Photos submitted via email or other media :  ©Cindy-Lou Valentine, All
rights reserved.

On Fri, Jun 29, 2018 at 3:39 AM, DylanC <notifications@github.com> wrote:

[2018-06-29 12:58] cinlouval commented on #1746
Do I uninstall first then do the daily build or just grab it and it
replaces the old version?

Yours sincerely

Cindy-Lou Valentine

Mobile: 18687359018
Website: http://www.cindylouvalentine.com
Email: cindylouvalentinephotos@gmail.com

*Live the moment...Be the Moment!*

Photos submitted via email or other media :  ©Cindy-Lou Valentine, All
rights reserved.

On Fri, Jun 29, 2018 at 8:33 AM, CLV P

[2018-06-29 13:31] bobcrikey commented on #1739
hello everyone, i just might had solved this problem, i was looking through some of the earlier
problems with openshot and both dylan and peanuts were discussing libsodium18, so i checked in the terminal and it was already installed and the latest, ok then i remembered about ppa so i installed
ppa and it downloaded the latest dev and installed it, well this time it ran without that pop up message

[2018-06-29 13:33] MisterTeeXD opened #1749 "How Do I Make A Keyframed Image Go Fast???"
Hello, I have a question, how do I make a keyframed image go fast, in other words, how do I change the speed?

[2018-06-29 14:15] N3WWN commented on #1749
Are you asking about changing the displayed duration of a still image or increasing the playback speed of a video clip?

[2018-06-29 15:06] N3WWN commented on #1749
Gotcha!

There isn't a keyframe editor at this point in time, but it's on the "TODO" list for a future release.

So, you could manually add another keyframe earlier in the timeline to make the animation occur sooner.

If you want to double the speed (not just adjust it slightly), you can render the animation to a video file (.mp4 or something) and import that clip into your project and use the `Ti

[2018-06-29 15:09] MisterTeeXD commented on #1749
Ahh Thank you.

[2018-06-29 15:09] #1749 closed

[2018-06-29 18:49] Stil57 opened #1750 "Not responding"
I got to many Not responding while im using it it seems a great editting software but cant really try it out like that

[2018-06-29 22:48] MisterTeeXD opened #1752 "Last Few Frames Frozen When Exported"
**Describe the bug**
When a video has rendered and it is played on a video player, the last few frames will be frozen

**System Details (please complete the following information):**
 - Operating System / Distro: Windows 10
 - OpenShot Version: 2.4.2-rc10

**To Reproduce**
Steps to reproduce the behavior:
1. Go to File
2. Click on Export Project
3. Go to export location
4. See error by playing the

[2018-06-30 05:45] malaoudi opened #1754 "Problem with exporting a video. Error: Sorry, there was an issue exporting your vide. Could not open or write a file."
When I click on export, as MP4 or other forms, it brings this error.
Error: Sorry, there was an issue exporting your vide. Could not open or write a file.

[2018-06-30 09:01] cinlouval commented on #1746
I downloaded the daily build but still experienced the problem- though it
seemed that  a larger percentage of the file generated.

Then I wondered whether my combination of choices for Profile/Target/Video
Profile/Quality was affecting the outcome.  I  did some reading to see what
was best format for  putting videos on Flash drives and DVD's.  I
experimented with a few of them for Flash Drive and

[2018-06-30 21:19] DylanC commented on #1750
@Stil57 - If you are using Windows and OpenShot v2.4.1 I would recommend you try a daily build for a better experience. Also you could wait until v2.4.2 is released and try that version.

[2018-07-01 02:05] peanutbutterandcrackers commented on #1750
Version 2.4.2 is already out! Please try it out: https://www.openshot.org/download/

[2018-07-01 02:08] peanutbutterandcrackers commented on #1752
Please try out v2.4.2. Perhaps it'll work better. If not, I'll add this to the list of things to be solved for 2.4.2.x bug-fix releases (if we can reproduce this). Thank you for being our awesome beta-tester. You're awesome! :+1:

[2018-07-01 02:11] peanutbutterandcrackers commented on #1754
That is strange. Are you perhaps using windows? Maybe this has something to do with permissions. Could you please attach a screenshot? That should help us understand the situation better. I, myself, have never really ran into this issue.

Also, version 2.4.2 is out: https://www.openshot.org/download/ Perhaps using that will solve it.

Hope that helps! :+1:

[2018-07-01 02:14] peanutbutterandcrackers commented on #1739
@bobcrikey - OpenShot version 2.4.2 is also out now. Maybe it'll work, too. You might notice a bit of problems if you upgrade the daily PPA right now. But please be patient. Mr. Thomas is working on fixing the PPA at the moment. :+1:

Hope you create awesome videos using OpenShot!

[2018-07-01 02:16] peanutbutterandcrackers commented on #1752
Hmm... cool intro!

I was able to see a small freeze at the end. But I wonder if anyone of us will be able to reproduce it...

Does it happen even with OpenShot 2.4.2?

[2018-07-01 02:19] peanutbutterandcrackers commented on #1748
Ummm..... For one user, he opened the `.osp` file in a text editor and deleted two `none`s that were out of place. I wonder if you could try that as well...

But perhaps give OpenShot version 2.4.2 (the latest one released this morning) a try first. Perhaps that'll help?

[2018-07-01 02:45] bobcrikey commented on #1739
Well since trying to upgrade to the latest final release via ppa this is the error box message i just got
and now not even the previous dev version wont run now.
not happy i can tell you that. i just lost 12 hours work on some animations since this final release
error wont even start not even the appimage will work either on linux mint
![install errors](https://user-images.githubusercontent.com/40

[2018-07-01 02:47] peanutbutterandcrackers commented on #1739
Please remove openshot and the ppa and then use the stable ppa. That will fix it.

[2018-07-01 02:50] peanutbutterandcrackers commented on #1739
Or, should, at least.

`$ sudo apt remove openshot-qt`
`$ sudo add-apt-repository -r ppa:openshot.developers/libopenshot-daily`
`$ sudo add-apt-repository ppa:openshot.developers/ppa`
`$ sudo apt update`
`$ sudo apt upgrade`
`$ sudo apt install openshot-qt`

And if even that doesn't work, we'll just figure out a new way. :+1:

[2018-07-01 02:51] bobcrikey commented on #1739
hold on im doing this now as i type to you

[2018-07-01 02:52] peanutbutterandcrackers commented on #1739
*holding*

[2018-07-01 02:54] peanutbutterandcrackers commented on #1737
You might also want to try v2.4.2 which was out this morning, @BobcatArts. So, has this issue been resolved, good sir?

[2018-07-01 02:57] JoshLeGrow opened #1756 "It worked, now it doesn't"
If I load a video clip in, it plays the first half a second, then it crahses. I've been using the editor for months, and this just started happening tonight.

OS: Windows 10
OpenShot Version: 2.4.2

[2018-07-01 03:00] victor-o-silva opened #1757 "OpenShot-v2.4.2 crashes at startup on Linux Mint 18.1: undefined symbol: drmGetDevices2"
**Describe the bug**
OpenShot-v2.4.2-x86_64.AppImage fails to start on Linux Mint 18.1

**System Details (please complete the following information):**
 - Operating System / Distro:
[code]
[code]
 - OpenShot Version: `OpenShot-v2.4.2-x86_64.AppImage` (downloaded 2018-06-30 2AM UTC)

**To Reproduce**
Steps to reproduce the behavior:
1. Make file executable
2. Double click it or run it through Termi

[2018-07-01 03:03] bobcrikey commented on #1739
horray, its working now thanks peanuts, i had to wait while the system updated itself and on a 2.5mb speed its not fast enough at times, no pop up messages either :)
cheers
 thanks mate.:)

[2018-07-01 03:03] peanutbutterandcrackers commented on #1757
What does it do if you answer with 'yes'?

Also, perhaps you might want to try out the [PPA](https://www.openshot.org/ppa/)? The stable one, please. :)

[2018-07-01 03:11] ferdnyc commented on #1425
### Gutters

Aha! So not even just potential future uses, but actual current uses. That's helpful. And you're right — it's not something I've encountered, but if you have a timeline that looks like the following screenshot, there's _no way_ to box-select both of the small "Archer-P" clips on Track 2, and **only** those two clips, without the gutters. Box-selecting from the empty areas on Track 0 o

[2018-07-01 03:12] victor-o-silva commented on #1757
The same error happened

----

The PPA worked, thanks!

[2018-07-01 03:14] peanutbutterandcrackers commented on #1757
You're most welcome. I'll try to see if the AppImage works on my computer (elementary OS 0.4.1: based on Ubuntu 16.04), and see if something can be resolved.

Please do report any issues as they arise. OpenShot is really lacking when it comes to contributors. Perhaps, you, too, could someday join us. :)

Hope you have fun using OpenShot!

[2018-07-01 03:17] peanutbutterandcrackers commented on #1739
@bobcrikey - Awesome! I'm glad that the issue has been resolved. Mind if I close this one, sir?

Also, please do remember that OpenShot is a labour of love and we can all do our part (albeit small) in helping us grow to become a lot better. :)

Closing this one for now. Hope you create amazing videos using OpenShot!

[2018-07-01 03:17] #1739 closed

[2018-07-01 03:20] peanutbutterandcrackers commented on #1743
@nicolardot - Hey there! Sorry for the tardy reply. Could you please try out the latest stable version of OpenShot (v2.4.2) which was out just this morning? http://openshot.org/download Perhaps that will solve it? Even if it doesn't, we can look into it together and try to figure out what is going wrong. Hope that helps!

[2018-07-01 03:35] peanutbutterandcrackers commented on #1756
If you are indeed using version 2.4.2, then please [follow this guide](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) to attach the logs. That should help the devs sort this thing out as fast as possible. Hope that helps! :+1:

[2018-07-01 03:54] BobcatArts commented on #1737
Nope. I just installed v2.4.2 to try it with MP4 video from my Campark and it froze immediately like before. It will not work with MP4 from this device for whatever reason.

[2018-07-01 03:56] MrRenegade opened #1758 "Release Versions Differ from whats required"
I Loaded OpenShot like I normally do and seen a little button that said Update Available(or however it was worded) So I clicked it and it took me to the OpenShot website.  So I thought for a second and remembered I installed it from the PPA. So I closed the app and figured I'll just run a "sudo apt-get install openshot-qt" and sure enough it came back with "Updating" and when it finished everythin

[2018-07-01 04:07] jpfleury commented on #1757
Same problem here on Xubuntu 17.10 64-bit:

[code]

[2018-07-01 10:43] bobcrikey opened #1760 "transistions black screen openshot 2.4.2"
Hello , after spending all day with openshot 2.4.2 linux i discovered that when you try to use a
transistion between two pictures using a right to left wipe its black ,

now for comparison i tried openshot 1.43 linux version and the transistion wipe was perfectly masked
between the same two pictures ie no black lines in the wipe.

and yes i know there is a huge difference between 1.43 openshot and

[2018-07-01 13:39] peanutbutterandcrackers commented on #1752
It already has been released. Please check the [downloads page](http://openshot.org/download).

[2018-07-01 13:45] MisterTeeXD commented on #1752
Ahh i see it now, i am also happy that it has been released and super glad i could help out :)

[2018-07-01 14:37] MisterTeeXD commented on #1752
Hello, i have the version 2.4.2 installed and i did multiple render tasks for that video i attached, i even rendered it in multiple Formats and apparently, that Frozen Frames is still there with no fades or anything, i dont know how it keeps happening

[2018-07-01 15:34] mdmayfield commented on #1757
Same issue on Ubuntu 16.04:

[code]

[2018-07-01 20:04] coolnani opened #1761 "How to maintain original layout of recorded video in exports off OpenShot"
Thanks a million first for the wonderful editor, **hats off to your efforts**, and for keeping it free!

So, I recorded an HD video on my Android mobile device. It plays full screen on the device in portrait mode. I imported this video to OpenShot, added an audio track and a title PNG and exported it as MP4 (h.264) / HD 1080p 25 fps. This new video just does not play full screen anymore on the dev

[2018-07-01 21:10] #1752 closed

[2018-07-01 21:33] MisterTeeXD opened #1762 "Frozen Frames In 2.4.2"
**Describe the bug**
When a video is exported with no Effects and Transitions are added, frames at the end of the video are frozen.

**System Details (please complete the following information):**
 - Operating System / Distro: Windows 10
 - OpenShot Version: 2.4.2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to File
1.a: Make sure no effects and transitions are added
2. Click on Export

[2018-07-02 01:55] adamsts commented on #1757
Same here on Pop OS! 18.04:

`Loaded modules from current directory: /tmp/.mount_OL03UU/usr/bin
      launch:INFO ------------------------------------------------
      launch:INFO    OpenShot (version 2.4.2)
      launch:INFO ------------------------------------------------
QFactoryLoader::QFactoryLoader() checking directory path "/tmp/.mount_OL03UU/usr/bin/platforms" ...
QFactoryLoader::QFactory

[2018-07-02 04:43] peanutbutterandcrackers commented on #1708
Hey there! Could you all please try [this](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN) build out, please? It integrates the changes of the PR by @ferdnyc that has, hopefully, fixed this issue. If you confirm that the issue has been fully resolved, the changes can be merged into the main source. Thanks!

[2018-07-02 04:45] peanutbutterandcrackers commented on #1080
Hey there! Could you all please try [this build](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN) that incorporates the changes from the PR by @ferdnyc? This issue has, hopefully, been resolved. And if you give confirm it as resolved, we can go ahead and merge the changes into the main source. Thanks!

[2018-07-02 04:46] peanutbutterandcrackers commented on #1264
Hey there! Could you all please try [this build](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN) that incorporates the changes from the PR by @ferdnyc? This issue has, hopefully, been resolved. And if you give confirm it as resolved, we can go ahead and merge the changes into the main source. Thanks!

[2018-07-02 04:46] peanutbutterandcrackers commented on #1555
Hey there! Could you all please try [this build](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN) that incorporates the changes from the PR by @ferdnyc? This issue has, hopefully, been resolved. And if you give confirm it as resolved, we can go ahead and merge the changes into the main source. Thanks!

[2018-07-02 04:47] peanutbutterandcrackers commented on #1623
Hey there! Could you all please try [this build](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN) that incorporates the changes from the PR by @ferdnyc? This issue has, hopefully, been resolved. And if you give confirm it as resolved, we can go ahead and merge the changes into the main source. Thanks!

[2018-07-02 04:49] peanutbutterandcrackers commented on #714
Hey there! Could you all please try [this build](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN) that incorporates the changes from the PR by @ferdnyc? This issue has, hopefully, been resolved. And if you give confirm it as resolved, we can go ahead and merge the changes into the main source. Thanks!

[2018-07-02 04:52] peanutbutterandcrackers commented on #1396
@Chisi76 - Good sir, perhaps you'd like to go through [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) to become OpenShot Expert. Just thought I'd help you. :)

[2018-07-02 04:56] peanutbutterandcrackers commented on #1006
@Rasulbek1996 - [Just in case you were talking about openshot](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) and not really libopenshot. :) :+1:

[2018-07-02 05:51] JoSBlanes opened #1763 "OpenShot do not open in Windows 10"
**Describe the bug**
A clear and concise description of what the bug is.

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concis

[2018-07-02 09:10] Have-a-Laugh commented on #1555
@peanutbutterandcrackers Hey!, sorry I can't test it as it's an exe file, and I'm on Linux.

[2018-07-02 09:11] #1621 closed

[2018-07-02 09:11] timlau opened #1764 "Keyboard shotcut to slice just the selected clip"
**Describe the bug**
Keyboard shotcuts Ctrl-L & Ctrl-J slice all tracks instead of just the selected one.
(Right click menu -> Slice -> Keep Left etc. does the right thing)

**System Details (please complete the following information):**
 - Fedora 28
 - OpenShot 2.4.2 from flathub.org
https://flathub.org/apps/details/org.openshot.OpenShot

**To Reproduce**
Steps to reproduce the behavior:
1. Add 2

[2018-07-02 09:12] #1732 closed

[2018-07-02 09:17] DylanC commented on #1633
@SAF56  Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:17] #1631 closed

[2018-07-02 09:17] DylanC commented on #1442
@theelectricsoul Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:18] DylanC commented on #1440
@WolfieMar Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:19] DylanC commented on #1430
@I-like-PI - Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:20] DylanC commented on #1398
@JCannon2018 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:21] DylanC commented on #1394
@CPTHBarkington Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:21] DylanC commented on #1375
@itschris2003 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:22] DylanC commented on #1373
@tjsepka Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:22] DylanC commented on #1353
@westernnativevoice Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:22] DylanC commented on #1345
@Baker6 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:22] DylanC commented on #1338
@marecl Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:23] DylanC commented on #1336
@croco3008 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:23] #1335 closed

[2018-07-02 09:23] DylanC commented on #1321
@stuartd99 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:23] DylanC commented on #1315
@bopha99 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:24] DylanC commented on #1317
@trash70 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:24] DylanC commented on #1263
@Bennerdoodle Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:28] DylanC commented on #1210
@sknaumov Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:28] DylanC commented on #1209
@bevort Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:28] DylanC commented on #1187
@entropicChaos Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:29] DylanC commented on #1178
@m-brooks Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:29] DylanC commented on #1179
@m-brooks Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:29] DylanC commented on #1162
@vincentupsdellred Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:29] DylanC commented on #1182
@Williambless Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:29] DylanC commented on #1159
@Scarfmonster Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:30] DylanC commented on #1147
@rmbradburn Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:30] DylanC commented on #1137
@tomscotto Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:30] DylanC commented on #1134
@Snapper763 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:31] DylanC commented on #1117
@Markmusicman Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:31] DylanC commented on #1114
@LerPa Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:31] DylanC commented on #1116
@kkursor Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:31] DylanC commented on #1104
@maxroby Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:33] DylanC commented on #1034
Dup of #519

[2018-07-02 09:33] DylanC commented on #1098
Dup of #519

[2018-07-02 09:34] #1092 closed

[2018-07-02 09:37] #1406 closed

[2018-07-02 09:37] DylanC commented on #1415
@Blay3 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:39] #1448 closed

[2018-07-02 09:41] DylanC commented on #1455
@fabrixx Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:42] DylanC commented on #1455
@fabrixx - Oh I can see you already have this solved in #1186. Closing this out then.

[2018-07-02 09:42] #1455 closed

[2018-07-02 09:43] timlau opened #1765 "Make zoom more gentle when zoomed in (1s -> 2s, instead of 1s -> 7s)"
**Is your feature request related to a problem? Please describe.**
Zoom step from 1s to 7s it is 7x in one step, that is to much when working with short clips.

**Describe the solution you'd like**
something like 1s, 2s, 4s, 8s, 16s (2x in each step) will be more useful

**Additional context**
![screenshot from 2018-07-02 11-36-38](https://user-images.githubusercontent.com/283985/42157032-eddb6d88

[2018-07-02 09:44] DylanC commented on #1494
@MisterTeeXD Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:44] DylanC commented on #1501
@cheesecake7 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:44] DylanC commented on #1502
@Maxime0912 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:45] DylanC commented on #1505
@jhaisley Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:45] DylanC commented on #1513
@Esn024 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:45] DylanC commented on #1520
@Esn024 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:45] DylanC commented on #1521
@croco3008 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:46] DylanC commented on #1524
@swwe Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:46] DylanC commented on #1528
@SilasLaspada Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:46] DylanC commented on #1547
@mnoah66 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:47] DylanC commented on #1538
Setting this as a bug in the documentation.

[2018-07-02 09:48] DylanC commented on #1540
@wrookie11 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:48] DylanC commented on #1550
@athompsonG85 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:48] DylanC commented on #1552
@belleblaasbel Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:48] DylanC commented on #1559
@HenryMicheal Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:48] DylanC commented on #1588
@MrSpaceChicken Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:49] DylanC commented on #1561
@sspmrsomebody1 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:49] DylanC commented on #1369
@peanutbutterandcrackers - Is this bug still here in v2.4.2?

[2018-07-02 09:49] DylanC commented on #1567
@sspmrsomebody1 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:50] DylanC commented on #1573
@TavernSenses Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:50] DylanC commented on #1574
@nolanv22 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:50] DylanC commented on #1583
@MisterTeeXD Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:50] DylanC commented on #1584
@tkvarenes Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:51] DylanC commented on #1591
@peanutbutterandcrackers @ferdnyc - Is this still an issue guys?

[2018-07-02 09:52] belleblaasbel commented on #1552
Eventually it worked with different output settings. Thanks

Op ma 2 jul. 2018 11:48 schreef DylanC <notifications@github.com>:

[2018-07-02 09:53] DylanC commented on #1594
@ferdnyc - Since we got the change for AAC got merged in should this be closed?

[2018-07-02 09:54] DylanC commented on #1596
@nsgitfr Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:54] DylanC commented on #1598
@EsbenAndersen Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:54] DylanC commented on #1601
@Patrik356b Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:54] DylanC commented on #1603
@djbounty Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:55] DylanC commented on #1607
@renleren Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:55] DylanC commented on #1609
@PetrxStepanek Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:56] DylanC commented on #1611
@MisterTeeXD Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:56] DylanC commented on #1613
@maldu0 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:56] DylanC commented on #1618
@glogman Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:56] DylanC commented on #1620
@xlicz Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:57] DylanC commented on #1622
@johnsixfox Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:57] DylanC commented on #1624
@MarbleMaestro Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:57] #1625 closed

[2018-07-02 09:58] DylanC commented on #1634
@Swissmovie Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:59] DylanC commented on #1639
@sentient Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:59] DylanC commented on #1640
@BigChubs Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:59] DylanC commented on #1642
@LuisBL Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 09:59] timlau opened #1766 "Make properties easier to work with (Grouping etc)"
**Is your feature request related to a problem? Please describe.**
Working with properties don't give a good user experience, some properties is not useful, like video properties on audio only files.

**Describe the solution you'd like**

- Related  properties like start, end, duration should be grouped together, same with transformation properties.
- Audio clip should not show video properties.
-

[2018-07-02 10:00] DylanC commented on #1648
@cons0l3 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:00] DylanC commented on #1649
@Aleksejczyk Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:00] DylanC commented on #1651
@nickg001 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:00] DylanC commented on #1652
@swwe Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:00] DylanC commented on #1656
@MisterTeeXD Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:01] DylanC commented on #1661
@alobar74 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:01] ferdnyc commented on #1591
Yes, unchanged.

On Mon, Jul 2, 2018, 5:51 AM DylanC <notifications@github.com> wrote:

[2018-07-02 10:01] DylanC commented on #1662
@PleaseHelpM Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:01] DylanC commented on #1667
@alogracia Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:01] DylanC commented on #1668
@tourbiker Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:01] #1669 closed

[2018-07-02 10:02] DylanC commented on #1676
@UtpalKumarRay Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:02] DylanC commented on #1673
@reedj2  Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:03] DylanC commented on #1675
@kimeguma - v2.4.2 has been released now. 👍

[2018-07-02 10:03] #1675 closed

[2018-07-02 10:04] DylanC commented on #1678
@sunbearc22 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:04] DylanC commented on #1680
@TheLEGObrick Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:04] DylanC commented on #1683
@MisterTeeXD Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:04] DylanC commented on #1684
@saidch1 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:05] #1685 closed

[2018-07-02 10:05] coolnani commented on #1761
Figured it out! Created a custom video profile like this:

`description=Android video
frame_rate_num=30000
frame_rate_den=1001
width=1080
height=1920
progressive=1
sample_aspect_num=1
sample_aspect_den=1
display_aspect_num=16
display_aspect_den=9`

And with help from [**this video**](https://www.youtube.com/watch?v=k0QzGAaLdqc).

Thanks!

[2018-07-02 10:05] #1761 closed

[2018-07-02 10:06] #1692 closed

[2018-07-02 10:06] DylanC commented on #1695
@ruffieuxh Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:07] DylanC commented on #1696
@pliegok Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:07] DylanC commented on #1702
@IndyBaller Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:07] #1705 closed

[2018-07-02 10:07] DylanC commented on #1706
@gitmiluser27 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:08] DylanC commented on #1704
@ruffieuxh Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:08] DylanC commented on #1709
@ubuntu2388 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:08] #1710 closed

[2018-07-02 10:09] DylanC commented on #1714
@ruffieuxh Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:09] DylanC commented on #1718
@BigRed1963 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:09] #1719 closed

[2018-07-02 10:11] DylanC commented on #1593
Dup of #1412

[2018-07-02 10:12] DylanC commented on #1720
Dup of #1412

[2018-07-02 10:13] DylanC commented on #1723
@Francysun Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:13] DylanC commented on #1724
@SquidyProductions Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:14] DylanC commented on #1729
@vk4tnt Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:14] DylanC commented on #1734
@Sameroney Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:14] DylanC commented on #1736
@Petr-Ledvina Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:15] timlau commented on #1766
For some inspiration check out how it is done in Davinci Resolve
https://www.youtube.com/watch?v=NiNQ-hRqJd

[2018-07-02 10:15] DylanC commented on #1743
@nicolardot Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:15] DylanC commented on #1748
@BerndVME Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:16] DylanC commented on #1750
@Stil57 Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:16] DylanC commented on #1754
@malaoudi Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:17] DylanC commented on #1758
@MrRenegade - Thanks for the report. We will investigate.

[2018-07-02 10:18] DylanC commented on #1763
@JoSBlanes Can you try v2.4.2 and let us know if you have any success?

[2018-07-02 10:20] DylanC commented on #1761
@coolnani - Great news, thanks!

[2018-07-02 10:20] DylanC commented on #1552
@belleblaasbel - Good to hear, thank you!

[2018-07-02 10:20] #1552 closed

[2018-07-02 10:22] Stil57 commented on #1750
Sure i'm on it
________________________________
Από: DylanC <notifications@github.com>
Στάλθηκε: Δευτέρα, 2 Ιουλίου 2018 1:16 μμ
Προς: OpenShot/openshot-qt
Κοιν.: Stil57; Mention
Θέμα: Re: [OpenShot/openshot-qt] Not responding (#1750)

@Stil57<https://github.com/Stil57> Can you try v2.4.2 and let us know if you have any success?

—
You are receiving this because you were mentioned.
Reply to this e

[2018-07-02 10:32] timlau opened #1767 "Make clip preview, splitting more integrated"
**Is your feature request related to a problem? Please describe.**
When i preview a media clip it is done in a separate vindow, why not use the video preview vindow
same with splitting a clip it has a separate UI, I have to select start and end position and save it and then add it to the time line.

**Describe the solution you'd like**
Have the video preview have 2 modes on for a clip and one for

[2018-07-02 11:35] peanutbutterandcrackers commented on #1766
@timlau - Hey there! Thank you for your feature request. However, OpenShot just does not have enough volunteers/contributors contributing right now - only a few. And we could use some more. We still have to deal with a lot of stability issues first and deal with the bugs too. So, perhaps, you might want to join us too! It'll be fun. Here: https://www.openshot.org/static/files/user-guide/developers

[2018-07-02 11:36] ruffieuxh commented on #1695
Ran the exact same video in preview mode over 50mins including several dozens of transitions and it did not crash once, despite I ran heavy number crunching in parallel (by intention). Well done!!

[2018-07-02 11:37] ruffieuxh commented on #1714
Ran the exact same video in preview mode over 50mins including several dozens of transitions and it did not crash once, despite I ran heavy number crunching in parallel (by intention). Well done!!

[2018-07-02 11:40] peanutbutterandcrackers commented on #1695
Yay! Closing this as resolved, then! Please do continue to love and support OpenShot. :)

[2018-07-02 11:40] #1695 closed

[2018-07-02 11:40] peanutbutterandcrackers commented on #1714
Awesome! Closing this as resolved!

[2018-07-02 11:40] #1714 closed

[2018-07-02 11:41] ruffieuxh commented on #1704
Seems to be fixed in 2.4.2! Thanks.

[2018-07-02 11:46] ruffieuxh opened #1768 "Time on timeline incorrect"
**Describe the bug**
Reviewing a video showed me, that the time on the timeline does not fit with any other indication. See attached screenshot and compare timeline with the progress counter to the left. The entire video is about 50mins long, bit timeline already shows 5hrs and 24mins.

**System Details (please complete the following information):**
 - Operating System / Distro: Ubuntu 16.04
 - Op

[2018-07-02 11:46] peanutbutterandcrackers commented on #1757
I have reported the issue to our BDFL - Mr. Jonathan Thomas - and he will be on the case, soon. Please be patient for the time being. I suggest that you use the [*stable* PPA](http://openshot.org/ppa) - **not the daily one** - for the time being. Thank you!

[2018-07-02 11:49] peanutbutterandcrackers commented on #1758
@MrRenegade - Are you sure you are not using the *daily* PPA rather than the *stable* one? The stable one has been known to work (at least according to a report from a user, just today). Could you please, if you are indeed on the daily PPA, remove openshot and the PPA and then re-add the stable one and then install OpenShot again (after an upgrade), please?

Hope that helps!

Please do let us know

[2018-07-02 11:52] peanutbutterandcrackers commented on #1765
Hmm... There is [another thread](https://github.com/OpenShot/openshot-qt/issues/1571) where this issue is also being discussed upon. Perhaps we should put this (or, rather, that) issue as a priority for the 2.4.2.x bug-fix series. Thank you for the report, good sir!

[2018-07-02 11:53] peanutbutterandcrackers commented on #1765
Kinda' a dup of #1571

[2018-07-02 11:54] peanutbutterandcrackers commented on #1704
Awesome!

Closing this as resolved!

[2018-07-02 11:54] #1704 closed

[2018-07-02 11:56] peanutbutterandcrackers commented on #1768
@ruffieuxh - Good sir. On an unrelated note, could you please let us know *how* you have OpenShot installed on your Ubuntu 16.04 machine? Are you using the stable PPA? The daily PPA? Or the AppImage? Compiling from source?

[2018-07-02 11:57] peanutbutterandcrackers commented on #1768
Also, we shall look into this matter soon.

@DylanC - Can you recreate this issue, Cap'ain?

[2018-07-02 11:58] DylanC commented on #1704
@ruffieuxh - Thanks for getting back to us with all your issues! :)

[2018-07-02 12:02] ruffieuxh commented on #1768
Using 2.4.2 AppImage

[2018-07-02 12:06] peanutbutterandcrackers commented on #1768
@ruffieuxh - You do not get any errors? Wow!

@DylanC - Cap'ain! In light of myself being unable to use the AppImage because of the following error:
[code]

[2018-07-02 12:12] DylanC commented on #1768
@peanutbutterandcrackers - I can test this on my system later today and give some feedback.

[2018-07-02 12:19] ruffieuxh commented on #1768
None so far. Please find attached the logfile from the start of the app including loading of video
[openshot-qt.log](https://github.com/OpenShot/openshot-qt/files/2155155/openshot-qt.log)
[libopenshot.log](https://github.com/OpenShot/openshot-qt/files/2155156/libopenshot.log)

[2018-07-02 12:21] peanutbutterandcrackers commented on #1737
@BobcatArts - Good sir, could you please do the following things?
1. Please use [MediaInfo](http://mediaarea.net/MediaInfo) to get all the info that you can, about the video file and paste it in the comments here.
2. Please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) in case of crash.

That should really help us help you.

[2018-07-02 12:35] dannafe commented on #1667
I am having a very similar problem with exporting on OS-X (v2.4.1, v2.4.2). Crashes as soon as you hit "export" button.

[2018-07-02 12:54] dannafe commented on #1662
@DylanC
I figured out my issue: v2.4.x cannot overwrite an exported file on OS-X.
Workaround: put a unique file name in the "export" modal dialog box.

[2018-07-02 13:34] N3WWN commented on #1594
@DylanC - Yes, since the default is now AAC, that should resolve this issue and the ones referenced.

[2018-07-02 14:05] DylanC commented on #996
@Stitches-KHK-27 Can you try v2.4.2 and let us know if you have success? A change was put in for the audio issues.

[2018-07-02 14:06] DylanC commented on #1047
@Ben2112 Can you try v2.4.2 and let us know if you have success? A change was put in for the audio issues.

[2018-07-02 14:06] DylanC commented on #1466
@dbstlouis Can you try v2.4.2 and let us know if you have success? A change was put in for the audio issues.

[2018-07-02 14:07] DylanC commented on #1594
@N3WWN - Alright, I've commented on the other issues to hopefully get this fix confirmed.

[2018-07-02 14:09] #1594 closed

[2018-07-02 14:14] meoso commented on #714
@peanutbutterandcrackers  sorry i cannot test windows exe, only linux tarball or AppImage

[2018-07-02 14:31] lutzig opened #1769 ".mod is not a valid video, audio or image files (?????)"
**Describe the bug**
Try to add a video made with my camescope (format .mod) without any success...

**System Details (please complete the following information):**
 - Operating System : X-UBUNTU 18.04 LTS
 - OpenShot Version : 2.4.1

**Expected behavior**
A clear and concise description of what you expected to happen. That video file .mod is running...

**Logs**
If you are experiencing a crash, p

[2018-07-02 14:45] MrRenegade commented on #1758
When I added the PPA I only used the Stable one.   Here is whats in app sources after setting up the PPA.

deb http://ppa.launchpad.net/openshot.developers/ppa/ubuntu xenial main
deb-src http://ppa.launchpad.net/openshot.developers/ppa/ubuntu xenial main

Below is a screenshot of some of the packages I use under my sources list and the process of the install and the error OpenShot gives me when i

[2018-07-02 14:52] MrRenegade commented on #1758
Also btw running the standalone version of the Appimage version of openshot randomly closes A LOT and isn't stable for me to use at all. Before I updated it was perfect and I could have OpenShot open for hours and even leave it over night,  But this new one with the AppImage (since currently thats the only way I can launch it) I can open it and leave it sit with nothing in it and poof its gone wit

[2018-07-02 14:53] Naixon commented on #1167
It works with v2.4.2, thanks!

[2018-07-02 14:53] #1167 closed

[2018-07-02 14:57] SilasLaspada commented on #1528
It is still broken as of the newest stable release. I used the default rendering options for both version  (except for file location), and I didn't alter anything in the project that wasn't already done by the project file.
[New Project.zip](https://github.com/OpenShot/openshot-qt/files/2155689/New.Project.zip)

[2018-07-02 15:13] BofingerRick commented on #1623
that seems to have cleared it up!!!!

Thanks!

On Tue, May 29, 2018 at 11:38 PM peanutbutterandcrackers <
notifications@github.com> wrote:

--
Rick Bofinger
Jerico               Bofinger.r@gmail.com
916-825-8880  Office 916-925-0151  Fax 916-925-4179
www.JericoEnergy.com <http://www.JericoEMS.com>

*Generating Goodwill is good business. Goodwill builds trust, strengthens
relationships, and creates

[2018-07-02 15:22] N3WWN commented on #1764
@timlau - May I ask what tool you used to create this animated GIF showing the issue that you're reporting?  That looks very useful! 😉

Now, regarding the issue that you've reported, <kbd>CTRL</kbd>+<kbd>J</kbd> and <kbd>CTRL</kbd>+<kbd>L</kbd> are listed in the `Keyboard` section of the `Preferences` as `Slice All: Keep Right Side` and `Slice All: Keep Left Side`, respectively.

There currently a

[2018-07-02 17:17] Have-a-Laugh commented on #1555
@peanutbutterandcrackers thanks for the reply, I downloaded the AppImage, the same issue as before is present, when I double clicked on the file it asked me if I wanted to create a desktop shortcut, I said yes, it made a shortcut in the menu and that was it, OpenShot didn't open, I tried multiple times and nothing happened.

[2018-07-02 17:33] jonoomph commented on #1757
Looking into it now...

[2018-07-02 17:39] tjsepka commented on #1373
No change.  Images are still rotated on the timeline, even though they display properly in Windows file explorer and IrfanView.  I checked the thumbnail directory created by OpenShot and the image is incorrect (shown rotated) there.

On a side note, in OpenShot there is a file property named "ID".  I thought that might be the thumbnail file name, but it's not.  What is the "ID" property listed in

[2018-07-02 17:47] jonoomph commented on #1757
What graphics card are you using? Intel/AMD or Nvidia?

[2018-07-02 17:48] jonoomph commented on #1757
For what it's worth, I'm able to run the 2.4.2 AppImage in Ubuntu 16.04 just fine. So, I'm wondering if some environment-related thing is affecting the AppImage?

[2018-07-02 17:49] jonoomph commented on #1757
FYI: I'm going to test Pop 18.04 now

[2018-07-02 17:50] adamsts commented on #1757
I am on a laptop with Nvidia Optimus hybrid graphics currently running on the Intel chipset. Let me know if I should test using nVidia.

[2018-07-02 17:55] nicolardot commented on #1743
Sorry for this bad news, openShot has crashed after 0.1 % export with FLAC codec. Do you have an idea for how I could test if the problem is related to the codec ? What should be the audio bit rate (asked by openShot) for an lossless with FLAC codec ?
Thank you very much for your help !
Marc Nicolardot

    Le dimanche 1 juillet 2018 à 05:20:09 UTC+2, peanutbutterandcrackers <notifications@github.

[2018-07-02 17:55] nicolardot commented on #1743
Sorry for this bad news, openShot has crashed after 0.1 % export with FLAC codec. Do you have an idea for how I could test if the problem is related to the codec ? What should be the audio bit rate (asked by openShot) for an lossless with FLAC codec ?
Thank you very much for your help !
Marc Nicolardot

    Le dimanche 1 juillet 2018 à 05:20:09 UTC+2, peanutbutterandcrackers <notifications@github.

[2018-07-02 18:16] mdmayfield commented on #1757
Using an XPS 15 with Nvidia Optimus, also running on the integrated Intel graphics. nvidia-384 package is installed but not currently in use.

[2018-07-02 18:47] jonoomph commented on #1757
Just tested Pop 18.04 and it worked fine.. launched AppImage successfully. Have yet to reproduce the error. @victor-o-silva Can you try the same AppImage again after installing the PPA version?

[2018-07-02 19:37] airball2000 commented on #1667
Hi,
I tried 2 times with v2.4.2. HD and 4K export.
It crashs at 50%
The new log : [log_openshot_020718.zip](https://github.com/OpenShot/openshot-qt/files/2156566/log_openshot_020718.zip)

[2018-07-02 19:46] jpfleury commented on #1757
My card: Intel HD Graphics 4000.

[2018-07-02 19:52] Mkalfus commented on #1250
All is working correctly now…. Had an issue with a windows update.

Michael Kalfus

System Administrator

The Mayfield Group.

From: DylanC [mailto:notifications@github.com]
Sent: Monday, July 02, 2018 5:26 AM
To: OpenShot/openshot-qt
Cc: Mkalfus; Mention
Subject: Re: [OpenShot/openshot-qt] Application asked to terminate in an unusual way (#1250)

@Mkalfus <https://github.com/Mkalfus>  Can you try

[2018-07-02 20:04] Petr-Ledvina commented on #1736
I have just tried new version  2.4.2, but unfortunately video have frozen again.

[2018-07-02 20:09] MrTeeXD opened #1770 "[Feature] Record Narration Speech"
**Is your feature request related to a problem? Please describe.**
With this feature, you can record an narrative speech and apply it to your video clips

**Describe the solution you'd like**
A button with a mic and record icon that will allow you to record your voice overs

**Describe alternatives you've considered**
Technically you could record your speeches in Audacity but a built in Narrative

[2018-07-02 22:02] MaRiO32760 opened #1771 "How to add audio?"
How do I add audio to my project?

It is an M4A audio file. how do I add it into my project? I tried using the audio tab but nothing happened.

[2018-07-02 23:37] MrRenegade commented on #1758
Dunno what you guys did but its working now,

I ran the following Literally less than a minute ago...

"sudo apt-get remove openshot-qt"
"sudo apt-get purge"
"sudo apt autoremove"
"sudo apt-get install openshot-qt"

And it works now....      So I guess close the ticket?

[2018-07-03 00:03] ferdnyc commented on #1764
As @N3WWN says, <kbd>Ctrl</kbd>-<kbd>L</kbd> and <kbd>Ctrl</kbd>-<kbd>J</kbd> are documented as "Slice All: Keep {Left/Right} Side". Ditto <kbd>Ctrl</kbd>-<kbd>K</kbd> for "Slice All: Keep Both Sides". And they worked that way in 2.4.1 as well, so I think the `2.4.2-issue` label is erroneous. If anything, this is a feature request, as to my knowledge there never was a "Slice Selected" keyboard bin

[2018-07-03 00:43] peanutbutterandcrackers commented on #1764
@N3WWN - Precisely what I was thinking! Pretty neat tool! I'd like to know what it is, too.

@ferdnyc - Fixed it, sir! :)

[2018-07-03 00:45] peanutbutterandcrackers commented on #1758
Wow! It worked like that? I should probably give that a try too! Thank you for informing!

[2018-07-03 00:48] peanutbutterandcrackers commented on #1771
[Here](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7), is a guide to take you from zero to hero in OpenShot, good sir! :+1:

If you just want the answer to the question though: [this](https://www.youtube.com/watch?v=0a_B4LxTy3Y&t=14s) video shows a quick workflow in OpenShot. Hope that helps!

Closing this as answered. If you still have any queries, please do fee

[2018-07-03 00:48] #1771 closed

[2018-07-03 00:49] peanutbutterandcrackers commented on #1770
Perhaps this will be there in OpenShot `2.7'? Haha :D

Thank you for your help to make OpenShot better, Mr. Tee. You're the best!

[2018-07-03 00:53] peanutbutterandcrackers commented on #1736
@Petr-Ledvina - Good sir, could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) and also attach details about the media file by using [MediaInfo](http://mediaarea.net/MediaInfo)? Thanks!

[2018-07-03 00:54] peanutbutterandcrackers commented on #1250
Great!

Closing this as resolved, then.

[2018-07-03 00:54] #1250 closed

[2018-07-03 00:58] peanutbutterandcrackers commented on #1743
Hmm.... @gary9872 or @N3WWN might be able to give some insight here.

@nicolardot - Sorry for the inconvenience, good sir. We'll try to get this fixed, ASAP.

@DylanC - Perhaps this also needs some testing to see if this is reproducible?

[2018-07-03 01:04] peanutbutterandcrackers commented on #1373
Hmm... I'd really like to see a screenshot, though.

I wonder, if [GIMP](http://gimp.org/) can open the image correctly. If even GIMP can't, then I would think that the metadata lacks the orientation details. But that's just a thought...

We should probably test it out. Could you please also attach the image for us? If we can reproduce, we'll mark it as a bug and work on fixing it in 2.4.2.x bug-f

[2018-07-03 01:07] peanutbutterandcrackers commented on #1240
@Tobselotzi - With version 2.4.2? Please be patient with OpenShot, good sir. You might see some more improvements in the 2.4.2.x bug-fix series. This is not a commercial product but a labour of love of people who believe that software should be free as in freedom. :)

[2018-07-03 01:09] peanutbutterandcrackers commented on #1623
@BofingerRick - Awesome!
@ferdnyc - Resolved, Cap'ain! Score 1 for you, sir!

[2018-07-03 01:11] peanutbutterandcrackers commented on #1528
@SilasLaspada - Thank you for the info, sir! We'll try to fix it in the 2.4.2.x bug-fix releases.

[2018-07-03 01:12] peanutbutterandcrackers commented on #1528
Possibly related to #1762

[2018-07-03 01:16] peanutbutterandcrackers commented on #1769
Good sir, please try transcoding the video into, say, `.mp4` or `.mkv` using [HandBrake](https://handbrake.fr/) and then try importing the video into OpenShot. That should work out.

On a side note, I have never really heard of `.mod` files. Could you please use [MediaInfo](http://mediaarea.net/MediaInfo) to get details about the file and then post it here. I'd really like to know what kind of con

[2018-07-03 01:20] peanutbutterandcrackers commented on #1662
@dannafe - Did you have the same issue, too, sir? Also, does not OpenShot give the choice to overwrite an exported file in OS-X? If not, then perhaps it should be worked upon...

[2018-07-03 01:38] lutzig commented on #1769
~/Vidéos$ mediainfo MOV003.MOD
General
Complete name                            : MOV003.MOD
Format                                   : MPEG-PS
File size                                : 2.68 GiB
Duration                                 : 41 min 41 s
Overall bit rate mode                    : Variable
Overall bit rate                         : 9 208 kb/s
FileExtension_Invalid                    :

[2018-07-03 01:45] victor-o-silva commented on #1757
I tried and the error still happens, @jonoomph.

Nvidia GeForce 920m

[2018-07-03 02:08] peanutbutterandcrackers commented on #1769
Hmm... interesting. Did transcoding using HandBrake fix it, sir?

[2018-07-03 02:14] kholis34 commented on #1758
Thanks @MrRenegade !

[2018-07-03 02:15] robin-a-meade opened #1774 "Pixel Ratio not taken into consideration"
**Describe the bug**
When importing video, the pixel ratio of the imported video is not take into consideration when previewing the video or when exporting.

**System Details (please complete the following information):**
 - Operating System / Distro: Windows 10 and Fedora 28
 - OpenShot Version [e.g. 2.4.2]

**To Reproduce**
Steps to reproduce the behavior:

1. Download sample 15s video segment e

[2018-07-03 02:21] peanutbutterandcrackers commented on #1708
The following are the beta-builds that contain the changes made to resolve this issue (PR #1726 by the awesome @ferdnyc). Please try them out and report whether this resolves the issue. Thanks!
1. [Windows Builds](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN)
2. [Mac Builds](https://drive.google.com/open?id=10zy1SQz6gGCxfmYZtMnTYHkC5NBQy6Oz)
3. [Linux Builds](https://drive.go

[2018-07-03 02:23] peanutbutterandcrackers commented on #736
The following are the beta-builds that contain the changes made to resolve this issue (PR #1726 by the awesome @ferdnyc). Please try them out and report whether this resolves the issue. Thanks!
1. [Windows Builds](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN)
2. [Mac Builds](https://drive.google.com/open?id=10zy1SQz6gGCxfmYZtMnTYHkC5NBQy6Oz)
3. [Linux Builds](https://drive.go

[2018-07-03 02:46] peanutbutterandcrackers commented on #1080
The following are the beta-builds that contain the changes made to resolve this issue (PR #1726 by the awesome @ferdnyc). Please try them out and report whether this resolves the issue. Thanks!
1. [Windows Builds](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN)
2. [Mac Builds](https://drive.google.com/open?id=10zy1SQz6gGCxfmYZtMnTYHkC5NBQy6Oz)
3. [Linux Builds](https://drive.go

[2018-07-03 02:46] peanutbutterandcrackers commented on #1036
The following are the beta-builds that contain the changes made to resolve this issue (PR #1726 by the awesome @ferdnyc). Please try them out and report whether this resolves the issue. Thanks!
1. [Windows Builds](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN)
2. [Mac Builds](https://drive.google.com/open?id=10zy1SQz6gGCxfmYZtMnTYHkC5NBQy6Oz)
3. [Linux Builds](https://drive.go

[2018-07-03 02:46] peanutbutterandcrackers commented on #714
The following are the beta-builds that contain the changes made to resolve this issue (PR #1726 by the awesome @ferdnyc). Please try them out and report whether this resolves the issue. Thanks!
1. [Windows Builds](https://drive.google.com/open?id=1n5_joUIWr4FI7daLaCj7WwFUk-sXsVKN)
2. [Mac Builds](https://drive.google.com/open?id=10zy1SQz6gGCxfmYZtMnTYHkC5NBQy6Oz)
3. [Linux Builds](https://drive.go

[2018-07-03 03:07] ferdnyc commented on #1418
I'd like to see this reopened, the issue of the tool naming / documentation was never addressed.

[2018-07-03 03:21] ferdnyc commented on #1447
@peanutbutterandcrackers You can probably add this issue to the testing pool for #1726 .

[2018-07-03 03:29] peanutbutterandcrackers commented on #1418
@ferdnyc - Right on it, sir! [*braces self for a new PR from you that'll resolve this* :smile: ]

[2018-07-03 03:35] peanutbutterandcrackers commented on #1667
@airball2000 - Thank you for the log. We'll try to fix this in the bug-fix releases. Hope we can re-create the issue. Could you please tell us which profile you were exporting to? Thanks!

[2018-07-03 04:02] ferdnyc opened #1775 "AppImage build is bundled with outdated libfontconfig"
**System Details:**
 - Operating System / Distro: Fedora 28, any recent Linux distro
 - OpenShot Version 2.4.2 from `OpenShot-v2.4.2-x86_64.AppImage`

Adding to the list of libraries that desperately need to be updated in the official builds, running OpenShot from the AppImage results in fontconfig log spew when it picks up the `Ubuntu-R.ttf` font:
[code]
...and so on.

This is an [extremely](http

[2018-07-03 04:49] ferdnyc commented on #1418
Nope, if you'll recall where I left it was:

Never heard a peep.

[2018-07-03 05:30] ferdnyc commented on #1768
The 2.42. AppImage runs fine for me as well, on Fedora.

Looking at my system libraries vs. the bundled ones, my `/usr/lib64/libdrm.so.2` does contain the symbol `drmGetDevices2`, whereas the AppImage bundled one does not:

[code]
So, I suspect this may again be a library versioning issue, with `libdrm.so.2` in the AppImage being out of date, but newer system libraries being pulled in that require

[2018-07-03 05:30] ferdnyc commented on #1757
The 2.42. AppImage runs fine for me as well, on Fedora.

Looking at my system libraries vs. the bundled ones, my `/usr/lib64/libdrm.so.2` does contain the symbol `drmGetDevices2`, whereas the AppImage bundled one does not:

[code]
So, I suspect this may again be a library versioning issue, with `libdrm.so.2` in the AppImage being out of date, but newer system libraries being pulled in that require

[2018-07-03 05:52] ferdnyc commented on #1757
I'm still not 100% clear on why this would be hitting users of Ubuntu derivatives, whose system `libdrm.so.2` presumably does also have that symbol present (since their system `libGL.so.1` requries it), but my system has no problems. The only clue I can find is that OpenShot _doesn't_ seem to load `libdrm.so.2` on my system, so the missing symbol isn't affecting it....

[code]

[2018-07-03 06:38] ferdnyc opened #1777 "AppImage runs spew QFactoryLoader log messages"
**Describe the bug**
Runs of OpenShot from the AppImage are displaying incredibly verbose `QFactoryLoader` messages on the console. I _believe_ this is because `usr/bin/openshot-qt` in the AppImage is setting `QT_DEBUG_PLUGINS=1`

**System Details:**
 - Operating System / Distro: Fedora 28
 - OpenShot Version 2.4.2 from `OpenShot-v2.4.2-x86_64.AppImage`

**To Reproduce**
Steps to reproduce the beh

[2018-07-03 06:41] ferdnyc commented on #1777
A conjecture reinforced by the fact that running from the source tree with that variable set results in the same spew.
[code]

[2018-07-03 07:01] ferdnyc commented on #1623
Huh, I guess I was wrong that the issue doesn't ever affect Windows. Glad to hear the fix was successful, though. Now hopefully the users of the more esoteric Linux distros / window managers who reported problems will say the same.

[2018-07-03 08:28] timlau commented on #1764
@N3WWN the gif is a screen cast, process with the chop filter in shotcut and rendered to a GIF (1024x720, 10 FPS).(keymon is used to show the keypresses)
I can see that that in the keyboard shotcut in preferences Ctrl-L & J is assigned to slice all, but
when i right click on a selected clip and select slice the shotcuts is listed on the menu.
But when i right click on time marker and select slice

[2018-07-03 08:36] V-Soni opened #1779 "I am unable to open OPENSHOT. Please Help Me..."
![bandicam 2018-07-03 14-05-31-884](https://user-images.githubusercontent.com/40788535/42208602-34760108-7eca-11e8-9f81-7ca2f6f1c12d.jpg)

[2018-07-03 08:40] timlau commented on #1766
It is always an issue in most FLOSS project, to few contributors ;-)
My primary mission is to promote open source video editors, I have started a Youtube series by promoting free video editors by showing the same video made by the mayor free video editors.

https://www.youtube.com/playlist?list=PLYjnIt23wwfAjUeqLk1T1wd3fUqC_vhMR

currently i have made videos of shotcurt, openshot & kdenlive

[2018-07-03 09:29] ferdnyc commented on #1596
[...]

Yeah, sorry, that was my fault for cherry-picking someone else's comment out of the stream.

We probably should be better about encouraging people to open their own Issues when their problems are not clearly related to the OP, rather than interleaving multiple people's completely-different reports.

@DylanC , @peanutbutterandcrackers — does GitHub provide any sort of moderation tools in tha

[2018-07-03 09:31] lutzig commented on #1769
Handbrake recognised .mod files...

[2018-07-03 09:42] ferdnyc commented on #1764
Oh! You're absolutely right, and that's definitely a new bug. Those shortcuts weren't shown there in 2.4.1. But I do see them as well in the 2.4.2 AppImage. So, now we're back to this indeed being a 2.4.2 bug.

Not to my knowledge, no. Though it would probably be a good thing to have.

[2018-07-03 09:56] cromo1 commented on #1502
Hello Maxime0912,
We have been trying version 2.4.2, Exporting of the Video is not more working.
It seems the problem is not solved, but has grown very much.
We hope you can solve it.
Thanks in advance.
Bert Crommar.

[2018-07-03 10:21] ferdnyc commented on #1764
Actually, I don't really understand _why_ those shortcuts weren't showing in 2.4.1, because the commit that added them to the menus (in the wrong place) was made two _years_ ago, and should've been in 2.4.1 as well. It's not clear to me what changed between 2.4.1 and 2.4.2 that would affect this. Unless I just did something wrong in testing, and they really were present in 2.4.1 as well.

Regardle

[2018-07-03 10:33] nickg001 commented on #1651
the problem was about my software package codex it is ok now
thanks for your answer

[2018-07-03 10:38] DylanC commented on #1757
@jonoomph @ferdnyc - I've the same issue on Pop OS 18.04.

[2018-07-03 10:38] peanutbutterandcrackers commented on #1651
@nickg001 - Still, version 2.4.2 has switched to a more commonly used audio codec by default so it should work better.

Closing this, then. :+1:

[2018-07-03 10:38] #1651 closed

[2018-07-03 10:39] peanutbutterandcrackers commented on #1779
Which version is it that you are trying to open, good sir? Could you please give the latest version (version `2.4.2`) a try, please?

[2018-07-03 10:42] peanutbutterandcrackers commented on #1766
Cool; I hope you'll be able to contribute to this project in code, too. :+1:

[2018-07-03 10:43] peanutbutterandcrackers commented on #1779
Why does it say C:\GitLab-Runner\ and stuff...? That is strange.... :/

[2018-07-03 10:44] peanutbutterandcrackers commented on #1702
@steinybot - Oh... okay. I'll put this on the list, then.

[2018-07-03 10:47] ferdnyc commented on #1757
OOC for anyone who's hitting this issue, do you have a `libdrm.so.2`? (Most likely it'd be either `/usr/lib/x86_64-linux-gnu/libdrm.so.2` or `/usr/lib/x86_64-linux-gnu/mesa/libdrm.so.2`.)

If so, does it contain `drmGetDevices2`? (`readelf -s /whatever/libdrm.so.2|grep drmGetDevices2` will tell you.)

If the answer is yes, then we can assume that version of `libdrm.so.2` is a dependency of your `l

[2018-07-03 10:50] peanutbutterandcrackers commented on #1502
@cromo1 - Could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14), too? Thank you!

[2018-07-03 10:55] peanutbutterandcrackers commented on #1769
So, were you able to convert from HandBrake and then import the converted files into OpenShot for editing? Has this issue been worked around? Should I close this issue then, good sir?

[2018-07-03 12:13] JCannon2018 commented on #1398
Tried converting a MOV to MPEG2 on v2.4.2.  Still crashing.   No error windows.  The program just closes.

[2018-07-03 12:56] dannafe commented on #1662
I misdiagnosed the problem: It only seems like it is failing to overwrite an existing export. In reality, it is crashing before even getting to the file system asking you if you want to overwrite an existing file.

The real problem is that  OpenShot crashes, almost all of the time, as soon as you hit the “Export” button, inside the modal dialog box for exporting.

This occurs when attempting to us

[2018-07-03 13:00] N3WWN commented on #1769
I'm wondering if the file extension is the issue here... handbrake may have analyzed the contents of the file in order to process it.

mediainfo tells us `FileExtension_Invalid : mpeg mpg m2p vob pss evo`

Perhaps changing the extension of the file from `.mod` to `.mpg` (or one of the others that mediainfo says are valid for the contained streams) would allow OpenShot to process the video without

[2018-07-03 13:54] BigRed1963 commented on #1718
When I try to export a project – several different formats – I get “Export Error”

Gary

From: DylanC [mailto:notifications@github.com]
Sent: Monday, July 02, 2018 5:10 AM
To: OpenShot/openshot-qt
Cc: BigRed1963; Mention
Subject: Re: [OpenShot/openshot-qt] Audio did not output to export file. When playing back the exported file there was no sound output. (#1718)

@BigRed1963<https://github.com/Big

[2018-07-03 15:37] dannafe commented on #1667
Excerpt from libopenshot.log

laptopDan:.openshot_qt dan$ tail libopenshot.log
------------------------------------------
---- Unhandled Exception: Stack Trace ----
  4   libavcodec.55.dylib                 0x000000010b06de36 ff_lag_rac_init + 5820
---- End of Stack Trace ----
------------------------------------------
libopenshot logging: Tue Jul  3 11:12:01 2018
---------------------------------

[2018-07-03 15:51] lutzig commented on #1769
1. Handbrake has generated a .m4v file what isn't recognised by OpenShot...
2. By changing the extension name .mod by .mpg is recognised by OpenShot but the video and audio had lost lot of their quality in OpenShot but not a lot when I watch it.

[2018-07-03 16:33] Patrik356b commented on #1601
Seems to work fine. I think it is solved

[2018-07-03 16:33] #1601 closed

[2018-07-03 17:30] ferdnyc commented on #1757
Ping @victor-o-silva @DylanC @mdmayfield @jpfleury @adamsts ?

[2018-07-03 17:39] ferdnyc commented on #1757
In fact, hey, someone hitting this issue: Try this. In a command shell...
[code]
...That _should_ force OpenShot to load your system `libdrm.so.2` instead of the bundled one in the AppImage, which hopefully might fix this issue.

[2018-07-03 19:06] Petr-Ledvina commented on #1736
So, here is a log
[openshot-qt.log](https://github.com/OpenShot/openshot-qt/files/2160681/openshot-qt.log)
and here is a media log:
[media_info_frozen_in_OS_2_4_2.txt](https://github.com/OpenShot/openshot-qt/files/2160701/media_info_frozen_in_OS_2_4_2.txt)

[2018-07-03 19:08] saabi89 opened #1781 "Changing speed on multiple clips doesn't scale Timeline positions (creates gaps between clips in the timeline)"
Hi,

I am trying to make a timelapse using multiple videos from my camera.

I have about 65 videos each 5 minute long. The problem I am facing is that when I increase the speed of the videos for 32x, the videos in the timeline do not join automatically.

I will try and explain with screenshots. So first, I bring in the videos. I am only bringing in 3 to illustrate the issue.

![1](https://user-ima

[2018-07-03 19:11] saabi89 commented on #1781
For some reason I messed up the second image. Uploading the correct one here.

![untitled](https://user-images.githubusercontent.com/40805708/42239870-31573a04-7efd-11e8-87d4-0eb5170329d5.png)

[2018-07-03 19:31] BigChubs commented on #1640
I did try this. It did help a lot from the daily build. But Their's still some minor issues with it. When start's playing the video in the time. It jitters within 2-3 seconds. And it jitters for a about 1.5 seconds. Then it smooths out. It even does it when you export it to a file. I double check the original video file. The original video it just fine. Test the same videos in my other video softw

[2018-07-03 21:48] MysticOdin opened #1782 "Installer needs admin on windows"
I know this is more of a question than a bug, unfortunately there isn't a "question" type issue.

Why does the installer need admin? the tool works out of a zip with no issues, the installer also automatically shuts if the permission is not granted.

[2018-07-03 22:55] jpfleury commented on #1757
@ferdnyc Thanks a lot, it fixes the bug on Xubuntu 17.10 64-bit:

[code]

[2018-07-04 01:41] peanutbutterandcrackers commented on #1782
It requires admin privileges to install the program into the C:\ directory. It is not a stand-alone/portable type programs that can work out of the box. That is why it needs admin. You can give it admin rights. It does not contain any malicious code.

Hope that helps.

[2018-07-04 01:46] peanutbutterandcrackers commented on #1757
@ferdnyc - Yay! Thank you! It fixes for my Elementary OS 0.4.1, too! You're awesome :+1: :100: :1st_place_medal:

[2018-07-04 01:50] ferdnyc commented on #1757
Excellent, glad to hear it!

Re, the tag... not really "resolved", I'd argue, until the AppImage build process is fixed to generate packages without `libdrm.so.2`. This workaround _works_, as a kludge, but it's hardly convenient or maintainable.

[2018-07-04 02:10] peanutbutterandcrackers commented on #1757
@ferdnyc - Yes, the 'resolved' tag kinda' isn't the right one. I created that one to mark issues which had solutions (I explain it in the description). Do you have any other label that would better suit that purpose? temporarily-fixed?

[2018-07-04 02:18] peanutbutterandcrackers commented on #1769
So, I think transcoding using HandBrake is the way to go, then.

Should I close this issue, then?

[2018-07-04 02:20] OK64 commented on #1240
Hello, I have installed and tested the latest version; it seems to be operating relatively smoothly now.
Great work!

[2018-07-04 02:20] ferdnyc commented on #1757
Enh. I mean, I think "resolved" was better than "kludged", but _this_ issue isn't **either** of those things, yet. We've discovered a _workaround_ and provided it to the users, but nothing AT ALL has been fixed/kludged/changed-in-any-way on the OpenShot end of things. A "fix" that lives with the endusers is not any sort of fix at all.

At best, this issue is "fix in progress", in the sense that we

[2018-07-04 02:23] peanutbutterandcrackers commented on #1640
@BigChubs - Perhaps you could help OpenShot to become stable by testing and making good reports, if you have the time? Even if you don't, we wish you luck. We shall try to make OpenShot as stable as possible. So maybe you'll be able to use it for production grade work pretty soon. :)

[2018-07-04 02:55] peanutbutterandcrackers commented on #1240
@OK64 - Awesome! Please do keep on loving and supporting OpenShot! It'll get better with time! :smile:

[2018-07-04 02:55] #1240 closed

[2018-07-04 02:59] peanutbutterandcrackers commented on #1736
Thank you! We'll try to fix this issue as soon as possible. Also, you seem to have forgotten the libopenshot.log. Could you please attach that too (or try again with both openshot-qt.log and libopenshot.log)? Sorry for the inconvenience.

[2018-07-04 03:04] peanutbutterandcrackers commented on #1718
@BigRed1963 - Sir, are you sure you are using v2.4.2 (it's available at openshot.org)? If this issue is really there in version 2.4.2, I would suggest that you [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) and also, please do tell us which profile you are trying to export to. Thank you.

[2018-07-04 03:07] peanutbutterandcrackers commented on #1662
Right on it, sir! Thank you for the info. We will get right on to fixing this in 2.4.2.x bug-fix release series. Could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) for your crash in the time being?

@steinybot, @DylanC - Since you two seem to have a mac, could you please test this issue out, please? Thank you.

[2018-07-04 03:09] peanutbutterandcrackers commented on #1398
@JCannon2018 - Good sir, could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) for the crash with version 2.4.2? That should help the devs fix the issue.

Also, if you are only going to transcode your videos, [HandBrake](https://handbrake.fr/) might be a tool better suited for this purpose.

[2018-07-04 03:09] peanutbutterandcrackers commented on #1398
@JCannon2018 - Good sir, could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) for the crash with version 2.4.2? That should help the devs fix the issue.

Also, if you are only going to transcode your videos, [HandBrake](https://handbrake.fr/) might be a tool better suited for this purpose. But please do attach the logs, nevertheless.

[2018-07-04 03:20] geckolinux opened #1783 "2.4.2 AppImage won't run "undefined symbol: drmGetDevice2""
Hi there,

I was using the AppImage of OpenShot 2.4.0 on openSUSE Tumbleweed, which worked fine. However, the lastest 2.4.2 version won't run. This is the last error when run from a terminal:
`/tmp/.mount_YHAhte/usr/bin/launch: symbol lookup error: /usr/lib64/libGLX_mesa.so.0: undefined symbol: drmGetDevice2`
I'll attach the full log here.

Thanks a lot!
[output.txt](https://github.com/OpenShot/op

[2018-07-04 03:30] peanutbutterandcrackers commented on #1783
Good sir, this issue has [already been worked around](https://github.com/OpenShot/openshot-qt/issues/1757#issuecomment-402237492). Please try the work-around for now. Please follow the discussion at #1757. A proper fix will be applied upstream for the bug-fix releases soon. Hope that helps!

Closing this for now. Please follow the other thread. Thanks!

[2018-07-04 03:30] #1783 closed

[2018-07-04 03:38] peanutbutterandcrackers commented on #1783
@geckolinux - Good sir, please do confirm that the work-around worked for you too. Thank you!

[2018-07-04 03:38] geckolinux commented on #1783
Oops, sorry for the duplication. I did search first for the error it threw, but didn't find any open issues. Thanks for the fast response!

[2018-07-04 03:41] peanutbutterandcrackers commented on #1783
@geckolinux - It's all right, sir. Did the work-around resolve the issue for you?

[2018-07-04 03:50] victor-o-silva commented on #1757
The `export LD_PRELOAD` did the trick in my Linux Mint 18.1 Serena as well

[2018-07-04 05:29] lutzig commented on #1769
Yes, it can be closed ;)...
Thank you for your help

[2018-07-04 05:29] #1769 closed

[2018-07-04 05:52] jonoomph commented on #1757
Okay, sounds like I need to remove `libdrm.so.2` from the AppImage

[2018-07-04 05:58] dmapdm opened #1784 "French language not detected when install v2.4.2"
**Describe the bug**
After a new installation, At first launch the Language is not in French for me.

**System Details (please complete the following information):**
 - Operating System / Windows 10
 - OpenShot Version [e.g. 2.4.2]

**To Reproduce**
Installation with unattended option is ok
OpenShot-v2.4.2-x86_64.exe /SILENT /NORESTART /CLOSEAPPLICATIONS
at the first launch, i'm in english languag

[2018-07-04 06:01] peanutbutterandcrackers commented on #1757
@jonoomph - While you're at it, could you please also deal with #1408, #1775 and #1777 (solved by PR #1778)?

[2018-07-04 06:02] ferdnyc commented on #1757
That's my conclusion as well. I haven't been able to find any _bundled_ lib with a dependency on it, so far — the libraries that _do_ load it are some selection of `libGL.so`, `libGLX.so`, `libGLX_mesa.so`, etc... none of which are bundled in, so having libdrm in there serves no purpose. (AFAICT.) `libdrm` will be pulled in if it's needed by the system GL layer.

[2018-07-04 06:03] ferdnyc commented on #1757
#1778 is worth getting in real quick, the others I don't know if it's wise to hold up this (widely impactful) fix for.

[2018-07-04 06:11] peanutbutterandcrackers commented on #1784
@dmapdm - Thank you for the report. This is a duplicate of #1608. We will work on solving this too, soon. Could you please follow the discussion over there? Closing this as a duplicate so as to manage the amount of issues.

[2018-07-04 06:11] #1784 closed

[2018-07-04 06:12] peanutbutterandcrackers commented on #1608
Confirmed as present in v2.4.2 by #1784; the issue also confirms that this particular bug wasn't present in v2.4.1. So, a 2.4.2-issue

[2018-07-04 06:13] peanutbutterandcrackers commented on #1608
@dmapdm - Please follow the discussion here. Plus, @nsgitfr is your fellow French. :)

[2018-07-04 06:32] ferdnyc commented on #1757
Especially not #1775, which is purely cosmetic but requires non-trivial effort (building an updated fontconfig) to solve. The outdated library currently being bundled has no impact other than some logspam and, perhaps, a few hundred milliseconds of startup slowness.

#1408, OTOH, requires even _more_ work, and quite a bit of testing once it's done to be sure nothing breaks. Absolutely not the sort

[2018-07-04 06:33] jpfleury commented on #1521
I have a similar problem with OpenShot-v2.4.2-x86_64.AppImage on Xubuntu 17.10 64-bit. In "Edit > Preferences > General", I choose "Français Canadien (fr_CA)" and restart OpenShot, but the interface remains in English, even if "fr_CA" is almost completely translated (94.8%) according to its [translation status](https://translations.launchpad.net/openshot/2.0/+translations).

[2018-07-04 06:43] jonoomph commented on #1757
Can someone please give this AppImage a test, and see if the error is fixed?https://github.com/OpenShot/openshot-qt/releases/download/daily/OpenShot-v2.4.1-214-gf505a88-628eb373-554d9f2f-x86_64.AppImage

[2018-07-04 06:47] ferdnyc commented on #1757
Heh. [I was right](https://github.com/OpenShot/openshot-qt/pull/1726#issuecomment-401993483), the build system IS still stuck in the past. :wink: (Hey, I know how it is... used to be every year, like clockwork, I'd spend the month of January writing the previous year on all my checks.)

[2018-07-04 06:56] jonoomph commented on #1757
Yeah, gotta fix for the daily version # soon =)

[2018-07-04 06:56] ferdnyc commented on #1757
Anyone who does test it, make sure you don't use the same shell where you previously exported `LD_PRELOAD`. Or, if you want to be 100% sure, `export LD_PRELOAD=""` before running the new AppImage.

[2018-07-04 07:05] peanutbutterandcrackers commented on #1521
@jpfleury - I was unable to reproduce this issue in my Elementary OS 0.4.1 machine with fr_CA. Strange.
![screenshot from 2018-07-04 12-49-02](https://user-images.githubusercontent.com/26764547/42261686-bd0d7e74-7f88-11e8-928b-8973a77e61df.png)

[2018-07-04 07:14] ferdnyc commented on #1757
Finally decided I should _check_ whether `libdrm.so.2` is a dependency of any bundled libs:
[code]
    platforms/libqkms.so
	    libdrm.so.2 => /lib64/libdrm.so.2 (0x00007f113cc7d000)
[code]

So, in theory removing it _may_ cause trouble if OpenShot is run on any systems which **lack** a system `libdrm.so.2`, as it is a dependency of the bundled `libqkms.so`.

Which means that removing it, while a

[2018-07-04 07:47] peanutbutterandcrackers commented on #1521
I just tested it again: changed my default (system/user) locale to different languages and changed OpenShot's language and the language changed. So, it worked.

However, since the language by default is set to 'Default', I would have expected OpenShot's UI language to change to be what the default locale is. Even when it was ne_NP or even Chinese, the default language of OpenShot was still English

[2018-07-04 08:02] jpfleury commented on #1757
AppImage https://github.com/OpenShot/openshot-qt/releases/download/daily/OpenShot-v2.4.1-214-gf505a88-628eb373-554d9f2f-x86_64.AppImage fixes it for me.

[2018-07-04 08:13] jpfleury commented on #1521
@peanutbutterandcrackers See here the interface in English while the selected language is "fr_CA" (OpenShot restarted):

![openshot-fr_ca](https://user-images.githubusercontent.com/687082/42264891-f41303b0-7f3f-11e8-9fc9-6816c8b4e5a8.jpg)

The interface is still in English when selecting "Default" (OpenShot restarted):

![openshot-default](https://user-images.githubusercontent.com/687082/42265046-

[2018-07-04 09:03] peanutbutterandcrackers commented on #1521
I am sorry. But I am still unable to re-create your issue (even with the AppImages - I saw you commented that an AppImage worked for you). I even used the 'Humanity' theme to see if that had any effect. But no. I was able to change the language. Perhaps this issue will need some further testing...
![screenshot from 2018-07-04 14-41-12](https://user-images.githubusercontent.com/26764547/42267631-31

[2018-07-04 09:22] domink opened #1787 "openshot crashes when requested to export video"
**Describe the bug**
App crashes just after clicking on "Export Video" button at "Export Video Dialog".

**System Details (please complete the following information):**
 - Mac OS 10.13.5
- Hardware: Mac mini model Macmini4,1
         Intel Core 2 Duo (2,4 GHz)
         Caché level 2: 3 MB
         RAM: 8 GB
 - OpenShot Version 242

**To Reproduce**
Create a project
1. Go to 'File/Export Video'
2.

[2018-07-04 09:36] peanutbutterandcrackers commented on #1787
Possibly related to #1662

[2018-07-04 09:36] peanutbutterandcrackers commented on #1662
Possibly related to #1787

[2018-07-04 09:39] Louisedeman opened #1788 "question: the sound of my video falters"
Hi, i am just starting to explore this video program. the videos (Mp4) i want to use are not working properly, because the sound falters.

i am using windows

is there a solution?

kind regards,
louise de man

[2018-07-04 09:41] domink commented on #1787
Is any daily build available for mac for testing?

(Thanks for the prompt response :-) )

[2018-07-04 09:43] peanutbutterandcrackers commented on #1702
@steinybot - Please follow the crash discussion (for mac) over at #1787 as that is reported by a mac user (and has the logs and everything).

[2018-07-04 09:47] peanutbutterandcrackers commented on #1787
You can find the daily builds by following [this guide](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914). However, I am not sure if any of the latest ones will be any better as nothing substantial has changed since the release of version 2.4.2. Still, I would suggest that you stay in the loop and keep on loving and supporting this [free software](https://en.wikiped

[2018-07-04 10:00] domink opened #1789 "Advanced title editor does not open Inkscape on Mac"
**Describe the bug**
I try to edit the titles using the Advanced Editor option at "Edit Title" dialog. But when I click the option, a popup is shown requesting to install inkscape. But Inkscape is installed on my system.
I have opened Open Shot Preferences and changed the content of "Advanced Title Editor (path)" by `/Applications/Inkscape.app/Contents/MacOS/Inkscape` and then Inkscape got opened

[2018-07-04 10:04] peanutbutterandcrackers commented on #1789
@steinybot @DylanC - Could you two please test this out, please? Sorry to bother you. I do not own a mac.

[2018-07-04 10:05] domink opened #1790 "Some dialogs does not looks proper rendered"
**Describe the bug**
Some dialogs does not looks proper rendered, white zones on the right which are partially draw when moving the mouse over those. I include a screen sample from Preferences diaolg.

**System Details (please complete the following information):**
- Mac OS 10.13.5
- Hardware: Mac mini model Macmini4,1
         Intel Core 2 Duo (2,4 GHz)
         Caché level 2: 3 MB
         RAM:

[2018-07-04 10:07] peanutbutterandcrackers commented on #1790
@DylanC - Cap'ain, this one too (for testing)!

[2018-07-04 10:09] peanutbutterandcrackers commented on #1788
Which version are you using? Please make sure you are using version 2.4.2 - the latest release. And which OS? Windows 8? 10?

What happens if you transcode the video into, say, an `.mkv` using [HandBrake](http://handbrake.fr/) and then import it into OpenShot.

[2018-07-04 10:11] peanutbutterandcrackers commented on #1789
@domink - Could you please also post a screen-shot of the empty InkScape?

[2018-07-04 10:18] domink commented on #1787
Thanks!

I'll wait for news then.
I love your app, it looks really easy to use and I'm desiring to see my first video rendered there.

I'm sw engineer with experience on Android and Windows apps, mostly on Java but... developed also on C, C++, C#. No experience on Mac dev but happy to help you if needed.
Not sure my skills are valid for your project, and my time is limited because daily work (not

[2018-07-04 10:29] domink commented on #1789
Sure:
![image](https://user-images.githubusercontent.com/1288430/42271935-e98997d4-7f84-11e8-954a-0f568995ae97.png)
![image](https://user-images.githubusercontent.com/1288430/42271965-fea48c50-7f84-11e8-9b7d-77ab973ba8f2.png)
![image](https://user-images.githubusercontent.com/1288430/42271987-1029aa6e-7f85-11e8-9c2f-83d43acbf941.png)
![image](https://user-images.githubusercontent.com/1288430/42272

[2018-07-04 10:43] Louisedeman commented on #1788
thanx,

i am using the latest version on windows 10.
I really dont want to have toe transcode every video i made before i can
use the program. that takes to much time
thanks for the tip though!

2018-07-04 12:10 GMT+02:00 peanutbutterandcrackers <notifications@github.com

[2018-07-04 11:38] dannafe commented on #1787
I am having the same problem on both of my Macs.
MacBook Pro's with plenty of RAM and SSD discs.
Exports work a few times after first install, then immediate crash on export.
Reinstalling does **NOT** fix this.
This problem first came up with v2.4.2.
Reverting back to v2.4.1 does not fix this.

[2018-07-04 12:18] bobcrikey commented on #1787
Iv just tried openshot 2.4.2 on my macmini  4 gigs of ram and exported a video perfectly.
Not one problem.
and heres a video iv just done on my macmini if you want to see domink.
 cheers bob
[vader osx 242.mp4.tar.gz](https://github.com/OpenShot/openshot-qt/files/2163159/vader.osx.242.mp4.tar.gz)

[2018-07-04 14:38] victor-o-silva commented on #1757
v2.4.1-214-gf505a88-628eb373-554d9f2f-x86_64 fixes it for me too.

[2018-07-04 14:45] AbelCastroFigueroa opened #1791 "import files"
I can't import files in any of the ways

**System Details (please complete the following information):**
 - Operating System> Windows 10
 - OpenShot Version 2.4.2

[2018-07-04 16:29] Petr-Ledvina commented on #1736
So the missing log: [libopenshot.log](https://github.com/OpenShot/openshot-qt/files/2163854/libopenshot.log) (but it`s look almost empty).

[2018-07-04 16:35] ferdnyc commented on #1757
Can you install the library? On Fedora, `libdrm` is its own separate package (tho it's pulled in automatically by a dozen things, and is almost impossible to not have installed). But if you don't have anything previously installed that would require it, you may be able to just install it through your distro's package-management system.

(Obviously making every user install a libdrm package isn't a

[2018-07-04 16:37] ferdnyc commented on #1757
BTW, can you define "doesn't work"? What's the actual failure? Exact same crash with a message about missing `drmGetDevices2`?

[2018-07-04 16:40] ferdnyc commented on #1521
If it's _only_ happening in the PPA, it's a packaging issue. I can't help with that, sorry. I know zip about PPAs.

...Are the language files actually _included_ in the PPA? There was a point where rpmfusion's Fedora RPMs were packaging `openshot-lang` as a separate package from `openshot-qt`, so the translations weren't necessarily installed automatically. Something like that?

[2018-07-04 16:52] jpfleury commented on #1521
I have this bug with the AppImage *OpenShot-v2.4.2-x86_64.AppImage*.

For the PPA, I don't know, I didn't test it.

[2018-07-04 18:33] Snapper763 commented on #1134
Hi,
Thanks for the suggestion. I had a video of a show my band did and wanted to edit it down to a clip of each song. I haven’t edited videos before and don’t know when I’ll need to again so I brought the tape to a editing house and paid them to do it.

Thanks again for the help,
Mike

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: DylanC <notifications@github.co

[2018-07-04 18:44] kimiassy commented on #1787
i have the same issue on my imac

[2018-07-04 19:05] croco3008 commented on #1336
I did some tests using two different computers(ubuntu 16.04 and ubuntu
18.04). Openshot is installed using apt repository.  The issue is still
there, but  it looks a little bit different.  On ubuntu 16.04 the wrong
frame. is the previous frame and it causes a heavy flickering. On ubuntu
18.04 the wrong frame is a stalled frame and the flickering is not so bad.
I will do more test using appimage to

[2018-07-04 21:36] plamizia opened #1792 "crashes on windows 10"
hi guys
everytime i use the program it crashes: ie when i play sequences, when i insert an animation, etc
what log can i give you?
i use windows 10, i7 with 8gb ram, hd ssd
let me know please
thanks

[2018-07-04 21:44] glaubersm commented on #881
Bug persists in OpenShot 2.4.2 installed from flathub.

[2018-07-04 22:06] glaubersm opened #1793 "Just installed OpenShot uses pt language despite my system language is pt-br"
**Describe the bug**
I just installed OpenShot 2.4.2 from flathub, my system language is pt-br but OpenShot used pt instead.
I needed to set the correct language in OpenShot settings manually.

**System Details (please complete the following information):**
 - Operating System / Distro: Arch Linux
 - OpenShot Version 2.4.2 installed via flatpak/flathub

**To Reproduce**
Steps to reproduce the beha

[2018-07-04 22:25] MitchPlease opened #1794 "Stuttering"
Hi there! I'm new to the program. Using windows 10, editing Playstation 4 clips. I'm having issues with stuttering, both with the audio and sometimes even the video. It seems to differ each time I run the track, and I'm wondering if there's any way to smooth it out?? These are all short clips that I'm tying together, and the originals don't stutter whatsoever.

[2018-07-04 23:29] foobarbecue commented on #342
hm, ok. So JtLively above is mistaken then, I presume.

[2018-07-04 23:41] ferdnyc commented on #1521
I just noticed what log message is missing from both the OP's report and @jpfleury 's logs:
[code]
The earlier "Successfully loaded _xx_/LC_MESSAGES/OpenShot in '_path_'" message is there, but without that final "Exiting" message it seems possible that OpenShot isn't **applying** the translations.

I'll investigate.

[2018-07-04 23:42] blueviolin commented on #1513
I see the same issue.
OpenShot:2.4.2
Windows 7 Home Premium, 64 bit
Intel i7 860
4 GB RAM
and I have the same issue with same OpenShot version on another Windows 7 but 32 bit system.

Beside this little inconvenience, I am very happy with open shot and the intuitive way I can do my editing. May be not the most powerful editor but more than good enough for  the basic tasks.
Best
Jürgen

[2018-07-05 00:33] ferdnyc commented on #1521
I'm worried this was broken by #1332, which intended to fix a problem where _English_ translations weren't being loaded when OpenShot is run in non-English locales, but I fear may have prevented loading of translations for any default locale.

@jpfleury , @croco3008 : Just to check my assumptions, can you tell me if you're able to set OpenShot's interface language to any language that's **not** ei

[2018-07-05 02:02] bobcrikey commented on #1757
Hello everyone, just my 20 cents worth here, my lappy with nvidia 920m  8 gig ram and ubuntu 18.04,
the  2.4.2 app image works perfectly. :)
cheers
  bob

[2018-07-05 02:15] bobcrikey commented on #1757
jonathan, your app image dev -214 is working fine on ubuntu 18.04. and linux mint 18.3
cheers mate,
 bob

[2018-07-05 02:37] jpfleury commented on #1521
@ferdnyc Yes, I'm able to set OpenShot to any other languages, like Italiano (it).

[2018-07-05 03:00] ferdnyc commented on #652
Want to hear something hilarious?

[This **exact** bug](https://bugs.launchpad.net/openshot/+bug/722285) was present as far back as OpenShot 1.3.0, reported in Launchpad on 2011-02-20.

It somehow survived the complete 2.0 redesign to continue biting us in the ass 7 years later. That is one persistent-ass defect! :rofl:

[2018-07-05 03:12] peanutbutterandcrackers commented on #1789
Hmm... thank you for the logs and screenshots. Hopefully someone else will be able to confirm this soon and we can work on resolving this in the 2.4.2.x bug fix series. :+1:

[2018-07-05 09:24] #1134 closed

[2018-07-05 09:32] domink commented on #1789
I think that I found a workaround for the issue opening inkscape on Mac.
Reading this article http://wiki.inkscape.org/wiki/index.php/Mac_OS_X#Inkscape_command_line, I tried using this on the preferences:
/Applications/Inkscape.app/Contents/Resources/bin/inkscape
And it worked, Inkscape is opened with the selected file (temp.svg)

But the Open Shot "Edit Title" dialog still on top of all Windows :

[2018-07-05 09:42] thatguycrazy commented on #1792
hi, plamizia I have a dell E6430 i5 8gb ram with ssd and it is crashing when i insert transitions. so i'm having the same issue. what does yours say when it crashes? launch.exe?

[2018-07-05 13:35] N3WWN commented on #1789
I'm glad you found a way to resolve the Inkscape issue.  I was going to suggest putting the `/` in front of the path so that the path is absolute instead of relative to _somewhere_ (though I'm not sure where that somewhere may be off the top of my head).

[2018-07-05 14:17] dannafe commented on #1787
using the profile YouTube + Quality: Low is working for me, too
OX-X MacBook Pro, Lots of RAM

[2018-07-05 14:30] ferdnyc commented on #1521
Whoops! Sorry @jpfleury , don't know how I missed the email notification that you'd replied, until just now.

Thanks for testing that. With that confirmation, I'm now convinced that #1332 accidentally broke loading of translation files in the default locale. It should be pretty easy to fix.

[2018-07-05 15:19] emmemmberlin opened #1796 "Aspect Ratio of Preview Window"
Hi there,
i could not find a way how the preview window (and hence also all animations etc) uses the aspect ratio of my selected profile. It seems to remain in 16:9, while, for example, my profile is 9:16.
Could you please help?
thanks
Matthias

[2018-07-05 17:32] k4yaman commented on #1708
Linux Build fixed to Problem. Just doesn't look so gracefully on Manjaro XFCE. Regards
![bildschirmfoto_2018-07-05_19-27-26](https://user-images.githubusercontent.com/10848113/42338439-240acce2-808a-11e8-8c79-b6f1136970e4.png)

[2018-07-05 21:05] airball2000 commented on #1667
@peanutbutterandcrackers : I tried many profiles (websites / flickr-HD, websites / vimeo-HD, websites / youtube VGA, Blu-Ray). Always the same. Crash or Freeze.

[2018-07-05 21:11] ferdnyc commented on #1708
Well, crap. That means the QDockWidget isn't being rendered transparent on your system, for some reason. It's configured transparent, though... I wonder why it isn't rendering that way?

Hmm, XFCE you say...  I wonder if the WM (openbox, I think?) supports compositing? If not, we may be in trouble with the transparent window background... but then again, I wouldn't have expected the previous code

[2018-07-05 22:09] k4yaman commented on #1708
Hello,
XFCE uses  [Xfwm](https://wiki.archlinux.org/index.php/Xfwm), compositing is active. Old Popup was transparent in the corners, sorry to say. Seems like something different is the reason for not being transparent in the new Version. lspci says: `02:00.0 VGA compatible controller: Advanced Micro Devices, Inc. [AMD/ATI] Pitcairn PRO [Radeon HD 7850 / R7 265 / R9 270 1024SP]`

[2018-07-05 23:41] AngryFIlly888 opened #1797 "Audio out of sync from video in preview mode and after export"
**Describe the bug**
Audio from videos is out of sync and audio skips.  Video some times skips but I think I fix that.

**System Details (please complete the following information):**
 - Operating System / Windows 10
 - OpenShot Version 2.4.2, also tried in different versions and had the same problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Import video (With audio and a way to pinpo

[2018-07-05 23:52] peanutbutterandcrackers commented on #1667
@airball2000 - Okay. You have attached the logs too. So, hopefully the devs can work on fixing this in the 2.4.2.x bug fix release series. :+1:

[2018-07-05 23:57] peanutbutterandcrackers commented on #1796
Duplicate of #456 #731 #835 #1093 (item # 4) #1144 #1402

[2018-07-06 00:00] peanutbutterandcrackers commented on #1796
@emmemmberlin - Hi there! This is currently a fix-in-progress. A [PR](https://github.com/OpenShot/openshot-qt/pull/1407) has already been made to fix this. Please follow the discussion over at one of the issues given here. This should be fixed soon. I will try to make this high-priority (so as to get it fixed in the 2.4.2.x bug fix series). Closing this for now (in order to maintain the huge amoun

[2018-07-06 00:00] #1796 closed

[2018-07-06 00:11] peanutbutterandcrackers commented on #1797
Hey there!

Are you sure your profile (in OpenShot) has the same FPS your input video? For instance, if the original footage is 30fps but you edit in 24fps you'll end up having issues like these. Could you please make sure you are using the same profile? If not, we can get this marked as a bug.

Thanks!

[2018-07-06 00:14] peanutbutterandcrackers commented on #1134
@Snapper763 - [Here](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) is an awesome guide if you want to become an OpenShot editing ninja. As for the performance issues, it will only get better with time... :+1:

[2018-07-06 00:30] peanutbutterandcrackers commented on #1789
@dominik - Awesome! This needs some more testing, IMHO, to mark it as a bug here in OpenShot. I wonder if there's something else going on causing the trouble (InkScape issue? Window Manager issue? I don't really know, though)...

[2018-07-06 00:38] peanutbutterandcrackers commented on #1792
Hey there,

Are the both of you using version 2.4.2? If not, then please switch to using version 2.4.2. Also, please do [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14). That should help us help you. Thanks!

[2018-07-06 00:40] peanutbutterandcrackers commented on #1793
Possible dup of #1521

Possible fix in progress with PR #1795

If the fixes are merged into 2.4.2.x bug-fix series, then it should be available on flathub too.

[2018-07-06 00:42] peanutbutterandcrackers commented on #1793
@glaubersm - If it is okay with you, please do close this issue here (if the problem you're facing is really a duplicate) and follow the discussion over at the other issue. That will help us manage the large influx of issues here. Thank you!

[2018-07-06 00:43] peanutbutterandcrackers commented on #342
@foobarbecue - Perhaps he was talking about the 1.x series. :)

We'll make this a priority (for `2.4.3` release, then, good sir!)

[2018-07-06 00:47] peanutbutterandcrackers commented on #1788
@Louisedeman - Could you please, then, [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) so that the devs can look into this? Thanks! Hopefully we can get this fixed in the upcoming releases. Also, please give us full system specs and the output of running [MediaInfo](http://mediaarea.net/MediaInfo) on the clip? Thanks!

[2018-07-06 00:49] peanutbutterandcrackers commented on #1788
It just hit me that you could be using a profile with FPS different than your original footage. That might be causing issues with sound, then. Could you please make sure you are using the exact same FPS as your original footage while editing? If not, please switch to one. If there isn't a profile that matches your FPS/dimensions, etc. you can always [create your own custom profile](https://www.ope

[2018-07-06 00:52] peanutbutterandcrackers commented on #1791
Could you please provide us with some more details please? Screenshots? Screen-recording? More explanations? Please? That will help us help you.

[This](https://www.youtube.com/watch?v=1k-ISfd-YBE&list=PLymupH2aoNQNezYzv2lhSwvoyZgLp1Q0T) tutorial series should really help you get started with OpenShot. And [this](https://www.openshot.org/static/files/user-guide/quick_tutorial.html#step-1-import-ph

[2018-07-06 00:54] peanutbutterandcrackers commented on #881
It says `pt` and `pt_BR`. Hmm... I wonder if we really have any control over this... but maybe we do... I am not sure...

[2018-07-06 00:56] peanutbutterandcrackers commented on #1736
Thank you! Hope we can get this resolved in the upcoming releases! :+1:

[2018-07-06 00:59] peanutbutterandcrackers commented on #1787
@kimiassy - Could you please, for the time being, export to `YouTube + Quality: Low` and other profiles that @dannafe has pointed out to work, please? Also, could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14)? That will help us get some insight into this issue. Thanks!

@dannafe - Great detective work, sir! I wonder if something need

[2018-07-06 01:02] peanutbutterandcrackers commented on #1797
Oh, I see. Then this is probably related to https://github.com/OpenShot/libopenshot/issues/115

Marking this as a bug for now, then. Thank you for the report. Please do look forward to upcoming releases. :)

[2018-07-06 01:31] mnwstl commented on #1253
It is noticed that it improved a lot with the new version, however I liked more of the theme "blue flat slim" which allowed a better use of the screen.

I noticed that the translation to the Portuguese is not correct. It seems to confuse Portuguese from Portugal (pt) with Portuguese from Brazil (Pt_BR).

![2018-07-05_21-59](https://user-images.githubusercontent.com/22776404/42355358-0f31e828-80a3-

[2018-07-06 01:48] peanutbutterandcrackers commented on #1253
@mnwstl - Is the language issue related to [this issue](https://github.com/OpenShot/openshot-qt/issues/1793), good sir? Also, please excuse my ignorance, but what is "blue flat slim" theme? Can I have a link please? How does OpenShot look with that theme?

[2018-07-06 01:50] peanutbutterandcrackers commented on #1513
@blueviolin - Good sir, could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) so that the devs can get some more insight into this? Thanks!

[2018-07-06 01:59] peanutbutterandcrackers commented on #1760
I wonder if this is related to #1496 and following [this](https://github.com/OpenShot/openshot-qt/issues/1456#issuecomment-379468025) would fix it for you...

Sorry for the tardy reply...

[2018-07-06 02:02] peanutbutterandcrackers commented on #938
Does the issue still persist in version 2.4.2?

[2018-07-06 02:06] peanutbutterandcrackers commented on #1728
@rugubara - Sorry for the tardy reply. Hmm... that is strange... I should probably look something up, then. However, for the time being, I suggest you transcode the original footage to `.mkv` using [HandBrake](https://handbrake.fr) to make it editable. Sorry for the inconvenience...

[2018-07-06 02:07] peanutbutterandcrackers commented on #1728
@DylanC - Cap'ain, do you have any ideas why it is so? o.O

[2018-07-06 02:10] Snapper763 commented on #1134
Excellent, thanks. I’ll check it out.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: peanutbutterandcrackers <notifications@github.com>
Sent: Thursday, July 5, 2018 7:14:38 PM
To: OpenShot/openshot-qt
Cc: Snapper763; Mention
Subject: Re: [OpenShot/openshot-qt] Blurry Video export (#1134)

@Snapper763<https://github.com/Snapper763> - Here<https://gist.github.com/

[2018-07-06 02:14] peanutbutterandcrackers commented on #1794
I suggest transcoding the original footages into `.mkv` using [HandBrake](https://handbrake.fr). Hope that helps.

Also, could you please try providing us with the output of [MediaInfo](http://mediaarea.net/MediaInfo) on the original footage please?

If the problem still persists, please give us your full system specs and [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74

[2018-07-06 02:17] peanutbutterandcrackers commented on #1781
I had run into this a similar issue with the daily builds during the RC series but couldn't get around to reporting it. So, I think this is a bug, indeed. Possibly related to #1610 too? Maybe I should check on that machine again and add some further info in the comments below...

@DylanC - Could you please also test this one out, Cap'ain?

@ferdnyc - Perhaps this might be of some interest to you,

[2018-07-06 02:49] peanutbutterandcrackers commented on #1762
@DylanC - Cap'ain, I think this needs to be tested and marked as a bug if necessary... (sorry, haven't had the time to do a lot of testing myself these days...)

[2018-07-06 02:50] peanutbutterandcrackers commented on #1425
Just had to say this: I absolutely dig that adjustable track height feature. Looks really neat!

[2018-07-06 03:00] AngryFIlly888 commented on #1797
BINGO! found an FPS value that works, 24 NTSC. the audio is in sync but the video is glitchy. https://www.youtube.com/watch?v=2RjLPxdyIjw
Using the same video from last time. With captions.
P.S. the Glitchyness of the video is not OpenShot. It was like that before I put it in to the editor.

[2018-07-06 08:10] bobcrikey opened #1798 "OpenShot Show Case #1"
hello everyone, thanks to peanuts transitions are now working properly in openshot 2.4.2
no black screens going past. i accidently closed the thread but its not there now
so i thought i'd share with everyone , and peanuts what can be achieved with openshot when
making animation movies.
please enjoy .

https://www.youtube.com/watch?v=3xjBEoVET9o  star trek the mind meld

https://www.youtube.com/wat

[2018-07-06 08:13] domink commented on #1789
@peanutbutterandcrackers, it is @domink instead @dominik. (I've found @dominik is also valid but... not sure he will know what we are talking about :-) ).

Please, note that I've found a way to start inkscape from openshot but... the "On Top Always" state of the openshot dialog looks an issue (bug?) which should be handled. Maybe like a separate issue for tracking. What do you think?

[2018-07-06 08:14] wrogner opened #1799 "OpenShot 2.4.2 AppImage does not start"
**Describe the bug**
A clear and concise description of what the bug is.

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concis

[2018-07-06 08:21] wrogner commented on #1799
btw. libglx_mesa is installed

[2018-07-06 09:02] ferdnyc commented on #1708
*nod* Well, basically everything is different with the new tutorial, the way the popups are managed was completely restructured. I must've missed something in the setup code, but I'll keep looking.

The first "Welcome" popup, that one was also non-transparent in the new code, right? And even though it doesn't have an arrow, there was still a wide black bar to the left? Just making sure I have a co

[2018-07-06 09:09] wrogner commented on #1799
Found #1555 and a suggestion there:
`export LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libdrm.so.2
./OpenShot-v2.4.2-x86_64.AppImage `
The application started!

[2018-07-06 09:29] k4yaman commented on #1708
Yes, and I additionally am able to change the window size on all edges except the top one. And on the left side I can change the size on the left side of the black bar

[2018-07-06 09:40] ferdnyc commented on #1708
Yeah, that part's perfectly normal — a consequence of how the tutorials are managed now is that they can be resized on some systems. Normally it's pretty difficult to do. (You have to find a 1-pixel-wide invisible hairline window edge.) But your system cheats with that opaque window background, which makes it a lot easier to find.

[2018-07-06 10:28] DylanC commented on #1253
@mnwstl Please follow the progress of that bug here in #1793. I think this seems to be resolved, so I'm gonna close this one out.

[2018-07-06 10:28] #1253 closed

[2018-07-06 10:34] DylanC commented on #1762
@peanutbutterandcrackers - As soon as I fix my laptop OS I can test this and all the others. 👍

[2018-07-06 10:35] DylanC commented on #1799
@wrogner - I have this same issue on PopOS 18.04 at the moment. I'm sure it will be resolved soon.

[2018-07-06 10:37] ferdnyc commented on #1708
Well, I just made a couple of changes that might help. Though to be honest I'm not very confident in that, the documentation says the flags I just added should already be set automatically.

[2018-07-06 12:17] bobcrikey opened #1800 "merge and append project into time line from another openshot project"
hello everyone, "A Merge and an append option"
I'd like see a merge option to be included into future version of openshot .
As it would be handy at either the beginging of a time line or at the end of the time line to merge
another project files into current timeline and project files. or append it.

I know you can just add in the new files, but to be able to copy a whole project with all the file

[2018-07-06 13:09] meoso commented on #714
Success.
Preformed `rm -rf .openshot_qt/`
and ran `OpenShot-v2.4.1-180-gfdd5e96-2f45a4eb-f32c7c30-x86_64.AppImage`
and was able to navigate & hide the tutorial dialog.
`Linux 4.16.0-0.bpo.2-amd64 #1 SMP Debian 4.16.12-1~bpo9+1 (2018-06-03) x86_64 GNU/Linux`

[2018-07-06 13:14] #1611 closed

[2018-07-06 13:14] #1683 closed

[2018-07-06 13:14] #1583 closed

[2018-07-06 13:15] #1494 closed

[2018-07-06 13:15] #1656 closed

[2018-07-06 13:16] #1593 closed

[2018-07-06 13:16] #1462 closed

[2018-07-06 13:17] #1451 closed

[2018-07-06 13:18] #1720 closed

[2018-07-06 13:18] #1630 closed

[2018-07-06 13:31] ferdnyc commented on #714
\o/

Great, thanks @meoso ! That's good news.

Now if I can just figure out why the background isn't transparent on XFCE (#1708)...

[2018-07-06 14:14] meoso commented on #714
i run XFCE if you need testing on weekdays CST only.

[2018-07-06 14:18] ferdnyc commented on #714
@meoso — Please! That would be a huge help. Actually, if you can test the _same_ `OpenShot-v2.4.1-180-gfdd5e96-2f45a4eb-f32c7c30-x86_64.AppImage` build and confirm that the tutorial windows don't have a transparent background, it's be great to get an idea of how widespread the issue is.

And then hopefully at some point there will be newer builds to test, but that can wait until next week.

[2018-07-06 14:24] meoso commented on #714
add here or #1708 ?

[2018-07-06 14:35] ferdnyc commented on #1708
Hmmm... curiouser and curiouser. Thanks @meoso , so it's apparently not a universal thing. Now, the question is, what is it about @k4yaman 's system that's different, and is there anything OpenShot can do to account for it?

(One idea I've already thought of is simply _not_ doing transparent tutorial popups, **if** we can detect that they won't be supported. The tutorial could easily render itself

[2018-07-06 14:37] ferdnyc commented on #1708
Just moving a couple of @meoso 's XFCE 4.10 / `OpenShot-v2.4.1-180-gfdd5e96-2f45a4eb-f32c7c30-x86_64.AppImage` screencaps into the Issue...

![image](https://user-images.githubusercontent.com/538020/42384609-778c487c-8108-11e8-9014-827f8a8e0029.png)
![image](https://user-images.githubusercontent.com/538020/42384587-6ad92898-8108-11e8-8ce6-6fd0414a2533.png)

[2018-07-06 15:14] wrogner commented on #1799
All it takes is to update the /usr/bin/libdrm.so.2

[2018-07-06 15:40] wallyvianna opened #1803 "Extending Open Shot effects"
I want to know if plugins or extensions with more effects can be added to Open Shot, and how to do it.

[2018-07-06 16:08] singalen commented on #938
Didn't reproduce on 2.4.2.

[2018-07-06 16:37] marioratko opened #1804 "Cheers! How to fade an audio file?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-07-06 17:07] tlord opened #1805 "Pre-editing audio-based file synching (as in PluralEyes)"
**Is your feature request related to a problem? Please describe.**
It's frustrating to deal with synchronizing multiple audio tracks associated with a video project, when using consumer grade cameras and external sound recorders -- there's no time code, and there can be some drift, which makes for some visual dissonance. It bugs us when mouths are out of synch with words, or a plucked string doesn

[2018-07-06 17:43] Stil57 commented on #1750
i've been trying it out for like 4 days and it's ok i mean much better not trying to respond and stuff but i got some issues with the audio everytime i export my  project the last 2 seconds are like completely destroyed (audio)
________________________________
Από: Antonis Papaemmanouhl <stil_57@hotmail.gr>
Στάλθηκε: Δευτέρα, 2 Ιουλίου 2018 1:22 μμ
Προς: OpenShot/openshot-qt; OpenShot/openshot-qt

[2018-07-06 19:31] saabi89 commented on #1781
Thanks. Hope this gets solved in the next update.

[2018-07-06 19:32] madge1009 commented on #1792
I am also having crash problems only since updating to 2.4.2.  I have attached my log for what it's worth.  Also Windows 10.  It crashes when I export to video.  It does seem to have something to do with transitions, when I remove them it does not crash.
[openshot-qt.zip](https://github.com/OpenShot/openshot-qt/files/2171706/openshot-qt.zip)

[2018-07-06 21:01] lcontic opened #1806 "Openshot Version 2.4.2 won't open"
I recently downloaded version 2.4.2 of Openshot Video Editor to my Lenovo laptop and I'm having trouble opening it.   I've tried it about 15 times unsuccessfully.   Can anyone direct me please?

[2018-07-07 02:00] peanutbutterandcrackers commented on #1806
Which system are you on, ma'am? Windows 10? Windows 8? Linux Mint? Please provide us with some more details. Thank you.

[2018-07-07 02:02] peanutbutterandcrackers commented on #1792
@madge1009 - Strange, the crashes triggered by transitions were handled in the source code and should no longer be happening... Thank you for the logs, BTW. We'll try to get on fixing this in the upcoming releases. Sorry for the inconvenience.

[2018-07-07 02:07] peanutbutterandcrackers commented on #1750
I see. Could you please also [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14)? That should help the devs figure out what is going on behind the scenes.

[2018-07-07 02:13] peanutbutterandcrackers commented on #1804
There's the simple way:
![screenshot from 2018-07-07 07 56 34](https://user-images.githubusercontent.com/26764547/42405758-4cc5a1ca-81bb-11e8-8034-1055873690dd.png)

and there's the 'hard' way - using volume keyframes.

I prefer using keyframes. It allows one to control every aspect of any property of a clip. Check [this](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba

[2018-07-07 02:16] peanutbutterandcrackers commented on #938
Great! need more confirmation now! But yay!

[2018-07-07 02:17] peanutbutterandcrackers commented on #1803
Sorry sir, not yet. Plans are there for an effects plugin so that the users can write their own cool new effects and stuff. But it might take a while before that becomes a reality... Please stay on the loop and keep on loving/supporting OpenShot till then!

Closing this as answered. :)

[2018-07-07 02:17] #1803 closed

[2018-07-07 02:29] lcontic commented on #1806
So sorry..... thanks for responding.  I'm on Windows 10.  It turns out the program did finally open but it took almost 30 minutes.  Not sure what the problem is.

[2018-07-07 02:31] peanutbutterandcrackers commented on #1806
Whoa. That is kinda' a serious issue. Could you please attach the logs here so that the developers can investigate this issue? Just go to the `.openshot_qt` folder in your user accounts main folder and inside it, you should find some files ending with `.log` -- `openshot_qt.log` and `libopenshot.log` (among possibly others). Please zip all of the log files and then attach the zip here. That will h

[2018-07-07 02:45] peanutbutterandcrackers commented on #1760
@bobcrikey - Thanks! I have added a 'showcase' label and kept your 'issue' open. Hope that encourages more users to get creative with OpenShot and share their creation with others!

[2018-07-07 02:46] peanutbutterandcrackers commented on #1800
Is [this](https://github.com/OpenShot/openshot-qt/issues/1230) what you mean, good sir?

[2018-07-07 02:58] peanutbutterandcrackers commented on #1708
@k4yaman - Good sir, in order to test the changes made by @ferdnyc, could you please clone the repos and test it from the source for the time being, please? It seems the builds are failing currently. However, should it work, I will post the AppImages for testing here as fast as I can. But then again, it might take a few more days... [Here](https://www.openshot.org/static/files/user-guide/developer

[2018-07-07 03:03] peanutbutterandcrackers commented on #1806
Windows: OpenShot stores its logs in your user profile directory (%USERPROFILE%, e.g. C:\Users\username\)

    %USERPROFILE%/.openshot_qt/openshot_qt.log
    %USERPROFILE%/.openshot_qt/libopenshot.log

[2018-07-07 03:06] peanutbutterandcrackers commented on #1630
@MisterTeeXD - I see that you have closed a lot of the issues that you'd opened. I hope you do keep on reporting issues - as the performance issues that you point towards is what needs to be fixed in OpenShot. Perhaps we can fix all of them one at a time in future releases. Thank you for loving and supporting OpenShot, Mr. Tee. :+1:

[2018-07-07 03:09] peanutbutterandcrackers commented on #1789
@domink - Oops, Sorry! My bad. lol

Hmm.... I see. Perhaps there is something with that window that is set to a parameter that makes it always on top on a mac? I think this needs more testing.

@ferdnyc - Sir, do you mind taking a very quick look at this, please?

[2018-07-07 03:36] ferdnyc commented on #1708
Testing "from source" only works if you have a working libopenshot and libopenshot-audio installed somewhere, which any users running from AppImages don't have. I don't know anything about Manjaro, is that something that's easy enough to obtain?

(As long as the libraries from a 2.4.2 release are installed on the system, I agree — running `openshot-qt` itself from the source is child's play, I can

[2018-07-07 03:39] burnabbie opened #1807 "Backround clour"
The back round color has changed to white. What is the way to change it back to Black.

Toggle switch in the preference menu may be an easy solution.

Thanks
burnabbie

[2018-07-07 05:18] Jagzon opened #1808 "HELP, QUICK!"
I close all the stuff in openshot and there is only the track left, how do i reopen them?

[2018-07-07 07:08] ferdnyc commented on #1789
No, everything's set up correctly with the window. The problem is how OpenShot itself interacts with Inkscape.

I haven't looked at all of the code yet, but just based on a _user_ side evaluation, when OpenShot launches Inkscape it appears to completely block waiting for it (Inkscape) to exit. And I mean _completely_ block. If I try to resize the Title Editor window while Inkscape is still running

[2018-07-07 07:49] rm-minus-r-star opened #1809 "This application failed to start because it could not find or load the Qt platform plugin "xcb" in ""."
Installed from ppa on Ubuntu 18.04 on Lenovo Thinkpad P50, with both the stable and daily, and launching via cli:

[2018-07-07 09:15] thatguycrazy commented on #1792
[libopenshot.log](https://github.com/OpenShot/openshot-qt/files/2172612/libopenshot.log)
[openshot-qt.log](https://github.com/OpenShot/openshot-qt/files/2172613/openshot-qt.log)

Crashes when playing transitions.

[2018-07-07 10:05] DylanC commented on #938
@peanutbutterandcrackers I'm happy enough with this confirmation. Hope you don't mind if I close. Others can let us know later on.

[2018-07-07 10:05] #938 closed

[2018-07-07 10:19] DylanC commented on #1808
@Jagzon You would need to add a new track. What do you mean by "stuff" exactly?

[2018-07-07 13:22] abrewin commented on #1787
I have tried both Mac and Windows 10 latest versions and its crashing on Export for me too.  Windows: exporting to MP4 High quality, it runs till about 95% then shuts down.  File is there but corrupted.
Mac:  Crashes as soon as I click Export Video both High quality and Low.

How to I find the Log files in Mac?

[2018-07-07 14:46] MisterTeeXD opened #1810 "[Needs Fixing] Split Issue"
**Describe the bug**
When a video clip has been splitted, the other part of the video moves somewhere else on the timeline

**System Details (please complete the following information):**
 - Operating System / Distro: Windows 10
 - OpenShot Version: 2.4.2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Razor Tool
2. Click on the Razor Tool
3. See error by splitting a video clip on the

[2018-07-07 16:57] briarmae opened #1811 "Fast forward option causes blinking?"
Hi, I'm trying to fast forward some screen capture footage. When I apply the x16 (or whatever speed) the program does it fine, though it wont load the preview. It takes forever to render, like 8 hours or so (which I assume is normal since that is a big task) but when I play back the new file the footage "blinks". Every few moments there's a black frame and it's really disorienting to watch.

Does

[2018-07-07 17:58] Have-a-Laugh commented on #1555
@peanutbutterandcrackers so sorry for the late reply, I can verify it's working! Thanks :+1:

[2018-07-07 18:03] Have-a-Laugh commented on #1757
@ferdnyc Thanks!

[2018-07-07 18:46] StBrane commented on #1787
I was having the same crash upon export issue.

Advanced settings has the frame rate at 30000 to 1001.
I changed this to 28 and 28.
Target is mp4(h2.64)
quality low.

which then proceeded to dump 15,000 images into a folder.

[2018-07-07 22:18] AbelCastroFigueroa commented on #1791
I tried to open an MP4 file different ways with same result:
1- Rightclick the file nema, Open with and select Launch.  Open Shot opens but no file is shown.
2- Dragging MP4 file intoth left side of OpenShot but nothing happens.

Note on the screenshot, the bar and 14 seconds label.  Looks like some file is stuck in the
![untitled](https://user-images.githubusercontent.com/40813146/42415082-0641a9

[2018-07-07 23:10] lcontic commented on #1806
Attached are the zipped files which I hope are what you need.  Thanks again for you help!

[libopenshot.zip](https://github.com/OpenShot/openshot-qt/files/2173182/libopenshot.zip)
[openshot-qt.zip](https://github.com/OpenShot/openshot-qt/files/2173184/openshot-qt.zip)

[2018-07-08 00:49] lilly91 opened #1812 "fail to export"
**Describe the bug**
When exporting the video it always stops at 34.4% and crashes. Launch.exe not responding is the error displayed. Tried to export in different formats but same issue.

**System Details (please complete the following information):**
 - Operating System / Distro: [Windows 10]
 - OpenShot Version [2.4.2]

[2018-07-08 02:52] ferdnyc commented on #1555
@Have-a-Laugh : Just to clarify, you mean **both** that the AppImage loads with the workaround, and the tutorial windows function properly with the test AppImage?

[2018-07-08 03:37] ferdnyc commented on #1757
It occurs to me that, in a sense, this is all the fault of the libdrm developers, who added that `drmGetDevices2` symbol to the library without incrementing the API version. I'm not sure what the convention on that is, traditionally. (IOW, whether _adding_ a symbol is considered an API break — in theory it wouldn't have to be, since the new library is still backwards-compatible with programs linke

[2018-07-08 04:37] peanutbutterandcrackers commented on #1555
Yeah, I have the same question as @ferdnyc, @Have-a-Laugh good sir. Is the tutorial dialogue responsive and okay now?

[2018-07-08 04:41] peanutbutterandcrackers commented on #1812
Um... good sir, could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) here, please? That should really help us help you. Thanks!

[2018-07-08 04:42] peanutbutterandcrackers commented on #1806
Thank you, ma'am!

@N3WWN @DylanC - care to take a look at this, gentlemen?

[2018-07-08 04:44] peanutbutterandcrackers commented on #1791
I wonder if it is because your current OpenShot layout does not have the 'project files' tab. Could you please go to `view` > `views` > `simple view` and try again, please? Please drag the files first to project files. Perhaps it'll work then...

If it doesn't, we'll have to do some further investigations into this...

[2018-07-08 04:47] ferdnyc commented on #1806
@peanutbutterandcrackers - In the future I'd just point people to [CONTRIBUTING.md](https://github.com/OpenShot/openshot-qt/blob/develop/CONTRIBUTING.md) (and perhaps mention they don't need to enable debug mode, for things like this), as it explains how to find the logs for any system.

Unfortunately, without timestamps in the logs, there's no way of knowing where the slowness is. However, it _se

[2018-07-08 04:48] peanutbutterandcrackers commented on #1787
@abrewin @StBrane - Thank you for the confirmation, good sirs.

Please read [this guide](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) to attach the logs, properly. [This guide](https://github.com/OpenShot/openshot-qt/blob/develop/CONTRIBUTING.md) tells you where to find the logs in different platforms. Please do attach the logs for us. That should help us do so

[2018-07-08 04:50] peanutbutterandcrackers commented on #1806
I usually point people out to [this guide](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) to attach the logs. There I walk the users through deleting the original logs first and re-creating the crash again - so as to minimize the size of the logs. :)

[2018-07-08 04:50] bobcrikey opened #1813 "project files list Alphabetical order needed"
hello , all project files need to be in alphabetical order.
At present if you import files into the project one at a time they are usually not in order alphabetically.
have a look at this picture to demostrate., notice the apple and the book are at the bottom and should
be at the top of the project files listing. the same in the image tab, they are out of order.

This needs to be corrected, its fr

[2018-07-08 04:52] peanutbutterandcrackers commented on #1811
"Like 8 hours or so"? Whoa. That is a lot of time. How long is the footage, sir? Is it like 2/3 hours long?

I would call this a program issue if the footage isn't that large.

Could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) so that we can investigate? Also, could you please provide us with a sample video of the 'blink'? That sho

[2018-07-08 04:54] peanutbutterandcrackers commented on #1813
Precisely! I was thinking the same thing some time earlier; but was unable to submit an issue myself (too busy juggling around the other reported issues). Perhaps we should have a 'sort by' option in that tab...

[2018-07-08 04:55] peanutbutterandcrackers commented on #1792
Thank you for the logs, sir. We'll look into this. :+1:

[2018-07-08 04:57] peanutbutterandcrackers commented on #1708
Hmm... the developers page does get into getting all the libraries installed on Ubuntu, at least. I wonder if finding their equivalents in majaro would be that hard (it probably would be though). The guide is pretty well documented, nevertheless... It seems like our only choice now. Because buildkite. :D

[2018-07-08 04:59] peanutbutterandcrackers commented on #1789
I smell a PR to fix this cooking up somewhere. *cough* *cough* @ferdnyc *cough* *cough* :laughing:

[2018-07-08 05:03] ferdnyc commented on #1708
The developers guide details _**building**_ the libraries! We should never point **any** endusers at that guide!

Ubuntu users can just install `libopenshot-audio` and `libopenshot` from those PPAs you keep mentioning, right? There's no need for them to be building libraries just to test OpenShot!

[2018-07-08 05:05] peanutbutterandcrackers commented on #1708
Well... in my defense he does use majaro - the arch linux for the common man. :smile:

I wouldn't want to do this, either. It's just that currently, we have no choice... :disappointed:

[2018-07-08 05:06] peanutbutterandcrackers commented on #1808
A screenshot or two would also be of some great help to us, sir. :)

[2018-07-08 05:08] peanutbutterandcrackers commented on #1809
Like it says, could you please reinstall the application?

Could you please also [attach the logs](https://github.com/OpenShot/openshot-qt/pull/1726#issuecomment-403209077), thanks!

(@ferdnyc should be able to help out, though; he helped me with a qt issue some time ago)

[2018-07-08 05:10] peanutbutterandcrackers commented on #1797
In the meantime, you might also want to experiment with [creating custom profiles](https://www.openshot.org/static/files/user-guide/profiles.html#custom-profile), perhaps?

[2018-07-08 05:50] peanutbutterandcrackers commented on #1810
Normally I would have called for some more testing but I'll mark this as a bug anyway because while the waveform is visible, OpenShot is known to be quite erratic.

Could you please check and make sure if this problem persists even when the waveforms are not being shown?

Thank you for good report, BTW. :+1:

[2018-07-08 06:06] peanutbutterandcrackers commented on #938
It's all right, Cap'ain! We can re-open it later if it is necessary. But I think it's good. :+1:

[2018-07-08 06:06] rm-minus-r-star commented on #1809
Yes, I tried numerous re-installations, the last of which was to switch to the daily source as mentioned.

I tried further since that post to `sudo apt install qt5*, and the re-install openshot-qt again, but again with no joy:

Based on advice [elsewhere](https://stackoverflow.com/questions/17106315/failed-to-load-platform-plugin-xcb-while-launching-qt5-app-on-linux-without/25437758), I tried addi

[2018-07-08 06:09] peanutbutterandcrackers commented on #1809
Sorry about your loss...

You could perhaps try out [Pitivi](http://www.pitivi.org/), [ShotCut](https://www.shotcut.org/), or [Kdenlive](https://www.kdenlive.org/) in the time being. Or perhaps even try the AppImages. That should probably work. But [this workaround](https://github.com/OpenShot/openshot-qt/issues/1757) might be necessary, too.

We'll try to see if anything can be figured out, in th

[2018-07-08 06:13] ferdnyc commented on #1757
(However, the fact that adding the symbol to `libdrm.so.2` leaves it backwards-compatible is also the thing that saves us here. The libdrm version bundled with the AppImages can be upgraded to one that includes `drmGetDevices2`, and it'll still work with even the older version of Qt that the AppImages use. If upgrading libdrm _did_ break the API, then we couldn't upgrade it without upgrading Qt as

[2018-07-08 06:21] ferdnyc commented on #1809
@rm-minus-r-star The strikethroughs are because `~` is recognized markup in Markdown, and markup is still processed in quoted text. You should use fenced code blocks (three ` ``` ` on a separate line) at the start and end of your pasted logs, to keep it from reading what's between as Markdown.

If your distro's Qt installation doesn't supply `libqxcb.so` (and you can't install it from some additio

[2018-07-08 06:22] ferdnyc commented on #1809
And as @peanutbutterandcrackers said, my condolences re: your father in law.

[2018-07-08 06:30] ferdnyc commented on #1809
Nope! Sorry, it's in `libqt5gui5`. ([The package listing at Ubuntu](https://packages.ubuntu.com/xenial/amd64/libqt5gui5/filelist))

[2018-07-08 07:03] #1812 closed

[2018-07-08 10:05] Have-a-Laugh commented on #1555
@ferdnyc @peanutbutterandcrackers I can confirm the AppImage (OpenShot-v2.4.1-180-gfdd5e96-2f45a4eb-f32c7c30-x86_64.AppImage) is running using the workaround (export LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libdrm.so.2.4.0), but once I close the AppImage it won't open from the icon, so I went back to the command line and tried again, it still wouldn't run, so I ran the workaround command again and it

[2018-07-08 11:04] kforney commented on #1787
Experiencing this issue on Fedora 28 as well.

Here are my logs:
[openshot-qt.log](https://pastebin.com/8seqwmwk)
[libopenshot.log](https://pastebin.com/6EnZvx5R)
[Output from terminal](https://pastebin.com/tP03TUnt)

[2018-07-08 13:08] ferdnyc commented on #1555
@Have-a-Laugh Yeah, the workaround breaks the ability to launch the AppImage from an installed icon, it will only work from the command line. I should note that over on the startup-crash bug.

The issue with the tutorial transparency, one other user has reported so far (#1708), it's very strange to me as most people aren't seeing that.

The off-the-screen thing, arrgh! I didn't even think of that.

[2018-07-08 13:14] ferdnyc commented on #1555
@Have-a-Laugh Oh, I did also just want to mention: One nice thing about Github is that you don't need any image hosting at all, you can include images right in your issue comments. Just drag-and-drop or click at the bottom of the comment box to upload.

Have-a-Laugh's screenshots, for future reference:
![image](https://user-images.githubusercontent.com/538020/42420143-3b4ea228-828f-11e8-914e-8f9e5

[2018-07-08 13:21] ferdnyc commented on #1555
"...On some systems." I just re-tested and with either old or new tutorial code, under Gnome Shell (at least on Fedora), the widget is prevented from extending beyond the screen borders, so its position is just forced out of place when necessary so that it's still all visible. But obviously not all window managers have that policy, so I stand by this as the most universal approach:

[2018-07-08 14:10] Have-a-Laugh commented on #1555
@ferdnyc thanks for the heads up about dragging images I had no idea that was a thing, much appreciated, and sorry again about being out of sync with version testing.

[2018-07-08 16:21] AbelCastroFigueroa commented on #1791
I won something, but from here I cannot play the video

2018-07-08 0:45 GMT-04:00 peanutbutterandcrackers <notifications@github.com>
:

[2018-07-08 16:39] lcontic commented on #1806
I'm not surprised there were multiple copies running at the same time.   I had unfortunately tried to open it again when it wasn't responding.  Then 1/2 hr later when it did finally open, multiple sessions opened.  Sorry I hadn't mentioned that previously.  I restarted my computer today, clicked once to open the program an hour ago and still no luck.  If you'd like for me to attach new logs please

[2018-07-08 16:48] AbelCastroFigueroa commented on #1791
Sorry, I think everything is OK now. Thank you!
Abel

2018-07-08 12:21 GMT-04:00 Abel Castro <castroabel87@gmail.com>:

[2018-07-08 17:02] lcontic commented on #1806
UPDATE - it's been an hour and 20 minutes and the program finally opened!

[2018-07-08 17:30] Hunteil opened #1814 "Ask a Question"
idk if this is the intent of the feature...

In help pull down>Ask a Question... brought me to this place. When I go to start new issue. It says request a feature or submit a bug... I used the last small link for submit a regular issue.

Is this what you guys intended? Or was it supposed to give an option for general question? (maybe limitation of github? but idk I'm not experienced in it.)

[2018-07-08 17:34] briarmae commented on #1811
Yeah, here's a video of the blinking [https://youtu.be/3tnO_f8pFVk](url)

I'm re-exporting now to try and make a .log

[2018-07-08 17:38] briarmae commented on #1811
I'm running windows10. The video I'm exporting is only 5 minutes long (at x16 speed, so the original length is fairly long)

I've just re-installed OpenShot as well, to see if that helps. I think it will, since the exportation been maybe ten minutes and it's already at 23%. Fingers crossed.

[2018-07-08 17:47] Hunteil opened #1815 "Question on export and adding together."
I'm not too experienced in video editing. But I was recommended to use Openshot and have taken a liking to it. I'm editing some footage for a tutorial/demonstration for building some props.

Anyways I have a basic question:
1. I have about 3-4 hours of footage over a dozen mp4's. I just got done all the intro, tools and parts needed lists. I'm noticing my computer is starting to struggle with ever

[2018-07-08 17:58] Hunteil opened #1816 "One time use Razor Tool feature"
**Is your feature request related to a problem? Please describe.**
When I use the razor tool and it takes awhile... I'll let it process, but sometimes I'll forget the tool is still active and click on a strip and get stuck screwing everything up.

**Describe the solution you'd like**
Could you please add a feature to enable single use of that tool? i.e. when you use it, it turns off the tool. Just

[2018-07-08 18:08] Hunteil opened #1817 "Snap back end of strips in timeline"
**Is your feature request related to a problem? Please describe.**
Sometimes I realize my title screens need updating or a clip in my timeline needs to be replaced. So I create a new clip and line it up to previous clip with the snap feature. Then then I find that I can't stretch the back side of the new clip to front of the next clip with snaps. So I have to use Razor Tool and guess when it ends.

[2018-07-08 18:14] Hunteil opened #1818 "Make stretching more accurate"
**Is your feature request related to a problem? Please describe.**
When I go to stretch a clip and try to line it up with something else. I notice that it doesn't stretch to exactly where I told it to go.

**Describe the solution you'd like**
Make the stretch method more accurate. If not due to limitation, then after the user attempts to stretch a clip more than 3 times, maybe make a reminder for

[2018-07-08 18:37] Hunteil opened #1819 "Time RESET doesn't work correctly"
**Describe the bug**
When resetting the time on a clip you sped up, you'll find it ruins the clip.

**System Details (please complete the following information):**
 - Windows 10
 - OpenShot Version 2.4.2

**To Reproduce**
-Take a clip, place it in a track timeline. right click>Time>Fast>Forward>8x
It should work and shrink the clip correctly.
-Right click the clip>Time>Reset Time
It should play a

[2018-07-08 20:12] MisterTeeXD commented on #1810
Hello, i have just tested this, apparently if you split the clip twice, it will push the other part away from the rest of the other clips

[2018-07-08 21:52] #1808 closed

[2018-07-08 21:56] DylanC commented on #1757
@ferdnyc - Sry for the delay, had to fresh install my OS to sort out a boot up issue.

Yeah, this error shows when I try to run the AppImage:

[2018-07-08 21:57] DylanC commented on #1791
@AbelCastroFigueroa - Great to hear thanks!

[2018-07-08 21:57] #1791 closed

[2018-07-08 22:00] DylanC commented on #1816
@peanutbutterandcrackers - This is a duplicate or related to this one #1418

[2018-07-08 22:14] briarmae commented on #1811
Awesome, no more blinking this time! It still took about 5 hours to render. I'm attaching the .log anyways, just in case anyone wants a look.
[libopenshot.log](https://github.com/OpenShot/openshot-qt/files/2174180/libopenshot.log)
[openshot-qt.log](https://github.com/OpenShot/openshot-qt/files/2174181/openshot-qt.log)

[2018-07-08 23:39] kforney commented on #1787
Also, here's a backtrace from gdb: [Backtrace](https://pastebin.com/4cRzXMsn)

[2018-07-09 01:41] burnabbie commented on #1807
Thank you

From: peanutbutterandcrackers
Sent: Sunday, July 8, 2018 1:24 PM
To: OpenShot/openshot-qt
Cc: burnabbie ; Author
Subject: Re: [OpenShot/openshot-qt] Backround clour (#1807)

Please go to 'Edit' > 'Preferences' and set the default theme to 'Humanity: Dark'.

Hope that helps. Closing this as answered for now. If it isn't resolved, please do feel free to re-open this issue. Thanks!

—
You

[2018-07-09 02:18] lcontic commented on #1806
Sorry for the delay.  The program still took over an hour to open but I've followed your instructions and attached the new openshot-qt.log   Thanks again for all your help!

[openshot-qt.log](https://github.com/OpenShot/openshot-qt/files/2174421/openshot-qt.log)

[2018-07-09 05:10] rogerio77 opened #1820 "Issue with Inkscape (Can't try to add emoji.....again)"
OS: Windows 10 64bit
Openshot : 2.4.2
Inkscape Version: 0.92.3
Look the similar error but in Red hat (https://github.com/OpenShot/openshot-qt/issues/1225)
I have to say, this a excelent soft, but I have the similiar problem that I had with linux.
When I want to modify a "Tittle" (Use Advanced Editor) with inkscape there I got the error  that I will write down. I have added or installed the emoji t

[2018-07-09 11:08] peanutbutterandcrackers commented on #1820
I wonder if it is perhaps because of the lack of support for all of svg features in Qsvg that OpenShot currently uses to render the `.svg` files... Could you please attach the svg file here so that we can test it out? Currently, work is under way for better `.svg` rendering with resvg. But it might not be until `2.4.3` or so that it will be out...

[2018-07-09 11:39] peanutbutterandcrackers commented on #1816
Um, I wonder if it is not quite even related, Cap'ain. It seems the user wants the razor tool to stop being activated once the splitting is done. While over there, discussions are about for changing the razor tool to actually look like a razor instead of scissors (or some such other UI/documentation enhancement)...

[2018-07-09 11:52] peanutbutterandcrackers commented on #1810
Not only that but it seems to push it further with every other split. Hmm... Interesting. Thank you, Mr. Tee for this investigation. :+1:
![screenshot from 2018-07-09 17-36-49](https://user-images.githubusercontent.com/26764547/42448988-c80c4160-839e-11e8-811a-40e2eb741c3b.png)

[2018-07-09 12:51] peanutbutterandcrackers commented on #1555
I wonder if something can be done to make the tutorial window to make it aware of when it is near the border of the openshot window and align itself properly... like this:

or something... But drag-able ones seem pretty cool too.
![screenshot from 2018-07-09 18 17 38](https://user-images.githubusercontent.com/26764547/42450670-a9eefca8-83a4-11e8-8f6a-7101a367fc02.png)

[2018-07-09 15:09] mnwstl commented on #1253
@peanutbutterandcrackers This theme was part of the OpenShot 1.4.3. The tracks were thinner and by default started with two.
![2018-07-09_14-42-59](https://user-images.githubusercontent.com/22776404/42458269-ef573bd2-836f-11e8-9043-d0a074ffbce6.png)

[2018-07-09 16:14] ViralSo commented on #1779
hmm....

On 3 July 2018 at 16:13, peanutbutterandcrackers <notifications@github.com>
wrote:

[2018-07-09 16:17] ViralSo commented on #1779
I had downloaded openshot that day itself....Therefore it is the latest
version sir....Sir what is the exact issue with the software??

On 9 July 2018 at 21:44, Viral Soni <viralssoni@gmail.com> wrote:

[2018-07-09 16:29] ferdnyc commented on #1555
I have no idea what that screenshot is supposed to be telling me. There's nothing anywhere near a window border there.

[2018-07-09 16:39] N3WWN commented on #1813
And here again we have differing preferred ways of doing things.  For me, I import files in groups, so I like it that OpenShot sorts by the order added instead of alphabetical.  So, now we're looking at adding a configurable option, just as you said, @peanutbutterandcrackers .  Folks will want to be able to sort by time/date, alpha, import order, etc as well as asc/dec to invert the order.

[2018-07-09 17:01] verbgio commented on #1806
I have a similar issue on UBUNTU 18.04. I downloaded the application, made it executable but after clicking on the icon nothing happened. Any advice? And I had serious problems also with the previous version (2.1.4 if I remember well), as after 15 minutes it gets slower and slower and finally freeze and I have to restart the computer each time.
Thank you for your help!

[2018-07-09 17:47] ferdnyc commented on #1806
@verbgio Please open a new issue, those problems aren't related to @lcontic 's Windows startup troubles.

(Though, actually it sounds like you were probably seeing #1757, there's a workaround there that may help you. Slowness issues on Linux with the previous 2.4.1 also have a report (multiple, actually) open, I'd recommend searching the Issues.)

[2018-07-09 17:54] ferdnyc commented on #1806
@lcontic : I did take a look at that log, thanks for taking the (considerable!) time to capture it. Unfortunately, as I feared there's really nothing at all out of the ordinary visible in the log.

I can't believe I didn't think to ask this until now, though: Is OpenShot 2.4.2 the first version you've tried to run on your computer? or was OpenShot previously working for you, and only started havin