[2018-11-13 11:05] #1728 closed

[2018-11-13 11:11] DylanC commented on #1872
@ferdnyc - Did Openshot open project files if passed via an argument to the main binary? I would find it strange if it never did this.

[2018-11-13 12:43] MadEdward opened #2352 "Openshot keeps crashing on exporting"
From my Ubuntu system I got the message:
¨Excuses, the program Openshot-qt unexpectedly closed down. Your computer has insufficient free working space to analyse the problem automatically and to send a report to the developers¨.
I run Openshot 2.3.4 on Ubuntu 18.04.1 LTS. My computer is a Dell Studio-XPS-435MT with 3,8 GiB memory, Intel Core i7CPU@2.67GHzx8, a graphical AMD Rv770 card, GNOME 3.28.

[2018-11-13 19:47] NewbieToOpenShot opened #2353 "Can't Seem To Open Project Files"

[2018-11-14 09:33] speedytechdev commented on #2351
Hi@Joetheperson I have some questions I need you to answer so I can help you.

1. What version of Openshot are you on?
2. Does this happen with specific files?
3. Has this happened before?

[2018-11-14 09:34] speedytechdev commented on #2331
@anditbeginswith Great to hear.

[2018-11-14 09:34] speedytechdev commented on #2331
@DylanC ^^^

[2018-11-14 09:36] speedytechdev commented on #2353
Hi, @NewbieToOpenShot we need more information to be able to help you. Could you please fill out the information below.

**Describe the bug**
A clear and concise description of what the bug is.

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**To Reproduce**
Steps to reproduce the be

[2018-11-14 09:41] speedytechdev commented on #2352
hI, @MadEdward crashing during exporting has been reported to us. We have taken this down as a serious issue and will work as fast as possible to fix it. Sorry for the inconvenience.

[2018-11-14 09:45] #2331 closed

[2018-11-14 09:48] speedytechdev commented on #2350
Hi @AndreaHewitt I would recommend that you use 2.4.3. This has fixed a lot of bugs.

[2018-11-14 09:59] speedytechdev commented on #2336
Hi @Freedom2021 I have not heard of this feature was it in a previous version and could you make a feature request in a different post, please.

[2018-11-14 10:14] MadEdward commented on #2352
Top! Thanks.Verzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: speedytechdev <notifications@github.com> Datum: 14-11-18  10:41  (GMT+01:00) Aan: OpenShot/openshot-qt <openshot-qt@noreply.github.com> Cc: MadEdward <max.kopijn@t-mobilethuis.nl>, Mention <mention@noreply.github.com> Onderwerp: Re: [OpenShot/openshot-qt] Openshot keeps crashing on exporting (#

[2018-11-14 10:18] speedytechdev commented on #2352
@MadEdward What is that for?

[2018-11-14 10:56] MadEdward commented on #2352
Edward is my middle name. And Mad for the nickname for fun. 😉Verzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: speedytechdev <notifications@github.com> Datum: 14-11-18  11:18  (GMT+01:00) Aan: OpenShot/openshot-qt <openshot-qt@noreply.github.com> Cc: MadEdward <max.kopijn@t-mobilethuis.nl>, Mention <mention@noreply.github.com> Onderwerp: Re: [OpenShot/ope

[2018-11-14 12:50] lucianog1980 commented on #2231
Issue still happening on 2.4.3. Please we need to have this issue fixed, otherwise I will change to another software.

[2018-11-14 12:51] MisterTeeXD commented on #2231
Plz fix

[2018-11-14 13:39] speedytechdev commented on #2352
@MadEdward Is there a problem or can we close this?

[2018-11-14 16:24] MadEdward commented on #2352
Op 14-11-18 om 14:39 schreef speedytechdev:

@speedytechdev:

There still is a problem with Openshot-qt 2.4.3. As mentioned in my two
contributions, Openshot crashes during the exporting process. I have
given my system parameters, and I think 4 GiB RAM and an additonal
virtual RAM of 6 GiB should be sufficient to run Openshot and export a
video project made with the package. Apparently, that memor

[2018-11-14 16:48] PASTJL commented on #2348
You can scale X and scale Y according to the proportion of the image to zoom as better you can. You have to modify it in the properties of the clip in the timeline

[2018-11-14 19:00] bmfazio opened #2354 "Soft audio"
**Describe the bug**
Using fast fade in and fade out fades the entire clip.

**System Details:**
 - Operating System: Windows 10
 - OpenShot Version (latest)

**To Reproduce**
Steps to reproduce the behavior:
1. Add audio clip
2. Apply fast fade in/fade out
3. Watch preview and listen sound coming out at proper level, with a fast fade in and fade out
4. Export
5. Play video, sound is at 1% of the

[2018-11-14 21:37] ferdnyc commented on #1872
That's an excellent question. It _must've_, since the `.desktop` file includes the line:
[code]

Which means this is something I broke when I added the command-line arguments. I'll look over those changes and get it fixed up ASAP.

[2018-11-14 23:03] ImperialJohn opened #2356 "How do I move video on the timeline?"
**Is there a move tool?:**

Can anyone tell me if there is a little hand tool that will allow me to move and reposition video clips on the timeline? I cannot seem to find one only a magnet and a pair of scissors which is not what I want?

**System Details**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**Screenshots**

[2018-11-14 23:31] ImperialJohn opened #2357 "How to overlay image?"
**How do I overlay an image on part of the video clip?**

Hi. Does anyone know how I can overlay an image file over a small portion of the video clip in the middle and a bit to the right? Is there a way to do it in this program and position and resize the image so that it blocks out the video from the part of the screen it is positioned in? Or do I need to buy more advanced paid for video editor f

[2018-11-15 00:40] speedytechdev commented on #2352
@MadEdward Sorry about that I had a miss understanding. We will hopefully have the issue fixed and thank you for taking the time to help us.
@DylanC Openshot is storage hunger maybe we could improve this or find out why.

[2018-11-15 00:52] speedytechdev commented on #2356
Hi @ImperialJohn if you hover over a clip in the timeline you should get four arrows that point to N,E,S and W. That is the move tool. Just hold down the left mouse button and drag the clip to were you would like it in the timeline.

[2018-11-15 00:54] speedytechdev commented on #2357
Hi @ImperialJohn do you mean something like this.
![image](https://user-images.githubusercontent.com/40452959/48522555-fcb5f600-e8dd-11e8-87c6-3bae4ed74242.png)

[2018-11-15 01:38] speedytechdev commented on #2354
Hi @bmfazio I can not find the issue could you please give some evidence.

[2018-11-15 01:39] speedytechdev commented on #2357
@ImperialJohn Could you let me know if that fixed the issue so we can close this post. Thanks

[2018-11-15 01:39] speedytechdev commented on #2356
@ImperialJohn Could you let me know if that fixed the issue so we can close this post. Thanks

[2018-11-15 14:40] martinlabarthe opened #2358 "Key shortcuts for the time slider"
I have very low vision so it takes me a while to find with the mouse some sliders or buttons, so  I use a lot the keyboard and shortcuts and use mouse only when I can not use keys, as Java developer o game player found out that can work much faster that way even when I had good vision that using the mouse only .

In particular I would love five shortcuts:
1. move time slider to left/right
2. zoom

[2018-11-15 20:38] David465646 opened #2359 "a big problem"
its asking me for a deleted file
so, i opend up openshot, and first thing you know, asking for a MP4, it was used in another video, but now is asking agin for it, i cannot get rid of it, i tried even reinstalling openshot, an nothing worked

 - windows 8.1 pro
 - OpenShot Version 2.4.3

Steps to reproduce the behavior:
i dont even know how to reprotuce the error, it just happend

Expected behavior

[2018-11-16 01:09] speedytechdev commented on #2358
Hi @martinlabarthe Some of these shortcuts are already in Openshot. If you press ctrl shift p and go to the keyboard option you can see all the bindings in there. Number 3 I don't believe is added but we can. Are there any other shortcuts you would like us to add?

[2018-11-16 01:11] speedytechdev commented on #2359
HI @David465646 did you try and make a new project and import all your files to the new project.

[2018-11-16 01:11] speedytechdev commented on #2359
@DylanC I am positive that this is a bug and is similar to another issue I just can't remember which one.

[2018-11-16 02:31] martinlabarthe commented on #2358
Hi,

Thanks for the incredible fast response!

The tip solved the problem for me and found there other critical keys.

So now i could only think of just a key for centering the slider on the cursor.

Thanks a lot,
Martin

About what other shortcuts, let me explain:

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: speedytech

[2018-11-16 05:44] DrSensor commented on #2349
Same problem here. My machine is intel core i5 with gtx 940mx and 7.7 GB RAM.
Whatever I do some editing or exporting, it keeps my max memory. Seems like everytime openshot play some frame, it will cache it but not free the memory at a specific interval 🤔

[2018-11-16 05:44] peanutbutterandcrackers commented on #2359
This issue has been resolved in the daily builds. If it is really urgent for you, please [try out the daily builds](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914). Hope that helps!

[2018-11-16 06:48] IIlol opened #2360 "video are lagging"
**Describe the bug**
A clear and concise description of what the bug is.

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concis

[2018-11-16 06:49] IIlol opened #2361 "effects?"
how kan you zoom?

[2018-11-16 08:49] speedytechdev commented on #2358
Hi @martinlabarthe that is great to hear I will get your feature request put in.

[2018-11-16 08:51] speedytechdev commented on #2358
@DylanC enhancement

[2018-11-16 08:55] speedytechdev commented on #2360
Hi @IIlol you need to fill out that information or we don't know how to help you.

[2018-11-16 08:57] speedytechdev commented on #2361
![image](https://user-images.githubusercontent.com/40452959/48611167-82bf6300-e9ea-11e8-939a-13648b8d78db.png)
Next time please go into more detail @IIlol

[2018-11-16 09:47] sknaumov commented on #2231
@DylanC This bug was introduced by 81f274254f255742fc663c62ad9c9fa2a683d323 commit.

[2018-11-16 10:50] martinlabarthe commented on #2358
Hi,

I was thinking over night.

  1.  The center cursor key would be nice I think if centered a bit to the left, so you have some visibility to the left side but more space to the right side so you can play the video for a bit longer time.

  1.  Another desirable key would be a key like the actual “dellete”, that removes the selected clip BUT would be nice if also at the same time it moves the r

[2018-11-16 11:52] #1872 closed

[2018-11-16 11:52] #2162 closed

[2018-11-16 11:55] DylanC commented on #2359
@speedytechdev - We have this solved already in the latest code. Thanks for the quick replies on issues.

[2018-11-16 11:55] #2359 closed

[2018-11-16 11:56] speedytechdev commented on #2359
@DylanC Sorry about that and no problem

[2018-11-16 11:57] #2361 closed

[2018-11-16 11:57] #2357 closed

[2018-11-16 11:57] #2356 closed

[2018-11-16 11:57] #2333 closed

[2018-11-16 11:59] DylanC commented on #2263
@merililla - Not sure, I think it would be best to install on C: drive anyway.

[2018-11-16 11:59] #2238 closed

[2018-11-16 12:00] DylanC commented on #2224
@SKYEUNG - We have a branch on here that is dedicated to hardware encoding. I've been told this will do it. However, it could be some time before that branch gets merged into the main project codebase.

[2018-11-16 12:01] speedytechdev commented on #2340
Hi @Gibouille sorry for the late response. Could you send me some screenshots of the issue and the error logs, please.

[2018-11-16 12:05] #2224 closed

[2018-11-16 13:08] #2263 closed

[2018-11-16 13:08] #2191 closed

[2018-11-16 13:08] #1997 closed

[2018-11-16 13:11] #1952 closed

[2018-11-16 13:11] #1912 closed

[2018-11-16 13:11] #1848 closed

[2018-11-16 13:12] DylanC commented on #2292
@lacogada @trt1 @peanutbutterandcrackers  - Marking this as a bug so we can hopefully solve it in the future.

[2018-11-16 13:13] DylanC commented on #2243
@ferdnyc - I'm struggling to find someone who can answer this.. any ideas? 😆

[2018-11-16 13:15] #1983 closed

[2018-11-16 14:31] Gibouille commented on #2340
Here is a screenshot.
[http://www.new-era-way.com/pics/openshot.png(url)

I'll send a log when I figure out where they are.

[2018-11-16 14:37] speedytechdev commented on #2340
Cool I will take a look tomorrow after I sleep. Here is how to get the logs https://github.com/OpenShot/openshot-qt/blob/develop/CONTRIBUTING.md

[2018-11-16 14:45] Gibouille commented on #2340
I can't enable "debug mode" because I can't acces sopenshot menu. Whe openshot launches it gets stuck immediately and I have fo fore it to quit from the system.

[2018-11-16 15:00] speedytechdev commented on #2340
@Gibouille I can't find it sorry they might have moved it. I would love to help you but I need to sleep. @DylanC Could you help.

[2018-11-16 15:40] Nick222 opened #2362 "Cannot start OpenShot after delete some Python files"
Xubuntu 18.10
OpenShot-Qt 2.4.3 from https://launchpad.net/~openshot.developers/+archive/ubuntu/libopenshot-daily

I delete some files from /usr/local/lib/python3.6/dist-packages/openshot_qt-2.4.1-py.3.6.egg - because it was some errors while OpenShot starting.

Now I cannot start OpenShot at all:

What can I do to restore OpenShot work ?

[2018-11-16 16:50] woodytopsail commented on #2351
This exact thing is happening to me, also.
1) v2.4.3
2 It happens with cell phone video, .mp4 or after I convert the same file to .mov
3) So far, it ALWAYS happens.
4) I can bring in still photos, but that defeats the purpose of the video editor.
I hope you have some ideas. Thanks.

[2018-11-16 17:18] MisterTeeXD opened #2363 "Redesign Timeline"
**Is your feature request related to a problem? Please describe.**
I think the timeline needs a redesign

**Describe the solution you'd like**
None

**Describe alternatives you've considered**
None

**Additional context**
A nice redesign of the Openshot Timeline would be a amazing change to the timeline and the feel of it, i feel like the timeline needs a complete overhaul. Who agrees?

[2018-11-16 17:44] MisterTeeXD commented on #2363
I also made a little Mockup of what i though it might look like (Sorry for the horrible Mockup) :
[Timeline beta.zip](https://github.com/OpenShot/openshot-qt/files/2590320/Timeline.beta.zip)

[2018-11-16 19:49] MisterTeeXD opened #2364 "Transparent Preview Background"
**Is your feature request related to a problem? Please describe.**
I wonder if its possible to have a transparent background of the preview as well as transparent videos

**Describe the solution you'd like**
I want to add a transparent background in my videos

**Describe alternatives you've considered**
None

**Additional context**
This is a Made up image :

![png preview](https://user-images.gith

[2018-11-17 02:41] speedytechdev commented on #2363
@MisterTeeXD I was thinking of updating it but was not sure what to change. If you have any ideas that would be great.

[2018-11-17 03:03] speedytechdev commented on #2351
That is odd that it does not like mp4 since I have used mp4 files with my projects. The thing is they are not from my phone. Could you send me more information about this, please. So the logs and pictures and etc.

[2018-11-17 05:57] bobcrikey opened #2365 "wav form not displaying when razer scissor used lastest dev version"
Hello everyone, I just downloaded the latest dev version of openshot and discovered
if you tell openshot to display the wav form and then cut it in half , the left side of the wav form displays
and the right cut clip wont display anything ,
heres a clip to show what im talking about.
![openshot no wav picture](https://user-images.githubusercontent.com/40479177/48657731-953ca980-ea89-11e8-93d8-d6c5

[2018-11-17 13:00] MisterTeeXD commented on #2363
I made a mockup image of what i think it might look like

[2018-11-17 13:42] speedytechdev commented on #2363
Yay I saw that I need more detail (not to be rude). I need a design that looks modern but also easy to use.

[2018-11-17 13:45] MisterTeeXD commented on #2363
Thats all i could design

[2018-11-17 13:46] speedytechdev commented on #2363
All good I need to think of some ideas myself but thanks for the idea.

[2018-11-17 13:47] MisterTeeXD commented on #2363
You are welcome

[2018-11-17 14:29] MisterTeeXD commented on #2363
Oh so i was close to the actual design?

[2018-11-17 14:31] DylanC commented on #2363
@MisterTeeXD - A little bit. Its similar because it had flat colours and not the gradient style we have currently.

[2018-11-17 14:32] MisterTeeXD commented on #2363
Mmmm interesting

[2018-11-17 14:49] Redwolf2016 opened #2366 "Where did my media files go"
After accidentally clicking the x I can not bring the file selector back.

**My Question:**
While trying to move the media previewer ( I don't know what its called because I can't find it) I closed it out and there is no way, that I can tell, to open it back up. The program is unusable without having my files present and I would like to get a project finished today.

**System Details**
 - Operatin

[2018-11-17 16:57] TheForslunds commented on #2300
@DylanC - Have you noticed that i have the same problem as @michelemaria and i have found more people having the same issue when im google the problem.
At the moment i managing this problem with handbrake but it is an additional step.
//Tommy

[2018-11-17 17:07] CmdrMic commented on #1709
I have noticed this issue with v.2.4.2 and v.2.4.3. This approx 5px. wide strip, seems to be animated and linked to the audio. I am seeing it with all my Simple Screen Recorder vids.  These vids play perfect in VLC, the stock vido player in Linux Mint 17.3 etc. Also they look fine in Kdenlive, and in the Package Managers ancient 1.4.3 ver. of OpenShot. Its really annoying, as it get totally added

[2018-11-17 20:01] ferdnyc commented on #2364
I am not aware of any transparency support in the commonly-used video codecs. Transparency in video is mostly done via chromakey ("greenscreen"/"bluescreen" effects).

[This SuperUser Q&A](https://superuser.com/questions/746232/why-are-there-no-video-formats-that-support-transparency) goes into some detail on the issue. But, in short, transparency isn't a feature of the optimized video codecs you'

[2018-11-17 20:04] ferdnyc commented on #2363
There is no "actual design", as that was a work-in-progress that was abandoned.

(Also, images can be added directly to Issues, there's no reason to make people jump through hoops downloading ZIP files. Here's @MisterTeeXD 's mockup, as the entire contents of that ZIP is a single PNG:)

![image](https://user-images.githubusercontent.com/538020/48665311-14c27c80-ea7a-11e8-95e7-cca2cce9e266.png)

[2018-11-17 20:09] MisterTeeXD commented on #2363
So this issue is useless i suppose and i do understand that some features have to be declined due to other issues as well

[2018-11-17 20:55] kazham opened #2367 "windows 7 64 error right after install."
Hi everyone!
I get this error right after installation on Win7 64.
![screenshot](https://user-images.githubusercontent.com/23661670/48665690-203a9580-eac4-11e8-9f3d-2a2f599b813d.png)
I searched on Internet, but no luck.
Thanks!

[2018-11-18 11:15] MisterTeeXD opened #2368 "I need a zipped dev build"
**My Question:**
Hello, i am in a spot of trouble where i cannot install openshot, i use it on a flash drive but my Flash drive has changed drive letters and now i cannot install it again, the latest daily build does not provide a
option to change install directory. Please help me out.

**System Details**
 - Operating System / Distro: [Windows 10]
 - OpenShot Version [2.4.3 latest build]

**Screen

[2018-11-18 11:30] #2368 closed

[2018-11-18 11:49] Nogotogon commented on #1033
I can not find the openshot_qt or backup.osp, could someone tell me where they save by default?

[2018-11-18 15:23] NatureIsGood opened #2369 "Zooming in/out (Animation)"
Objekts can be zoomed in/out within percentages of 50% 75% 100% and 150%
It wout be great to have also 0% so one can implode an object completely.

[2018-11-18 15:36] NatureIsGood commented on #2369
By the way: Beeing able to explode from 0% to 100% would be great as well

[2018-11-18 16:09] DennisMont opened #2370 "Program freezes and then closes when it's trying to export video with target AVI (mpeg2)"
**Describe the bug**
When it's trying to export a video with target AVI(mpeg2), program begins to export and then it freezes, then it closes. It was tried to export with AVI(mpeg4) and there is no problem. It was also tried to change the video profile but the problem persists. See second screenshot.

**System Details (please complete the following information):**
 - Windows 10 Home.
 - OpenShot Ve

[2018-11-18 23:36] ordir opened #2371 "Render problems with h.264"
**Describe the bug**
I have a simple test set up with 2 tracks... 1 continuous video clip and 1 continuous audio clip.  Pretty simple.  When exporting to h.264, either mp4 or avi, the render seems to freeze at about the 69.5% point based on the length of clip that I have on the timeline (6 mins, 33 secs. long).  I've waited 10+ minutes at that point but the output process doesn't seem to continue.

[2018-11-19 06:20] #2363 closed

[2018-11-19 08:04] ferdnyc commented on #2243
Unfortunately, that's not really an answerable question as-is, since the video's size isn't governed by _format_ as much as it's governed by _quality_ settings.

The most **efficient** of modern codecs, meaning best quality:bitrate ratio, is going to be x265. (Aka HEVC, "High-Efficiency Video Codec" — one of those rare occasions when naming something after a quality actually means it _has _that qu

[2018-11-19 08:08] speedytechdev commented on #2366
Hi @Redwolf2016 if you click the view tab and go into views and select simple view it should rest everything.
![image](https://user-images.githubusercontent.com/40452959/48693711-3b7de000-ec3f-11e8-885d-134b5c852d74.png)

[2018-11-19 08:12] speedytechdev commented on #2370
@DylanC Confirmed Bug
![image](https://user-images.githubusercontent.com/40452959/48693944-d5458d00-ec3f-11e8-9b58-85a46a6daf92.png)

[2018-11-19 08:14] ORECHN opened #2372 "replace placeholder with Cloud API"
Hi all,
Is it possible to create a slideshow video with placeholders (images and texts) with the desktop app? (to create a kind of "template")
After that - is it possible to import the template project to the Cloud and dynamically replace the placeholder images and dummy texts with "real" images and texts via REST API?

thx
ORE

[2018-11-19 08:15] speedytechdev commented on #2370
@DylanC Confirmed Bug. It got up till here then crashed.
![crop](https://user-images.githubusercontent.com/40452959/48694069-2f465280-ec40-11e8-9d61-3448798725f8.png)

[2018-11-19 08:16] speedytechdev commented on #2370
@DylanC Confirmed Bug. It got up till here then crashed.
![crop](https://user-images.githubusercontent.com/40452959/48694117-53099880-ec40-11e8-9f4c-b8477b4b324a.png)

[2018-11-19 08:17] speedytechdev commented on #2370
Hi @DennisMont thanks for letting us know about the issue. This is a confirmed bug and we will hopefully have it fixed soon.

[2018-11-19 08:18] speedytechdev commented on #2371
Hi @ordir could you tell me how to recreate the issue, please.

[2018-11-19 08:36] ferdnyc commented on #2372
No, certainly not, at least as a _video_ file. A rendered video file is just a sequence of frame images, the individual elements that went into that video no longer exist as discrete entities; there's nothing left to replace.

Something like that would have to be rendered on-the-fly. That's _possible_, using things like Flash or perhaps SVG animation, but it would require advanced multimedia / web

[2018-11-19 08:41] ferdnyc commented on #2372
...Dream**WEAVER**, dummy. [Adobe Dreamweaver](https://www.adobe.com/products/dreamweaver.html).

(Though I'm sure Dreamworks SKG could produce it, too, if you paid them $2 million.)

[2018-11-19 09:05] ferdnyc commented on #2372
Another possibility is something like [Adobe Animate](https://www.adobe.com/products/animate.html), which is apparently what became of the old Flash authorware, now that it can create a lot more than just .SWF and .FLV files. (If there are workable freeware equivalents to Dreamweaver and Animate, I don't know of them. Doesn't mean there aren't, though.)

[2018-11-19 09:15] ferdnyc commented on #2330
Two questions:

1. Does this _actually_ happen with all animated titles **in all cases**, or was it specific to the project you were working on at the time?

    Like, if you just launch OpenShot, with nothing loaded in Project Files or on the Timeline, then go **directly** to Title > Animated Title in the menus, render one of the choices, grow a 4" long beard waiting for it to finish, drag the re

[2018-11-19 09:18] MisterTeeXD commented on #2330
1: Yes it does happen with all of the animated titles
2: I think its 1MB

[2018-11-19 09:20] ORECHN commented on #2372
Hi Frank, thanks for the info.
Unfortunately, I did not write clearly enough.
I wanted to import the openshot project file (Json) into the cloud, not the generated video. I thought that is possible.
The video should finally be generated via the Cloud API.

[2018-11-19 09:55] ferdnyc commented on #2330
Hmm. 1MB is quite excessive for an `.osp` file. The project file I just saved, containing nothing but a single Animated Title render, is 25 KB. (The project file only contains structure, all of the media files are stored separate from the `.osp` file itself, even titles.)

Still, I just downloaded the latest daily build and tried again, this time with the Dissolving Text template, thinking it woul

[2018-11-19 09:57] MisterTeeXD commented on #2330
I see

[2018-11-19 10:13] ferdnyc commented on #2372
Oh! Oh, I see.

Hmm. In _theory_ you could create a "template" project file, then modify the project data dynamically through any means you wanted — I've been known to fiddle with `.osp` file contents by hand in a text editor, as well as programmatically via `sed` regexps and the like. As long as the structure is kept correct, OpenShot will load it.

Doing the _rendering_ would still require loadi

[2018-11-19 10:21] ferdnyc commented on #2362
Glad to hear it! Please Close the issue, since it was specific to your install and has been solved.

[2018-11-19 10:51] gnif commented on #519
I have this issue also, here is a little PHP script that will convert all the marks from 30fps positions to 60fps positions. It could easily be adjusted for any frame rate conversions.

[code]

[2018-11-19 14:35] ferdnyc commented on #1923
Yeah, so I think I got as far into this as copying `src/launch.py` to `src/debug.py` and editing exactly 0 lines of code in it. The only reason it isn't identical to `src/launch.py` is that it doesn't have my recent commit to fix the commandline argument handling. All of which is to say, I've made zero progress, for lack of time.

Given that, and my suspicion that large spans of free time will not

[2018-11-19 15:42] DennisMont commented on #2370
You're welcome. Thank you for the software.

[2018-11-19 16:29] JesseSaul opened #2374 "OpenShot Video Projects - Reopening from Google Drive, Multiple Sessions?"
**My Question:**

I teach a section of video production at a public school where kids have personal log-ins to use PCs running Windows 10 with 2.66Ghz processors and only 4gb ram. Students are not permitted to store files locally and must use Google Drive for saving between sessions. They do usually work on the same computers though.

When returning to the lab, students download their .osp file an

[2018-11-19 19:36] #2364 closed

[2018-11-19 23:05] ordir commented on #2371
Put an audio clip on one track, a video clip on another track. I used 1280x720, 24 fps HD clip with the video and an aiff 44.1 kHz sample rate audio track. Both tracks of equal length.

Export Video to a 1280x720 HD, h.264 MP4, 24 fps encoding. I used Med quality but it does't really matter which quality setting.

I experimented some more and discovered that the encoding continued after stalling f

[2018-11-20 00:05] LeonArundell opened #2376 "How do I make an Openshot installation file executable?"
**My Question:**
How do I make an Openshot installation file executable?
The Linux upgrade instructions say, "AppImage requires no installation. Just download, make executable, and run."

**System Details**
 - Operating System / Distro: [Linux Kubuntu 18.04]
 - OpenShot Version [2.4.1]

[2018-11-20 00:47] jonathon-oodar commented on #938
@machra1961 did you open a new issue for this? Noticing the same problem

[2018-11-20 01:47] speedytechdev commented on #2374
Hi @JesseSaul I believe that the issue with files has been fixed in the daily builds.(@ferdnyc )
If the performance is choppy in the previewer while editing then this is a known bug but if it is prior to exporting could you make a new issue for that. Hopefully, that helps if not let me know.

[2018-11-20 01:48] speedytechdev commented on #2367
Hi @kazham did you download 2.4.3 or a daily build and did you try and reinstall it.

[2018-11-20 01:55] speedytechdev commented on #2371
Would you say your issue is the same as [2370](https://github.com/OpenShot/openshot-qt/issues/2370l)

[2018-11-20 02:50] bryisfly opened #2377 "Openshot 2.4.1 crashing while exporting video in any format - Windows 7"
**Describe the bug**
Silent crash on openshot upon reaching 76%. Can someone help me with this?

**System Details (please complete the following information):**
 - Operating System / Distro: Windows 7
 - OpenShot Version 2.4.1

[2018-11-20 04:45] speedytechdev commented on #2377
Hi, @bryisfly I would recommend using 2.4.3. This version has fixed a lot of bugs so it might fix your issue.

[2018-11-20 05:28] Freimann1 opened #2378 "Openshot 2.4.3 on Windows 10 cannot save trimmed video"
**My Question:**
I am new to this. I cannot import .mp4 1080p files to Openshot. After playing around with the red recording button in VLC, I managed to change by .mp4 to a .TS file, which was accepted by Openshot.

After Split Clip, I tried to export the trimmed video but it won't work for any of the formats. Whatever the format, it just results in that file extension with zero byte in it (the ex

[2018-11-20 05:44] ordir commented on #2371
Not exactly. My output render pauses for a while at certain points but doesn't crash the program.
It eventually resumes and completes the output successfully.
I think mine is related to something to do with h.264 encoding from what I can see for now. I'll try different encoding when I get some time.

Sent from ProtonMail mobile

-------- Original Message --------
On Nov 19, 2018, 5:55 PM, speedyte

[2018-11-20 07:46] machra1961 commented on #938
Hi. No I didn’t. I haven’t used Openshot for a while but from what I remember it did get fixed in a later update. However, I do seem to remember that maybe not fully, and as you are having the same problem obviously it didn’t. Real shame as it is the best video editor I have used, but this did make it unusable for what I was doing.

[2018-11-20 07:57] kazham commented on #2367
Yeah, many times...thanks anyway.

[2018-11-20 07:58] kazham commented on #2367
Isn't it strange that my PC doesn't contain such folder like "c:\msys64"?

[2018-11-20 08:55] speedytechdev commented on #2367
That is odd @ferdnyc Maybe be able to help you.

[2018-11-20 10:13] gmseed opened #2379 "Missing File"
Steps to Reproduce:

1) Create a new project and in the project folder add a single image called, say, image.png.
2) Drag and drop image.png into the Project Files section.
3) Drag and drop image.png from Project Files onto Tracks 4, 3, 2, 1 and 0. That is, image.png has been added to 5 separate tracks.
4) Save the project and quit OVE.
5) Relaunch the editor and from the Recent files select the n

[2018-11-20 12:19] MadEdward commented on #2377
Hi Speedytechdev, as you know I have posted the same problem twice with Openshop 2.4.3, so that version definetely does NOT solve the problem, which seems storage/memory related. When might we expect a solution to the problem, without having to buy a new computer with 32 GiB RAM???
Kind regards, Max (MadEdward as a nickname).

[2018-11-20 15:08] kcaauwe opened #2380 "v2.4.3 repeatedly Not Responding - Improper Installation?"
OS: Windows 10
Device: Dell Inspiron 15-7579, 64-bit Intel i7 processor, 12GB RAM
Openshot Versions tried: v2.4.3 (64-bit), v2.4.3 (32-bit), daily build OpenShot-v2.4.3-dev1-1542715254-31e9e7b6-3861a2c5-x86_64.exe (64-bit)

Each version of OpenShot that I've tried becomes unresponsive.  Before I tried different versions I uninstalled the previous version and deleted any associated files from my ma

[2018-11-20 18:43] MrTeeXD opened #2381 "Timeline Time Signatures Incorrect"
**Describe the bug**
Openshot's timeline Time signatures are wrong

**System Details (please complete the following information):**
 - Operating System / Distro: [Windows 10]
 - OpenShot Version [2.4.3 Latest Daily Build]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Project Files
2. Drag a video clip on the timeline
3. Look at the time signatures

**Expected behavior**
The time sign

[2018-11-20 18:50] Unknown1Coder0 commented on #2329
1.Did you even look at my proof? they are mp4. 2.Both video and audio.

[2018-11-20 18:58] Freimann1 commented on #2301
I posted what looks like a similar issue last night with 2.4.3. I managed to import the video file in .TS format (after fiddling with VCL and changing from .MP4).

Tried to export after trimming.... again similar in another post .. although that post said "Export freezes at zero". I get a file with the extension I chose except the file is empty. MP4 is supposed to be their default export file form

[2018-11-20 19:13] MisterTeeXD opened #2382 "Effects Unstable Every Update"
**Describe the bug**
Ok, so the effects in Openshot seems to get unstable everytime a new update gets released for openshot and this is affecting the rendering as well and i do not know why this was not fixed at all

**System Details (please complete the following information):**
 - Operating System / Distro: [Windows 10]
 - OpenShot Version [2.4.3 Daily Build]

**To Reproduce**
Steps to reproduce

[2018-11-20 19:21] michelemaria commented on #2300
OKK !!!!!!!!!!

Thank you very much !!!!

[2018-11-20 19:29] Freimann1 commented on #2295
My unscientific check on the most recent outstanding issues seem to be 2.4.3 simply cannot import any mp4 video files, OS or Windows.  I use Windows and I can import audio files.

I got round inability to import mp4s by changing them to TS files. But after editing it cannot be exported as any of the formats supported.

[2018-11-20 22:03] JoaquinEMZ opened #2383 "Error de exportación"
Realice mi edición de video y al exportarlo en el formato:
Objetivo: MP4(h.264)
Perfil de video: 1024x576 16:9 PAL (1024x576)
Calidad: Media
El software OpenShot se cierra automaticamente si la posibilidad de exportarlo. Esto sucede con cualquier tipo de objetivo o calidad. No puedo generar el video por que se auto cierra y no señala errores en pantalla.

 - Window 10 x64
 - OpenShot Version 2.4.3

[2018-11-21 02:38] speedytechdev commented on #2377
@MadEdward I know it is a pain but we are trying to fix the bugs. There are a lot of bugs and not enough staff.

[2018-11-21 03:39] ferdnyc commented on #2367
The path thing is normal, those paths are effectively "inside" the frozen Python install that's contained within `whatever.exe` (I forget if it's `OpenShot.exe` or `launch.exe` or whatever.)

Not really sure what's going on here. Can you please translate the text at the very end of the Traceback, @kazham ? Might provide a clue.

[2018-11-21 03:42] ferdnyc commented on #2367
Basically it's trying to load the Windows DLL that contains the QtWidgets library -- which _should_ ALSO be inside the frozen `.exe`... and failing to, for some reason.

Do you have PyQt5 for Windows actually installed directly (separate from OpenShot), by any chance? Could be a version mismatch. (These are just wild guesses at this point.)

[2018-11-21 06:21] abegosum opened #2384 "Openshot Freezes on Ubuntu When Timeline is Resized with a clip"
**Describe the bug**
After dropping a video onto a track in the timeline, resizing the timeline section of the window causes the application to freeze.

**System Details (please complete the following information):**
 - Operating System / Distro: Ubuntu 18.04, using Gnome 3
 - OpenShot Version [e.g. 2.4.1]: 2.4.3

**To Reproduce**
Steps to reproduce the behavior:
1. Open Openshot
2. Import a video

[2018-11-21 08:35] kazham commented on #2367
Thank you for reply. I'm not sure about PyQt5, but I have Qt-creator installed.
Last line means "Procedure hasn't been found".

[2018-11-21 08:36] kazham commented on #2367
Just found IronPython installed on my PC.

[2018-11-21 10:22] DylanC commented on #2216
@Atanacius @wisemanlove - A fix has been pushed in for this.  #2355 - This fix should be available in the latest daily builds.

[2018-11-21 11:15] bobcrikey commented on #2365
@DylanC , Thanks for letting me know mate, i didnt know someone else already picked up on that bug
 and reported it ,
cheers
 bob

[2018-11-21 14:50] speedytechdev opened #2385 "Add More Effects Or Allow People To Add Effects"
It would be nice to be able to have more effects than just 8. A lot of people have requested it and nothing has happened. If we cant add more effects then make it easy for people to add more.

[2018-11-21 14:52] speedytechdev commented on #2379
Hi @gmseed this has been fixed in a daily build. Please let me know if the issue has been solved.

[2018-11-21 15:04] kazham commented on #2367
Removed IronPython. Nothing changed.

[2018-11-21 15:49] chorez opened #2386 "Openshot does not start"
**Describe the bug**
I installed Openshot for the first time and tried to open it and literally nothing happens. I checked task manager: The process "launch.exe" does appear, but disappears after a while. The program never launched so far. I tried running it as administrator, but did not work either.

I also tried installed older versions of Openshot without success.
2.4.1 and 2.2.0

**System Deta

[2018-11-21 17:01] mbnoimi opened #2387 "Missed effects"
In my distro there are 14 effects only while the others are missing!

How can I fix this issue?

**System Details:**
 - Operating System / Distro: Linux Mint 19 x64 - xfce
 - OpenShot Version: 2.4.3-dev1
 - PPA: ppa:openshot.developers/ppa

**Screenshots**
![image](https://user-images.githubusercontent.com/284547/48856613-e6210a80-edc7-11e8-9c7a-c996d876a1f7.png)

[2018-11-21 22:37] bartschoneveld opened #2388 "python error in main script"
![image](https://user-images.githubusercontent.com/9466558/48871734-3e670500-ede6-11e8-9437-e3db4af2a49d.png)

Windows 10 64

[2018-11-22 09:30] ar-g opened #2389 "segmentation fault 2.4.3"
**Describe the bug**
Running from terminal gives:
[code]
**System Details (please complete the following information):**
Ubuntu 18.04

[2018-11-22 11:42] ferdnyc commented on #2367
Hmm. Well, QtCreator must mean Qt, since it's useless without it.

I don't want you to go crazy tearing apart your system uninstalling things just because they "might" possibly be a problem, so let's not make too many assumptions. (Especially since, as I say, I'm kind of just wildly guessing here ­— apologies that I don't have more definitive information on the problem, but I don't believe anyone'

[2018-11-22 12:36] kazham commented on #2367
Thank you very much for help! Maybe Dependency Walker screenshot can help you?
![screenshot](https://user-images.githubusercontent.com/23661670/48903330-436e9780-ee6c-11e8-849e-414ba228a92a.png)

[2018-11-22 19:56] #2382 closed

[2018-11-22 21:00] AuneK opened #2390 "Problems with exporting video in different profile than originally set up."
**Describe the bug**
Imported video in default profile.
Cut out segments of the video, and increased the playback speed of those segments to 4x speed
In the exported video, the part of the vide that was to be sped up was shown as a still picture from somewhere else in the video.

**System Details (please complete the following information):**
 - Operating System / Distro: Win 10 Pro 1803
 - OpenSh

[2018-11-22 22:13] ferdnyc commented on #2367
@kazham : Thanks, unfortunately it seems [those are false negatives](https://stackoverflow.com/questions/33604738/dependency-walker-with-windows-10), merely a sign of Dependency Walker's age w/r/t Windows 10. So, they're not what's causing the issue here.

It would have to be something within the DLLs that OpenShot loads for PyQt5/Qt, since it's failing right at the (very first) PyQt5 import line

[2018-11-22 23:04] shakaran commented on #830
I am looking for this effect too since Youtube has been removed in August the feature to "Stabilize" the video. It is also called "Deshaking".

[VirtualDub](http://virtualdub.sourceforge.net/) has this integrated also if you want check, a nice video is:
https://www.youtube.com/watch?v=og4bVk6V7X8

:pray::pray::pray: Please reconsider open this feature and assign more high priority, a lot free open

[2018-11-23 12:42] blackbat24 commented on #90
I've been using OpenShot v.1 for a long while and only recently came across v2 (2.4.3, specifically). While I love the new way the image sequence import works, it doesn't pick up on .ppm files -- as in, a sequence named frame.%05d.ppm imports only the first frame, while a sequence named frame.%05d.jpg imports perfectly as a movie clip. Would it be possible to re-introduce .ppm support or still hav

[2018-11-23 14:55] Edelawit commented on #1997
It happens to me as well. Just installed the app and I am unable to drop my videos on the timeline because it remains outside the lower side of my screen.
Is there any way to fix this?

[2018-11-23 17:56] kazham commented on #2367
Does OpenShot or PyQt5 rely on system PATH variable?

[2018-11-23 19:53] ferdnyc commented on #2367
For loading things like DLLs, it shouldn't — especially not in the frozen version. I'm a little more worried about the possibility of _other_ variables being used, ones that OpenShot doesn't override as part of its setup.

Let's try two more things:
1. Can you please check whether any of these are set in your user environment, and if they are what they contain?
    * `PYTHON_PATH`

[2018-11-23 20:14] zzxxccc commented on #1151
I too have an error. I had a video file on the project, the video had 43 minutes of video (I was learning to use the program so the project took me almost 25 hours to make!) and I added an image on top of the video, and made it to move around on top of video and scaling to make it cover something that I didn't want to show. I then thought that I wanted to use another photo instead I just inserted

[2018-11-23 20:19] ferdnyc commented on #2367
For loading things like DLLs, it _shouldn't_ — especially not in the frozen version. I'm a little more worried about the possibility of _other_ variables being used. Most of the ones that would affect things, OpenShot overrides as part of its setup, but...

Let's try two more things:
1. Can you please check whether any of these are set in your _overall_ user environment, independent of OpenShot...

[2018-11-23 20:38] kazham commented on #2367
None of the above variables are set.
Here what get after launch-win.bat:
![screenshot](https://user-images.githubusercontent.com/23661670/48959800-eb718700-ef78-11e8-8788-b3bcc1511774.png)

[2018-11-23 23:52] ferdnyc commented on #2367
So, exactly the same, huh? Argh.

And (I assume the answer to this is yes, but)... all of the relevant DLLs and other files are present in your `C:\Program Files\OpenShot\` directory, and your user account that's running OpenShot has permission to read them all, yes?

The files that would be involved at that point in the process should be found at...

* (These are all paths relative to `C:\Program

[2018-11-24 01:27] Charlesopositive opened #2391 "Openshot video import"
Hi, whenever I try to import a mp4 video OpenShot gets unresponsive.

**System Details**
- Operating System Windows 10
-  OpenShot Version 2.4.1

[2018-11-24 04:49] bobcrikey opened #2392 "Is openshot optimized for OpenCL on amd graphic cards"
hello everyone,
 @DylanC

          How much memory is used for each track used and if chromakey is used?
 and is OpenCL used at all for any calculations/rendering and if so, is openshot
 optimized for amd Rxs560 and AMD Vega graphics cards

As i do notice it can take up to one minute before openshot actually starts. and i use
a ryzen computer with 16 gigs of ram and fast 860 samsung M.2 drivr

th

[2018-11-24 10:08] DylanC commented on #2392
@bobcrikey - I think not yet until the hardware acceleration development is complete.

[2018-11-24 10:12] DylanC commented on #2383
Please report issues in English if possible. We do not speak languages other than English.

[2018-11-24 10:12] #2383 closed

[2018-11-24 11:51] musicfreund opened #2393 "Exact coincide of duration"
I have made 2 tracks: one of music examples and one of pictures. How can I adjust, that the pictures exactly coincide in time with the examples of music on the second?

[2018-11-24 19:40] musicfreund opened #2394 "How to insert title in the front?"
How can I move the whole movie to the right if I want to insert the title in front?

[2018-11-24 20:34] DandyDude opened #2395 "How do you change the pitch of the audio?"
Whenever I change the speed of a clip, the pitch of the audio changes with it. How do I change the pitch of the audio?

[2018-11-24 22:06] Hypher opened #2396 "Idea: say that you are in alpha"
**Is your feature request related to a problem? Please describe.**
Seriously.... a problem? **A** problem? My god...... sooo many bugs, but, the worst of all, is that the exported video DOES FUCKING NOT LOOK LIKE THE PREVIEW IN YOUR SOFTWARE

**Describe the solution you'd like**
Please put a warning on the installer and at first start of your software that says: "Alpha version still in development

[2018-11-25 01:05] 3Dpassion commented on #947
Guys, I was rendering 25 minute 4K@60FPS video for 2 hours and guess what - same glitch. It faded out on minute 23 by itself, now have to rerender, and it may do the same thing again. I wish I used some paid software instead :((((((( It is not expensive, I just liked openshot more. Now I am a sad person :( Gonna try to render the remainding part and stitch them without having to reencode.

[2018-11-25 09:13] gsans101 opened #2397 "Where is effects?"
I closed effects by accident and... i cant add the effect tab now.

[2018-11-25 11:01] kazham commented on #2367
\Qt5Widgets.dll and other \Qt5*.dll - checked
\lib\python3.6\PyQt5\QtWidgets.pyd - checked
\lib\python3.6\PyQt5\QtWidgets.pyi - checked
\imageformats\q*.dll - 11 files checked
language files all there. openshot_lang.py is there too.

[2018-11-25 14:17] ferdnyc commented on #2367
Well, crap. I am _really_ out of ideas, at this point.

I even went and downloaded `qt-opensource-windows-x86-mingw492-5.6.0.exe` and installed it, since I noticed it in your path and it was _vaguely_ possible that was causing issues. But even with Qt 5.6.0 installed, even with it in my `%PATH%`, I just couldn't get it to cause any problems with OpenShot — even though there _is_ a `Qt5Widgets.dll`

[2018-11-25 14:53] iangilmour opened #2398 "Cannot import any video files on OS-X 10.11.6 using Openshot 2.4.3"
Openshot crashes on any video file import attempt.

See attached log for further details.

[openshot-run.txt](https://github.com/OpenShot/openshot-qt/files/2613165/openshot-run.txt)

[2018-11-25 15:47] kazham commented on #2367
I had installed OpenShot in Windows 10(in VirtualBox) and experienced no problems with it. It must be something with my system. I uninstalled Antivirus+Firewall, but nothing changed. Here my ProcessExplorer DLLs list:
![screenshot](https://user-images.githubusercontent.com/23661670/48981119-918cd080-f0e2-11e8-9ce3-ebaf23ad420b.png)

[2018-11-25 15:48] kazham commented on #2367
Just for the case I have installed 32 bit OpenShot.

[2018-11-25 15:49] kazham commented on #2367
Thank you very much, anyway!

[2018-11-25 15:50] kazham commented on #2367
Most interesting thing is that I already had OpenShot installed once, but don't remember exactly what version. I probably will start to downgrade it until I get luck.

[2018-11-25 18:28] raulet27 opened #2399 "I can not run Inkscape inside Openshot"
**My Question:**

Hello, good afternoon, I have a problem in OpenShot and I want to put subtitles with a small outline in the letters and for that I need to use Inkscape.

I installed it (Inkscape), I copied the path where "C: \ Program Files \ Inkscape" is and I have put it in the "preferences" section but it does not run.

I've also tried to put the end .exe but nothing either.

Someone could he

[2018-11-25 18:32] raulet27 commented on #2399
Operanting System: Microsoft Windows 10 Home 64 bits
OpenShot Version: 2.4.3

[2018-11-25 21:03] ferdnyc commented on #2367
Meaning, all of your _previous_ attempts before that point were with the 64-bit version, correct? (I agree it was worth trying, but if anything I'd **normally** expect the 32-bit version to cause more problems than the 64-bit version, in 64-bit Windows.) ...I'm guessing the 32-bit version showed exactly the same symptoms as the 64-bit version, though?

Yeah... like trying the 32-bit version, downg

[2018-11-25 22:13] kazham commented on #2367
Thank you for keeping digging!
Here is my full DLLs list:
[launch.exe.txt](https://github.com/OpenShot/openshot-qt/files/2613564/launch.exe.txt)
LvHook is a part of my English-Russian translator and pshook is automatic keyboard language switcher.

[2018-11-26 00:48] ferdnyc commented on #2367
Hm. As expected, there's not much there, as it's dying pretty early in the process. It does manage to load `QtCore.pyd` and `Qt5Core.dll`, but never gets to any of the rest of Qt.

**Huh!!** Well, here's one odd thing.

For some reason, your system isn't loading `zlib1.dll` from the OpenShot distribution. It's finding one in the Windows system directory (even though it didn't come with Windows), s

[2018-11-26 02:43] bostontrader commented on #2376
Find the file in your file system.  From the terminal:

chmod 700 /path/to/filename.

700 is not carved in stone.  It's read/write/execute for your present user.  This is just one of several possible sets of permissions.

[2018-11-26 02:53] bostontrader opened #2402 "Chinese Translation not showing in AppImage"
**My Question:**
Hello Folks,

On the one hand I see [reference to a chinese translation](https://translations.launchpad.net/openshot/2.0/+translations), but on the other hand, under preferences -> General -> Language, I don't see any choice for Chinese.  Am I blind?  Does this not actually exist?  Grateful for any clues for getting a Chinese language edition of this.  Thanks.

**System Details**

[2018-11-26 04:04] CardboardComputers commented on #2246
Pretty sure there's no quick way to mute or hide an entire track, but to mute or hide a clip without changing the volume or alpha, you can set "Enable Audio" or "Enable Video" to 0.

[2018-11-26 08:48] mick47 opened #2403 "Cut video remaining"
Gday
i slice the video or razor the video .Delete the unwanted area and then pull the RH video up to rejoin the LH video .Every time the unwanted video is back!! What am i doing wrong .I can delete the video but as soon as i bring the clips together the unwanted footage is back.
Pls help
mick

[2018-11-26 09:43] peanutbutterandcrackers commented on #2397
Please head over to `View` > `Views` > `Simple View`; that should give you back everything. Hope that helps. Closing as answered.

[2018-11-26 09:43] #2397 closed

[2018-11-26 09:46] peanutbutterandcrackers commented on #2376
In some distros you might also have something akin to this, in the right-click menu:
(all you need to do is mark it as execuatable)
![screenshot at 2018-11-26 15-29-45](https://user-images.githubusercontent.com/26764547/49006018-3b766680-f190-11e8-9889-63d9ea798ef7.png)

Closing this as answered. Please do feel free to re-open if you require any further assistance.

[2018-11-26 09:46] #2376 closed

[2018-11-26 09:48] peanutbutterandcrackers commented on #2399
Could you please try using a [daily build](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914) of OpenShot? A change has just recently been merged that makes it possible for one to browse to the exact InkScape executable in the system (instead of just  typing it in). That should work.

Please do let us know how it goes. If it doesn't work, we might have to work on tha

[2018-11-26 09:52] peanutbutterandcrackers commented on #2403
It would have helped us if you'd provided us more details. For starters, I suggest that you make sure that you are using the latest version of OpenShot (2.4.3, as of this day). Second, if you are not sure you did it right, please watch [this video to learn how to cut and split in OpenShot (using different techniques)](https://www.youtube.com/watch?v=BQS2tmgD_Rk&index=6&list=PLymupH2aoNQNezYzv2lhSw

[2018-11-26 09:59] peanutbutterandcrackers commented on #2367
Hey there,

sorry to barge in (and I haven't read the conversations) but similar issues with cxfreeze have been worked-around before by deleting the `.openshot_qt` directory (folder) in the user's home directory. Perhaps it might help you too (and give @ferdnyc some more clues as to what is causing this problem!).

[2018-11-26 10:14] peanutbutterandcrackers commented on #2398
Could you please try [the latest daily build](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914) and see if that works any better for you, good sir? Thank you.

[2018-11-26 10:19] peanutbutterandcrackers commented on #947
@3Dpassion - Sorry for the inconvenience. I have a few suggestions that might help.
1. Please make sure your footage and the profile (4k@60fps) really matches (which I don't think is the problem here but just in case)
2. Please try rendering into different 'targets' [`mp4`, `webm` etc]
![screenshot at 2018-11-26 15-55-09](https://user-images.githubusercontent.com/26764547/49007507-b725e280-f193-11

[2018-11-26 10:31] peanutbutterandcrackers commented on #2395
I'm afraid we do not have that feature yet. As far as I understand it, even VLC and mplayer and all the other media players do the same thing. I think I have heard of a fork of mplayer that keeps the pitch the same, but I can't remember for sure.

Perhaps you could try using [Audacity](https://www.audacityteam.org/) to do what you are trying to accomplish?

[2018-11-26 10:37] peanutbutterandcrackers commented on #2394
This one is a bit tricky. If your whole project is already done and contains a lot of clips and is fairly complicated, you might be better off creating a separate openshot project for just the titles, exporting it in the same profile as the movie (with the same container: i.e. .mkv, .mp4, etc) and then using something like [avidemux](http://fixounet.free.fr/avidemux/). If that is not the case you

[2018-11-26 10:40] peanutbutterandcrackers commented on #2393
Perhaps this guide can be of some help: https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7?

Also, there's a nudge feature (using shift + arrowed keys) that move clips by half-a-frame. Perhaps that could be of some massive help.

Hope that helps!

[2018-11-26 11:03] ferdnyc commented on #2367
Huh! I'll be embarrassed if that's it, because I really should've suggested that sooner!

My only request, if you **do** try that @kazham (and you should!), would be that instead of _deleting_ the directory, you move it somewhere else (like Documents). Then, if moving it **DOES** solve the issue, a copy of the old contents would be _very_ helpful in figuring out why.

[2018-11-26 12:09] kazham commented on #2367
I deleted that folder every time before I reinstalled OpenShot.

[2018-11-26 12:20] kazham commented on #2367
Congratulations! That was it! Damn, zlib1.dll file. I have deleted(renamed) it and Open Shot started with no errors!
Thank you very much @ferdnyc!!! God bless you!

[2018-11-26 12:31] peanutbutterandcrackers commented on #830
@rzr @shakarn - I don't think OpenShot will be implementing this feature anytime soon, if ever.
while I admit it would be a great thing, there are far more serious things that need urgent attention. However, we are thankful for the links that you have provided and shall look into it if we ever get around to implementing said feature. In the meantime, I, personally, would be using said (and other)

[2018-11-26 12:38] peanutbutterandcrackers commented on #1997
@Edelawit - Could you please provide us a screenshot so that we could perhaps fix this?

Also, I wonder if you could use the handle that resides between the top and bottom part of openshot and resize the time-line using that as shown in the following screenshot:
![screenshot at 2018-11-26 18-20-37](https://user-images.githubusercontent.com/26764547/49014421-31606200-f1a8-11e8-87a4-558e9415c000.png

[2018-11-26 12:42] peanutbutterandcrackers commented on #90
@blackbat24 - While not quite an elegant solution, here is a work-around that I think might work.
Import all of the .ppm files using`Ctrl` + `A`, normally. Now, once they are in the `Project files` tab, select them all again and right click and > `Add to Timeline` and change the 'Image Length' to `1 divided by your_project_fps'. Make sure your playhead is at the position from where you want your i

[2018-11-26 12:50] peanutbutterandcrackers commented on #2390
That is a limitation of OpenShot. You can change the dimensions but the fps has to be the same. Always. There might be ways to work-around them but they aren't currently being discussed now as there are a pile of other things that need to be dealt with. So, I'm afraid this won't be the priority right now. [And to fix this issue, OpenShot would require a huge overhaul, if I am not mistaken. On a br

[2018-11-26 12:50] #2390 closed

[2018-11-26 12:52] peanutbutterandcrackers commented on #2389
This most certainly is strange. I am using OpenShot from PPA using Linux Mint 19 which is based on Ubuntu 18.04...

@ferdnyc - Perhaps this too, sir, might be of interest to you?

[2018-11-26 12:55] peanutbutterandcrackers commented on #2387
No, sir. None of the effects are missing. The images that you must have seen are from OpenShot 1.x series, which had a few more effects. However, OpenShot 2.x is a complete re-write of the program using different technologies and the effects are still being ported (and might take quite a lot of time to be fully ported). So, you'll just have to wait for newer releases to get new effects.

Hope that

[2018-11-26 12:55] #2387 closed

[2018-11-26 12:59] peanutbutterandcrackers commented on #2386
This is interesting. Thank you for the thoughtfulness. However, it seems the openshot-qt.log doesn't contain anything quite substantial. Could you please also attach `libopenshot.log`? However, before doing that, I would advise you to delete the `.openshot_qt` director/folder entirely and only then run Openshot, and once `launch.exe` vanishes from the task-manager processes, attach both libopensho

[2018-11-26 13:01] peanutbutterandcrackers commented on #2379
Closing this as answered. Like @speedytechdev has said, please try the daily build. This issue has been fixed and I myself have personally been able to verify the fact. Here is how you can get a hold of the daily builds: https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914

Hope that helps!

Please do keep on loving and supporting OpenShot. It'll only get better with ti

[2018-11-26 13:01] #2379 closed

[2018-11-26 13:04] peanutbutterandcrackers commented on #2385
I shall be closing this as [this is already a plan](https://www.openshot.org/blog/2018/01/01/happy-new-year-2018/), and also because you are one of the team now.

[2018-11-26 13:04] #2385 closed

[2018-11-26 13:05] peanutbutterandcrackers commented on #2365
Closing this duplicate, then. Hopefully we'll be able to see this fixed, soon.

[2018-11-26 13:05] #2365 closed

[2018-11-26 13:54] ferdnyc commented on #2367
I was really hoping that would be it, too. Would've been so easy. I'm always very much in favor of my own obliviousness as the explanation for everything.

That's great news! And nobody is more surprised than I am, trust me! :laughing: That was a TOTAL shot in the dark.

I hope you noted the creation date of that rogue `zlib1.dll`, so you can track down which program installed it and shame them in

[2018-11-26 13:56] ferdnyc commented on #2367
@kazham Feel free to Close this issue once you're sure that everything's sorted out and you're fully up and running.

[2018-11-26 14:20] ferdnyc commented on #1151
Well, the new history-free project-file loader/saver in #2400 should eliminate this for any future saves, because the `null` values always seem to be in history entries — and history entries won't be saved to the project files anymore, if that PR lands.

However, I'm not _sure_ whether #2400 would actually have solved this for **old** project files that are already causing problems, since the enti

[2018-11-26 17:31] malinga91 opened #2404 "How to create template for OpenShot cloud API?"
I need to create videos using cloud API. Its difficult to make a video using raw JSON. My concern is, If i make a video using OpenShot Video Editor (Desktop) can I use it with cloud API as a template?

[2018-11-26 17:33] kazham commented on #2367
Thanks to everyone who helped me to run this cool video editing software, especially to @ferdnyc!

[2018-11-26 17:33] #2367 closed

[2018-11-26 17:44] 3Dpassion commented on #947
Hey, thanks for your reply. Can not accept apologies for something I did not pay for :) After all it's free, and considering that fact it's a great piece of software. Bugs are inevitable. Answering your other hints - nothing helped and rendering audio and video separately won't work. As a temporary workaround, I removed a fade out at the end of video and just rendered that way and it worked.  Appa

[2018-11-26 19:32] bartschoneveld commented on #2388
Thnxs peanutbutterandcrackers,

Unfortunately this didn't  work...

kind regards,
Bart

[2018-11-26 21:41] mick47 commented on #2403
Thanks will use the first cutting process on the video.
These are old DVD Recorder files.
Peanutbutter is there an area on openshot to minimise distortion.?
Have the latest version.
Ta Mick

[2018-11-26 22:57] Hypher commented on #2396
Yeah, I was mad after 7 hours of video editing, seeing that I could not get anything from my hard work.
For your information the two major problems I faced were:
- I configured the project for 1080i 25fps, but exporting in 1080i 25fps gave me an all-buggy rendering where many of my keyframes were messed up, elements showing not in time or with wtf-values, and no fadeout (decreasing alpha). I figur

[2018-11-27 00:17] bostontrader commented on #2402
A clue...
I see that the program is looking at the LANG env variable as part of its determination as to which language to use.

On my system LANG=en_US.UTF-8 and the default language is English, but I don't have any choice for Chinese in the settings.

If I set LANG=zh_CN.UTF-8 then the default language is Chinese, but there's still no choice for Chinese in the settings.

So I guess this is a reas

[2018-11-27 01:48] peanutbutterandcrackers commented on #2402
I have already pinged someone who knows all this. We should have some further clues. Hopefully we'll be able to fix this in the later releases.

[2018-11-27 01:53] peanutbutterandcrackers commented on #2396
@ferdnyc - I think here is another scarlet thread for you, good sir.

@Hypher - Yes, I understand. I myself have felt similarly. However, many devs will soon be back from their prolonged absence, and we might be able to see some progress soon.
As for me, because I know my way around, and can use some other Linux Command Line Utilities, I am fairly confident with my abilities to make OpenShot get u

[2018-11-27 01:58] peanutbutterandcrackers commented on #2388
@ferdnyc - Sorry to bother you again, but this issue seems to be related to the other one where you did some `.dll` checking and figured the solution out. Perhaps this will be of interest to you, too?

[2018-11-27 02:00] peanutbutterandcrackers commented on #1151
@ferdnyc - Perhaps a `try` `except` statement will help load older projects with such an issue?

[2018-11-27 02:04] peanutbutterandcrackers commented on #2381
I wonder if this is happening because you are probably using a X-FPS footage in a Y-FPS profile? Could you please use something like [MediaInfo](https://mediaarea.net/en/MediaInfo) to figure out the exact FPS of your footage? Thanks!

[2018-11-27 02:06] peanutbutterandcrackers commented on #2384
Hmm... strange. Can't replicate on my machine running Linux Mint 19 using a 44 second long webm video. Perhaps I need to use mp4? Or, maybe it's the time duration? How long was your clip, sir?

[2018-11-27 02:12] peanutbutterandcrackers commented on #2377
It seems we have quite a lot of problems when it comes to Windows machines. I was able to successfully create the following video on my Linux Mint 19 machine that has only 2GB RAM, 2x2.16GHz Intel Celeron N3050 processor and Mesa DRI Intel(R) HD Graphics 400 (Braswell):
![meet tux](https://user-images.githubusercontent.com/26764547/48016787-a1a13800-e154-11e8-9f1d-bfe2a64a6ad4.gif)

However, we ca

[2018-11-27 02:15] peanutbutterandcrackers commented on #2404
Hey there,

We (the volunteers) haven't really used Cloud API as of yet so we are not able to answer this right away. However, [this tutorial video](https://www.youtube.com/watch?v=DVGQZNDGwGo&t=7s) might be of some assistance, hopefully?

If there needs to be a way for the Cloud API users to create templates using the desktop app (if there isn't already), we could label this as an enhancement so

[2018-11-27 02:17] peanutbutterandcrackers commented on #2301
This is also strange indeed.

As a quick (possible) work-around, you could perhaps switch to using the [daily builds](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914)?

If that doesn't help, I'd advise you to attach the logs so that the devs can debug this.

[2018-11-27 02:19] peanutbutterandcrackers commented on #938
I thought the issue was fixed in 2.4.3, with the patch that had got into libopenshot. If this issue still persists, I suggest you open a new issue - and give all the details. Details about the media file you are using, openshot version, etc. and also please do not forget to attach the logs. That should help the devs debug this soon enough.

[2018-11-27 02:30] peanutbutterandcrackers commented on #2374
@JesseSaul: First and foremost - yes, like it has been said earlier, a fix just recently got in and this issue has been solved. Another fix is also waiting to get it which will solve the issue with thumbnails not being shown when opening projects in the manner that you are saying. Also, the thing is OpenShot seems to work better on GNU/Linux machines. I myself created the following video using Ope

[2018-11-27 02:40] ferdnyc commented on #2374
My history-saving fix (PR #2400) isn't in the daily builds, since it's not merged yet. So, right now that's not available except by running it from source, with my branch checked out. Hopefully soon it'll make it into the daily builds, that's mostly up to @jonoomph .

[2018-11-27 03:08] peanutbutterandcrackers commented on #2369
It is, indeed [possible](https://www.youtube.com/watch?v=nEyrC1v-M1s). However, you might need [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) to understand everything that is happening.

Closing this as answered. Please feel free to comment/re-open if you have further queries. Thank you.

[2018-11-27 03:08] #2369 closed

[2018-11-27 03:15] peanutbutterandcrackers commented on #2380
OpenShot does have quite a lot of performance related issues. Perhaps, for the time being, you should use some other Libre video editors like [KdenLive](https://www.kdenlive.org/) and [Shotcut](https://shotcut.org/), and keep on testing OpenShot using the [daily builds](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914).

However, OpenShot does seem to work well on G

[2018-11-27 03:20] malinga91 commented on #2404
@peanutbutterandcrackers
I got an answer from Jonathan Thomas by an email.

[2018-11-27 03:37] peanutbutterandcrackers commented on #2404
Wow. Great! I guess that resolves this issue. Please do close this one if it has been resolved. Thank you for your time!

[2018-11-27 03:39] peanutbutterandcrackers commented on #2403
Sorry, OpenShot does not have that feature. However, I suggest you use something like [HandBrake](https://github.com/peanutbutterandcrackers/meet-tux) to rip the DVDs. HandBrake is designed for that, and should do the ripping really well, thus giving you less distortions, hopefully.

Please do not forget to close this issue if this has been resolved. Thank you!

[2018-11-27 03:44] peanutbutterandcrackers commented on #947
@3Dpassion - Thank you for the kind words.

For 1, you could use [avidemux](http://fixounet.free.fr/avidemux/); perhaps there might be a way to get that feature into openshot, too, someday; but I am not sure how feasible that will be. Still lets hope for the best.
For 2, yes work could be done regarding that
For 3, I guess you could try increasing the cache size by going to `Edit` > `Preferences`

[2018-11-27 03:47] peanutbutterandcrackers commented on #2295
This certainly is strange. Could you please [attach the logs](https://gist.github.com/peanutbutterandcrackers/d84c257e74b72d8b06b4daffaebc5a14) as well, so that the devs can figure out what is wrong here?

[2018-11-27 03:48] peanutbutterandcrackers commented on #2300
@DylanC - Sorry Cap'an, I didn't see this one. I will test this out when I have the time and get back to this. Hopefully, soon.

[2018-11-27 03:53] peanutbutterandcrackers commented on #2329
Thank you for the video.

I think this problem is just the preview-cache issue. It is not really an issue. It's just not generating the cache fast enough.

To fix this, you could try increasing the cache size by going to `Edit` > `Preferences` > `Cache` and setting the cache limit to a higher value. If you have an SSD, I would also suggest changing the cache mode to disk and changing the image qua

[2018-11-27 03:56] mick47 commented on #2403
thanks

[2018-11-27 03:56] #2403 closed

[2018-11-27 04:05] peanutbutterandcrackers commented on #2243
I guess @ferdnyc's answer is the best one.

However, @t3nchi, if you want to downsize your video collection to 480p, and are using a GNU/Linux machine, please feel free to use [this script](https://github.com/peanutbutterandcrackers/chiyoko). It is very generic, but does the job. I downsized some hundreds of GB of lossless avi files into 40 or so GB of file using the script. Perhaps it'll be of so

[2018-11-27 04:05] #2243 closed

[2018-11-27 04:14] peanutbutterandcrackers commented on #2366
Closing this as answered.

[2018-11-27 04:14] #2366 closed

[2018-11-27 04:17] peanutbutterandcrackers commented on #2372
Hey there,

I haven't really followed the conversation (sorry to barge in) but I wonder if [this](https://github.com/OpenShot/openshot-qt/issues/2404) might be of any help.

Thanks!

[2018-11-27 04:18] peanutbutterandcrackers commented on #1033
In you home folder (the one that contains your 'My Documents' etc), there should be one called `.openshot_qt`. perhaps there? Hoepfully?

[2018-11-27 04:53] ferdnyc commented on #2243
OpenShot is definitely not the right tool to use for _merely_ reencoding videos unedited. that script is a great example of Excessive Python Use, sice it basically boils down to the this shell script:
[code]

(Yeah, the script can process a directory filled with a mix of images and videos together, but... why would anyone actually want to do that?!? To me it seems like more of a bug than a feature

[2018-11-27 05:03] 3Dpassion commented on #947
None of that helps, otherwise I would have tuned that long time ago :) My memory limit there is at 8GB. Switching from my high speed 3200 ram to my NVMe SSD made things worse. Playing with image quality from 5 to 100 does nothing also, no change at all. I can even reduce CPU speed to 2.5GHz and it will also perform the same way and then I Overclock CPU to 4.2GHz and have same exact problem with no

[2018-11-27 05:39] peanutbutterandcrackers commented on #2349
Strangely enough, this does not happen to me on my Linux Mint 19 machine with 2 GB RAM and Intel Celeron N3050 @ 2x 2.16GHz

Perhaps you might want to attach the logs, and add some more information regarding the file itself?

However, I think I remember one other problem with Ubuntu 18.04 series somewhere in the issues. I wonder if these issues are related.

[2018-11-27 05:41] peanutbutterandcrackers commented on #1952
I think this is as simple as Right clicking the clip on the timeline and setting the time parameter to go backward by 1x.
![screenshot at 2018-11-27 11-26-22](https://user-images.githubusercontent.com/26764547/49060854-505a0500-f237-11e8-8ebd-e46f1db3a6d7.png)

Hope this helps.

[2018-11-27 07:32] peanutbutterandcrackers commented on #2243
@ferdnyc - lol That was exactly what I wanted the script to do. Had too many random JPEGs of huge size that I was too attached to delete but too indifferent to probably even look at so that was the solution.

[2018-11-27 07:37] ferdnyc commented on #2388
It does appear very similar to #2367, so I'll suggest the same troubleshooting steps (minus some flailing around) that worked there.

@bartschoneveld , if you could please try the following:
1. Download [Process Explorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) from the Microsoft SysInternals library. (It doesn't need to be installed, you just extract and run it.)

[2018-11-27 07:38] peanutbutterandcrackers commented on #2371
Can you export fine using opus and vorbis? (.webm, etc.?)

[2018-11-27 07:40] peanutbutterandcrackers commented on #2364
While transparent backgrounds aren't the thing, yet, I kinda' want the "make transparency appear as a checker-board" with in the project itself button/preference somewhere. Would come in handy, esp. if I am dealing with something like all-black images (as overlays) in my project.

[2018-11-27 07:49] ferdnyc commented on #2364
But there _isn't_ any background transparency — the default background really _is_ black. Again, the video encoder (even the previewer) can't encode with transparency, there has to be **something** to render for each pixel. You could just as easily place an image of a checkerboard pattern (or any other background) on Track 0, since that's exactly what the fake-"transparency" feature would be doing

[2018-11-27 07:53] peanutbutterandcrackers commented on #2324
@DylanC - Any ideas, Cap'ain?

[2018-11-27 07:57] peanutbutterandcrackers commented on #1515
@Geshelin - Hey there, I think you should go through [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) to help you understand OpenShot fully.

Hope that helps!

[2018-11-27 07:58] ferdnyc commented on #2364
The reason I would be against this being an OpenShot feature, though, is that a checkerboard background  is understood to imply _real_ transparency, and it would be misleading to show it when that's **not** the case.

In other words, if the OpenShot interface looked like @MisterTeeXD 's mockup and you pressed "Encode", you'd _expect_ OpenShot to output a transparent video. But it won't. It'll outp

[2018-11-27 08:03] peanutbutterandcrackers commented on #2339
And you might want to take a look at [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) as well. :+1:

[2018-11-27 08:04] peanutbutterandcrackers commented on #2341
Perhaps you could rename the file to be 0001.png 0002.png or something and maybe that'll help?

[2018-11-27 08:06] peanutbutterandcrackers commented on #2346
[Here!](https://www.openshot.org/static/files/user-guide/index.html)

[2018-11-27 08:07] peanutbutterandcrackers commented on #2347
Could please try deleting the `.openshot_qt` folder that is in your home directory (along with your 'My Documents' and all)? Deleting that has been known to fix things for a lot of people.

[2018-11-27 08:09] peanutbutterandcrackers commented on #2335
I didn't know about the portable version. Thank you for the information.

I'll be closing this since it seems the issue has been resolved for you.

[2018-11-27 08:09] #2335 closed

[2018-11-27 08:14] peanutbutterandcrackers commented on #1667
@airball2000 - Could you please create a GitHub [gist](https://gist.github.com/) outlying the solution in english and publish it here so that I may star it and guide others towards that? [Here's an example](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) of a gist.

[2018-11-27 08:16] peanutbutterandcrackers commented on #2338
I wonder if it is that ready already. Work is currently being done. Perhaps we should close this for now? Cap'ain? @DylanC

[2018-11-27 08:17] peanutbutterandcrackers commented on #2263
You could perhaps try deleting the `.openshot_qt` folder in your home folder.

Or, if you like portable apps: https://portableapps.com/node/59167

[2018-11-27 08:19] peanutbutterandcrackers commented on #2353
I wonder if `View` > `Views` > `Simple View` is what you are looking for.

Closing this as inactive and ansered. Please feel free to re-open/comment, etc.

[2018-11-27 08:19] #2353 closed

[2018-11-27 08:33] peanutbutterandcrackers commented on #2289
Closing this duplicate. Discussions to be followed at #2219

[2018-11-27 08:33] #2289 closed

[2018-11-27 08:37] ferdnyc commented on #2402
My installed OpenShot from Fedora (actually rpmfusion) packages also includes Chinese translations, though that probably isn't surprising since I maintain those packages. I'll take a look at the AppImage and see if they're missing for some reason.
![screenshot from 2018-11-27 03-29-53](https://user-images.githubusercontent.com/538020/49068661-48797100-f1f5-11e8-8d4a-c03fac5bf0aa.png)

I do notice

[2018-11-27 08:44] peanutbutterandcrackers commented on #2364
Yes, I understand. It's just that while creating complex effects (like the one I used during my 'Meet-Tux' video) it is quite confusing to have it all look black when you need to see which areas are actual blacks and which are overlay blacks.

Thank you for the convert command. I didn't know about that. Now I'll use it for the time being.

Perhaps a button in the preference that says something lik

[2018-11-27 08:47] peanutbutterandcrackers commented on #2370
If this is a bug, I'll label it as such, based on @speedytechdev's inquiries. (I myself haven't followed this thread through)

[2018-11-27 08:48] peanutbutterandcrackers commented on #2292
@DylanC - I did have someone from twitter volunteering to fix the entire thing. I guess we'll just have to wait for some more time before we can take him in...

[2018-11-27 08:52] peanutbutterandcrackers commented on #2326
On my Linux Mint 19 machine which uses the ppa as well, there seems to be no problem.
![screenshot at 2018-11-27 14-36-14](https://user-images.githubusercontent.com/26764547/49069657-e8fd7e80-f251-11e8-9d07-19fdb459e226.png)

Is it working now? Or does the problem still persist?

@ferdnyc could be able to give some insight into this...

[2018-11-27 08:54] peanutbutterandcrackers commented on #2305
@DylanC - for now we could probably start with the FAQ section int he README, perhaps?

[2018-11-27 08:56] peanutbutterandcrackers commented on #2303
@jjensenlcn - Again, I suggest that you try using a custom profile: https://www.openshot.org/static/files/user-guide/profiles.html#custom-profile Hope that helps!

[2018-11-27 08:58] ferdnyc commented on #2402
Interestingly, in the AppImage, _listing_ the languages from the command line causes a **crash** before it reaches the Chinese translations...
[code]

However, they are included and present, and it **DOES** work (there) to _load_ them from the command line. So, that's at least a workaround, for the time being. Running the AppImage from a shell terminal as:
[code]
will work to launch OpenShot with

[2018-11-27 09:01] peanutbutterandcrackers commented on #2287
I don't quite understand this issue. I think the .blend files are just scripts that, when run, will output images, but just by themselves aren't anything more than just scripts.

If you can explain it further (if I am misunderstanding) please do.

Else, I think you (or I) could close this one.

[2018-11-27 09:03] peanutbutterandcrackers commented on #2290
I think this issue has more to do with the transform tool rather than the lag. I think the transform tool needs to be polished a little more, overall. For the time being, I find it that adjusting the key-frames manually from the properties tab is the best way to go about making size changes.

If you do not mind, I think this can be closed (and the topic followed on either A. Preview-related topic

[2018-11-27 09:05] peanutbutterandcrackers commented on #2012
@blaze84 - sorry for the delayed response. I think it is because of a history bug (a fix for which is on it's way to being merged into the main source tree). Could you please attach a zipped version of the .osp file here? Perhaps I could remove the history stack from the project file and attach it again for you...

[2018-11-27 09:06] peanutbutterandcrackers commented on #2278
@DylanC - Any thoughts, Cap'ain?

[2018-11-27 09:10] peanutbutterandcrackers commented on #2274
@DrRickJ - Perhaps you could try exporting it to default targets?

[2018-11-27 09:12] peanutbutterandcrackers commented on #2273
I'll mark this as an 'enhancement' just so that we can see that we need to integrate the DBUS interface for our flatpak users.

[2018-11-27 09:14] peanutbutterandcrackers commented on #2269
Please delete the `.openshot_qt` folder in your home folder; deleting it has been known to solve quite a lot of similar issues.

Hope that helps.

Please don't forget to close this if this has been resolved. Thank you!

[2018-11-27 09:15] peanutbutterandcrackers commented on #2210
Please delete the `.openshot_qt` folder in your home folder; deleting it has been known to solve quite a lot of similar issues.

Hope that helps.

Please don't forget to close this if this has been resolved. Thank you!

[2018-11-27 09:15] ferdnyc commented on #2305
Actually, come to think of it this is wrong, since opting out on install should disable collection for _all_ users of OpenShot on that system. not just the one running the installer. So, the right thing to do would be to modify the `_default.settings` that gets installed into `C:\Program Files\OpenShot Video Editor\settings`, changing `send_metrics` from `true` to `false`.

[2018-11-27 09:16] PASTJL commented on #2324
I confirm that Openshot does not handle correctly the svg files. The workaround is to export the svg file to a png file with Inkscape (Advanced Editor) in a visible directory for Openshot.

[2018-11-27 09:19] peanutbutterandcrackers commented on #2248
Sorry but OpenShot 2.x series isn't backwards compatible with 1.x series. In fact, it has been rewritten using completely different multimedia framework. You'll have to edit 1.x osp files 1.x program and 2.x ones with 2.x.

Hope that clears things up.

Closing this as answered.

[2018-11-27 09:19] #2248 closed

[2018-11-27 09:20] peanutbutterandcrackers commented on #2244
Closing this as answered.

[2018-11-27 09:20] #2244 closed

[2018-11-27 09:38] peanutbutterandcrackers commented on #947
There is a hardware acceleration branch which is currently  work in progress. I am afraid you have no other choice but to wait for newer versions. In the meantime you could perhaps try pitivi, shotcut or kdenlive. Hope that helps.

[2018-11-27 10:41] DylanC commented on #2399
@raulet27 - I would recommend a daily build. As @peanutbutterandcrackers stated. It has a browse button to find the .exe and set the correct path for you.

[2018-11-27 10:46] baptx commented on #2318
For information, I did not have this problem when I tested with avidemux, which is configured to copy the original codec by default.

[2018-11-27 10:57] DylanC commented on #2268
Dup of #2114

[2018-11-27 10:57] DylanC commented on #2295
Dup of #2114

[2018-11-27 10:57] DylanC commented on #2301
Dup of #2114

[2018-11-27 10:57] DylanC commented on #2307
Dup of #2114

[2018-11-27 10:57] DylanC commented on #2351
Dup of #2114

[2018-11-27 10:58] DylanC commented on #2391
Dup of #2114

[2018-11-27 10:58] DylanC commented on #2240
Dup of #2114

[2018-11-27 10:59] DylanC commented on #2181
Dup of #2114

[2018-11-27 10:59] DylanC commented on #2178
Dup of #2114

[2018-11-27 11:01] DylanC commented on #2236
Dup of #2114

[2018-11-27 11:06] DylanC commented on #2114
@jonoomph @peanutbutterandcrackers @ferdnyc - This seems to be the first instance of import issues regarding mp3/mp4. I have linked all of the dups to this original one and updated the priority list I have here:
https://gist.github.com/DylanC/73ecfa2f6f99fd7828604e4f8b65bb3f

[2018-11-27 11:08] Geshelin commented on #2346
Thank you!

Hanna Geshelin
Sigaliot 56/4
Box 2511
Ma'alot-Tarshiha, Israel
2150153
055-951-2994
USA Tel: 208-240-6807
e-mail: hbgesh@gmail.com

On Tue, Nov 27, 2018 at 10:06 AM peanutbutterandcrackers <
notifications@github.com> wrote:

[2018-11-27 14:16] #2393 closed

[2018-11-27 14:16] #2395 closed

[2018-11-27 14:18] DylanC commented on #2392
@bobcrikey - I have a list of stuff I'd like us to focus on and Chroma key is on it:
https://gist.github.com/DylanC/73ecfa2f6f99fd7828604e4f8b65bb3f

You will need to wait a while for hardware accel to arrive. Same with Chroma key but I hope we get around to it soon.

[2018-11-27 14:18] #2392 closed

[2018-11-27 15:37] rsarrais commented on #2335
It's been a whole new experience using OpenShot without lags and crashes, wonderful software indeed. Thank you.

[2018-11-27 18:03] raulet27 commented on #2399
It works for me, I just downloaded the 32 bit version, thanks for the help,
it's a luxury that you answer so fast :)

El mar., 27 nov. 2018 a las 11:41, DylanC (<notifications@github.com>)
escribió:

[2018-11-27 18:31] peanutbutterandcrackers commented on #2347
@khaledouf - Could you please try out [this solution](https://github.com/OpenShot/openshot-qt/issues/2388#issuecomment-441957439) and see if that works for you?

[2018-11-27 18:33] peanutbutterandcrackers commented on #2378
Possible duplicate of #2114

[2018-11-27 18:43] khaledouf commented on #2388
[launch.exe.txt](https://github.com/OpenShot/openshot-qt/files/2621406/launch.exe.txt)

[2018-11-27 19:04] khaledouf commented on #2347
[launch.exe.txt](https://github.com/OpenShot/openshot-qt/files/2621487/launch.exe.txt)

[2018-11-27 22:34] DecalsIAm commented on #2114
I don’t use the portable app.

From: peanutbutterandcrackers
Sent: Tuesday, November 27, 2018 10:23
To: OpenShot/openshot-qt
Cc: DecalsIAm; Mention
Subject: Re: [OpenShot/openshot-qt] Cannot Import MP4s? (#2114)

@DecalsIAm - Could you please try and see if the portable app version of OpenShot works for you?
I wonder if that'll give someone some clues as to why these issues are manifesting themsel

[2018-11-28 02:03] ttigvbringj opened #2405 "How do I magnify a part of the clip"
**My Question:**

**System Details**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**Screenshots**

[2018-11-28 04:09] Freimann1 commented on #2295
I need to figure out how to find the logs.
But this is what I have found.
For my 2.4.1 Openshot, it can always import TS files ( as a result of start and stop recording an MP4 with VLC). It won't import most MP4s directly.  But once in a while it does. But size/high pixel are not the issue. Of the few times I manage to export as a MP4 after editing a TS file in Openshot, Openshot can now import th

[2018-11-28 13:28] #2399 closed, assigned to nobody

[2018-11-28 13:31] #2372 closed

[2018-11-28 13:32] #2354 closed

[2018-11-28 14:38] CauldronMel opened #2406 "Openshot minimise button hidden"
**My Question:**
Hi, the minimise button is hidden on my screen when Openshot is open so i have o quit to get out of it - any suggestions on how I can have it showing.
Many thanks

**System Details**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**Screenshots**

[2018-11-28 14:47] N3WWN commented on #2394
Right now, nudging only works for objects that are selected (either single or multiple clips), IIRC.

What I would suggest is to add your titles to an empty track (or add new track(s) for your titles) that is above or below all of your other tracks, get the duration of the titles set or at least set the end of the last item in the title section where you want it, zoom out so you can see the entire

[2018-11-28 14:50] CauldronMel commented on #2406
it's ok! I got it!

[2018-11-28 15:09] #2406 closed

[2018-11-28 17:49] iangilmour commented on #2398
same problem with OpenShot-v2.4.3-dev1-1543262951-31e9e7b6-750d7a3f-x86_64.dmg.

[2018-11-28 19:56] rufford155 opened #2407 "Playback lags in editor"
Playing back my short video within the program is very jerky and sound is intermittent.

But my exported .avi file plays perfectly !

How can this be ?

[2018-11-28 21:43] speedytechdev commented on #2407
Hi, @rufford155 we know about this issue. This is on our list of things to fix but thanks for letting us know.

[2018-11-28 21:47] speedytechdev commented on #2405
@ttigvbringj Are you trying to zoom into the timeline. If so you can click on the plus or minimize button.
![image](https://user-images.githubusercontent.com/40452959/49184394-1c601a80-f3c4-11e8-9cab-689669ab31e8.png)

[2018-11-29 03:18] WaqasAwan00 opened #2408 "Audio drops when using keyframes in the clip"
After importing an audio clip, using a set of keyframes will cause the audio to drop 1 minute after the clip starts. (I hope i know what keyframe means here but if not I will explain):

Windows 10
 - OpenShot Ver [2.4.3]

**To Reproduce**
For example say the entire audio clip is at a volume of 0.50, I move the marker/flag to the middle, and set the volume to 0.40, and go to the end of the clip and

[2018-11-29 05:40] SteveIDusa commented on #2384
Going to offer my 2 cents. I have been able to document the freeze that I experience when editing Video in Linux Mint 19. I have created a short video to demonstrate.....https://youtu.be/nNZzEqqj_KM

The clip that is being edited was created in Simple Screen Recorder, its settings are displayed at the beginning of the video as screen shots.

I have been using Openshot for about 6 months, its simpl

[2018-11-29 11:06] DylanC commented on #2407
@rufford155 - What spec is your PC?

[2018-11-29 14:00] rufford155 commented on #2407
My laptop is not high spec but I don't believe that's the issue.
Playback is fine in every other editor I've tried, this is maybe the eighth.

[2018-11-29 16:35] ferdnyc commented on #2347
@khaledouf Exactly the same issue as #2367 — there's a file `C:\Windows\System32\zlib1.dll` that some other software installed in the Windows system directory. (It's not part of Windows, and isn't supposed to be there.) That file is interfering with OpenShot being able to start, because it's being used instead of the `C:\Program Files\OpenShot Video Editor\zlib1.dll` that comes with OpenShot.

Del

[2018-11-29 17:12] ferdnyc commented on #2364
Oh, I don't disagree that the display of clip boundaries could be improved. Whenever a clip is selected that's smaller than the output frame, it should be outlined in the preview, the same way Gimp outlines layers that are smaller than the image dimensions.

[2018-11-29 17:21] ferdnyc commented on #2389
That _sounds_ like it might be a `libopenshot` version mismatch. @ar-g can you try the [2.4.3 AppImage](https://github.com/OpenShot/openshot-qt/releases/download/v2.4.3/OpenShot-v2.4.3-x86_64.AppImage) and see if that works for you?

If so, it sounds like a packaging/installation problem.

[2018-11-29 17:37] khaledouf commented on #2347
wow .. it fixed
thank you very much ( ferdnyc )
after delet .. zlib1.dll .. now i enjoy openshot vedio editor

# important note #
1- after delete zlib1.dll from system32 .. openshot work .. but with more time to load .. and after use it make hang ..!!
2- so i try to make copy zlib1.dll from openshot and put it in system32 .. and try use app again .. what happened ?
load fast .. work fast .. no mor

[2018-11-29 20:36] ferdnyc commented on #2347
Hmm, that's very strange. I wouldn't normally expect that to be necessary.

It's _possible_ the slowness would've cleared up with a Windows restart after deleting `zlib1.dll`, without having to copy OpenShot's back in the Windows system space. (Possible something already running on the system was still looking for the deleted file, and slowing things down.)

But, if copying OpenShot's `zlib1.dll`

[2018-11-29 21:49] Flower2012 commented on #2386
Hi,
I have the same problem here. I could install the software however could not open it. Every time I try to open it I get a message (please, see attachment). So, until now I could not run it.
I am using 32 bit Windows 2007.
Please, help me.
Thanks in advance for your help.
Warm Regards,

![untitled](https://user-images.githubusercontent.com/45470420/49254242-ef0e7d80-f452-11e8-8f23-36fda73a30ff.

[2018-11-29 21:50] Flower2012 commented on #2386
When I click OK. Every thing ends in a void.

[2018-11-29 22:19] plevintampabay opened #2410 "Wave Form not vertically tall enough to make out the highs and lows"
**Describe the bug**
When I click on a clip or split piece of a clip, I'm able to select "Display wave form".
I believe that only applies to the one piece of the clip.
a) it would be if it applied to all pieces on the track.
But the big problem is that the wave form is vertically tiny.  I can not see anything in it.

**System Details (please complete the following information):**
 - Operating Syst

[2018-11-29 22:20] plevintampabay commented on #2410
in the image, both pieces of the clip (left and right) have been told to show the wave form.
They are.  It is the thin blue line at the bottom of the track.
This is not usable!

[2018-11-29 22:50] ValoxGaming opened #2411 "Drop area & visual area disappeared after pressing a button?"
**My Question:**
I pressed a button next to where it showed what it looks like, and the whole area disappeared. I have no idea how to get it back and now I can't drop any files in, or see the images going along w/ music.

**System Details**
 - Operating System / Distro: Windows 10

**Screenshots**
![image](https://user-images.githubusercontent.com/33590780/49257064-14719c00-f3ff-11e8-90c5-56dc1b1f

[2018-11-30 00:41] ashjojo90 opened #2412 "Help video export craches"
**My Question:**

< I need help and I am new to this so please bare with me, I am having a hard time exporting my video so that I can access it as a file on my computer and upload it. Every time I export it gets to about 95% and shuts off. As I have been trying to find a solution I have changed the target, profile, and quality as people suggest after looking for answer online. Nothing is working,

[2018-11-30 00:42] podunkly opened #2413 "scroll bar shrinking"
**Describe the bug**
A clear and concise description of what the bug is.

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concis

[2018-11-30 00:44] ferdnyc commented on #2236
I'm trying to understand this report... the system logs provided have _nothing_ to do with OpenShot whatsoever — they're from the computer's internet time-synchronization service. (XPC Activities, from what I can understand, are background processes — like clock-synchronization updates — that can be delayed/deferred to conserve power.) These messages' appearance in the logs at the time of the cras

[2018-11-30 01:00] ferdnyc commented on #2295
OK, so there's clearly something different between the MP4 file(s) you were trying to import originally, and the one written by OpenShot. That difference may be the key to tracking down this problem.

Aside from the logs that keep getting requested on these reports (which are found, on Windows, in `C:\Users\<username>\.openshot_qt\`, the filenames are `openshot-qt.log` and `libopenshot.log`), one

[2018-11-30 01:04] torpedoboy49 commented on #2411
view > views > show all

[2018-11-30 01:10] torpedoboy49 opened #2414 "Resolution dropped and everything zoomed in"
how do you zoom out/ change resolution of openshot itself (not the video)?

[2018-11-30 03:55] Freimann1 commented on #2295
I typically download a video file and its corresponding audio file separately and merge them into a single MP4 using VLC. All of the MP4s merged this way are rejected by Openshot.

General
Complete name                            : G:\Library Video\Combo flv and mp3\Camila Cabello Havana.mp4
Format                                   : MPEG-4
Format profile                           : Base Media
Cod

[2018-11-30 05:33] speedytechdev commented on #2412
Hi @ashjojo90 Hopefully we can help you. It would be a pain if you wasted all that time. I need to know a few things from you please.

- What version of Openshot are you using

- What is the format of the file you are editing/used in your film

- What is the format you are exporting at

Please let me know if you get stuck or need help.

[2018-11-30 05:34] speedytechdev commented on #2413
Hi @podunkly could you please fill out the information you have posted or we have no idea how to help you thanks.

[2018-11-30 05:35] speedytechdev commented on #2414
Hi, @torpedoboy49 could you send me some screenshots, please. Also what version of Openshot are you using?

[2018-11-30 05:43] WaqasAwan00 commented on #2408
Yes! I couldn't quite get the hang of the auto- fade feature it had that put in a fade through the right click options (volume would jump right before the actual fade).
So i thought to custom adjust the volume but ended up with the problem specified.

[2018-11-30 05:53] speedytechdev commented on #2408
Can you take a screenshot of your timeline and send it to me, please.

[2018-11-30 06:10] WaqasAwan00 commented on #2408
Here is my timeline:
![image](https://user-images.githubusercontent.com/34248727/49271684-b663a980-f43c-11e8-8d2e-26dff2b72f29.png)

[2018-11-30 06:12] speedytechdev commented on #2408
That looks normal could you send me a copy of your film, please.

[2018-11-30 06:15] WaqasAwan00 commented on #2408
Will do, just gotta re-export; been deleting the ones with cut-out audio. Just a sec

[2018-11-30 06:16] speedytechdev commented on #2408
Ok, I am positive we have had this issue before I just can't remember how we fixed it.

[2018-11-30 06:18] WaqasAwan00 commented on #2408
What formats should I upload, btw? I imagine you'd want the file to open in an editor yourself too

[2018-11-30 06:19] speedytechdev commented on #2408
Mp4 please if possible and yes please

[2018-11-30 06:53] WaqasAwan00 commented on #2408
I can't seem to replicate it on a smaller video, maybe I'm just messing something up? Also I'm having a bit of trouble uploading video files here. If I encounter this problem again, I'll make an upload to youtube and put a link here.

On a side note, trying to open a project whose base files were deleted puts the program into a loop where it keeps asking to identify the folder where the project is

[2018-11-30 06:56] speedytechdev commented on #2408
ok, that sounds good. Yep, we know about that. It is fixed in a daily build. When the next main version build comes out it should include that fix but thanks.

[2018-11-30 08:17] Volodya opened #2415 "Every action takes 10 to 15 minutes of 100% load"
Here is what happens:

1. I add a video to timeline
2. I wait for 10 minutes of OpenShot taking 100% of CPU on one of the cores, during which time it is almost completely unresponsive.
3. I turn off the audio from the video.
4. I wait for 10 minutes of OpenShot taking 100% of CPU on one of the cores, during which time it is almost completely unresponsive.
5. I press play to find the position where

[2018-11-30 08:48] ferdnyc commented on #2295
Ohhh-kay. There's actually a lot of good information here, more than enough to make some determinations about the issues you're experiencing. Let's go in order through the data you provided...

### File 1

The problem here is definitely the MP3 audio. VLC is great as a media player because it's so forgiving, you can throw pretty much anything at it and it'll just work out what to do with it. It's

[2018-11-30 10:43] Volodya commented on #2415
Just to make it clear, it's not only the first time that the action is performed that causes this. A series of action such as 'play' -> 'pause' -> 'play' -> 'pause' -> 'play' will result at this issue raising its head at each step (yes, even pausing an already playing video does this).

[2018-11-30 14:36] DylanC commented on #2236
@Johnmemer - Can you provide the logs from Openshot? You have attached systems logs which does not help us very much.

[2018-11-30 18:06] jmrsuarez opened #2416 "Cannot import any video files on Windows 10 using Openshot 2.4.3"
**Describe the bug**
When i try to import a mp4 video file, the application do not responds.

**System Details (please complete the following information):**
Windows 10 - OpenShot Version 2.4.3

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application
2. Try to import a mp4 video file

**Expected behavior**
that the video clips opens

**Screenshots**

**Logs**
If you are experienc

[2018-11-30 19:03] ashjojo90 commented on #2412
The files I am using are coming from our go pro and the audio is from purchased song off iTunes, I’ve tried exporting in many different formats high med and low quality... also in the mp4 h.264 and mp4 mpeg4... target in all formats I am not sure what version we downloaded openshot at the beginning of the year I am looking to see if maybe I need to update it now

[2018-11-30 22:16] hypercompl3x opened #2417 "Everytime I try and export it freezes at the same percentage and then crashes?????"
**Describe the bug**
A clear and concise description of what the bug is.

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.1]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concis

[2018-12-01 00:18] ferdnyc commented on #2415
I'd suggest downloading and trying the [2.4.3 AppImage](https://github.com/OpenShot/openshot-qt/releases/download/v2.4.3/OpenShot-v2.4.3-x86_64.AppImage), as a first step to figuring this out. That'll tell you whether the issue is in the packaging/installation, or if there's some issue with OpenShot itself on your computer.

[2018-12-01 00:59] ferdnyc opened #2418 ""openshot-qt --lang" doesn't work when OpenShot is installed on Linux"
This is mostly a reminder for myself, since it's an issue that came to light while debugging #2402.

It seems I painted myself into something of a corner, implementing the `-l` / `--lang` command line option to override OpenShot's locale selection process and ignore the detected / preferences language settings.

`--lang` works fine in the AppImage, it works fine on Windows, I'm guessing it works f

[2018-12-01 03:12] Freimann1 commented on #2295
Thank you ferdnyc. You are right on the money on many scores.

I didn't realize MP3 does nto work well in a MP4 container. I did two things per your suggestion.
(1) I tried converting the MP3 to AAC using iTune. Despite what many Youtube tutorials say on this topic or even the drop-down menu from iTune says it is converting to AAC, my iTune converst it to an M4A file. But merging the MP4 and the v

[2018-12-01 03:31] ashjojo90 commented on #2412
I tried downloading it but it wouldn’t let me 😩

[2018-12-01 03:35] speedytechdev commented on #2412
Does it say why?

[2018-12-01 03:46] ashjojo90 commented on #2412
Yes one sec let me do again

[2018-12-01 03:51] ashjojo90 commented on #2412
Ok it worked with chrome not explorer trying to export video now

[2018-12-01 03:52] speedytechdev commented on #2412
ok

[2018-12-01 04:07] ashjojo90 commented on #2412
It worked I exported it thank you!

[2018-12-01 04:08] speedytechdev commented on #2416
Hi @jmrsuarez that is odd since I use a windows 10 pc and on 2.4.3. Could you send crash logs please and your pc specs. Thanks

[2018-12-01 04:09] speedytechdev commented on #2417
Hi @hypercompl3x could you fill out this information please or we have no idea how to help you. Thanks

Describe the bug
A clear and concise description of what the bug is.

System Details (please complete the following information):

Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
OpenShot Version [e.g. 2.4.1]
To Reproduce
Steps to reproduce the behavior:

Go to '...'
Click on '....

[2018-12-01 04:10] speedytechdev commented on #2412
No problem I am going to close this issue ok

[2018-12-01 04:12] speedytechdev commented on #2412
@DylanC or @peanutbutterandcrackers could you close this please

[2018-12-01 04:58] Volodya commented on #2415
Pretty much the same thing

[2018-12-01 07:30] ferdnyc commented on #2418
I feel like I should be able to solve this with some `__init__.py` code somewhere, I'm just not _quiite_ working out exactly how.

[2018-12-01 07:39] ferdnyc commented on #2418
Ooh! How about this?

When `openshot_qt` gets installed, what if we place an `__init__.py` that exists solely to perform the path-computation duties for `launch.py`, instead of having them built into `classes.info` ? Then, `launch.py` could do something like this:

[code]

If `classes.info` is loaded that way in `launch.py`, it should be the same in-memory instance as all of the subsequent imports

[2018-12-01 09:40] hypercompl3x commented on #2417
Operating System / Distro: Windows 10
OpenShot Version 2.4.3
To Reproduce
Steps to reproduce the behavior:

Go to export
Click on mp4 h.264, 720p 30fps
Scroll down to export
See error
Expected behavior: Freezes at 14.7% then says not responding and quits.

On Sat, 1 Dec 2018, 04:09 speedytechdev <notifications@github.com wrote:

[2018-12-01 09:45] speedytechdev commented on #2417
This is a common problem with exporting at h.264. Like this [2371](https://github.com/OpenShot/openshot-qt/issues/2371)

[2018-12-01 13:30] ferdnyc commented on #2418
Seems to work nicely!

[2018-12-01 14:45] jmrsuarez commented on #2416
Hardware Sempron, 2.80 Ghz, 64 bits, AMD, 10 GB, Open shoot dont crash, it only get stalled on a gray window and his title change to a non responding state.

![openshot](https://user-images.githubusercontent.com/13615559/49329467-de3e3480-f544-11e8-9fb6-30314deeb8fa.jpg)

[2018-12-01 16:01] Volodya commented on #2415
I have done some more investigation. I thought that it was adding the video that caused the whole issue. It makes sense, since audio is trivial on today's hardware. But actually when i perform my actions on video alone, there is no problem. The issue was actually in the second audio stream.

I have also managed to confirm that if the audio stream is in OGG-Vorbis format, there is no problem. But m

[2018-12-01 21:18] ferdnyc commented on #2295
Yeah, that's just hard-won experience more than anything else, honestly — from long before I'd ever even heard of OpenShot. The combination has never caused me anything but problems. It may be that it's _possible_ to combine the two, by encoding the MP3 content Just So™ in a way that won't piss off the MP4 demuxer, but it's very clear that the MP3 format is much broader and more complex than whate

[2018-12-02 00:18] ferdnyc commented on #2347
I really wish I knew what software was installing (an out-of-date) `zlib1.dll` into `C:\Windows\System32\` on so many people's machines.

If this becomes a big enough problem, we may have to look for radical solutions, like perhaps renaming OpenShot's `zlib1.dll` to something else so that these rogue "system" versions won't override it. Tricky thing is, though, that it's not OpenShot that's linkin

[2018-12-02 01:40] khaledouf commented on #2347
There may be a difference between the nature of the two files ..
But I just wanted to tell what happened to me as an experiment .. when I first delete the system32 file
Then I took a copy of the openShot with the same name .. and copied it into the system32 file

* I noticed:
1 - to delete the dll file from the system32 file was without any objection from the system of Windows 7 .. This assured me

[2018-12-02 03:57] speedytechdev commented on #2416
Ok so if the issue did not change with the different versions of Openshot then we know that either Openshot does not support/like your system or your system does not like Openshot. @ferdnyc Could you help with this, please. Thanks

[2018-12-02 04:14] speedytechdev commented on #2412
close

[2018-12-02 04:14] #2412 closed

[2018-12-02 04:32] speedytechdev commented on #2414
@torpedoboy49 If you don't answer soon I have to close this issue sorry.

[2018-12-02 04:32] speedytechdev commented on #2413
@podunkly If you don't answer soon I have to close this issue sorry.

[2018-12-02 04:35] speedytechdev commented on #2405
Please let us know if this helped or are we not getting your question?

[2018-12-02 04:37] speedytechdev commented on #2411
@ValoxGaming Did this fix your issue. Please let us know so we know whether or not to close the issue.

[2018-12-02 05:01] speedytechdev commented on #2408
@WaqasAwan00 This issue is going to be closed is that ok with you?

[2018-12-02 05:05] speedytechdev commented on #2389
@ar-g Can you let us know if this fixed the issue, please. So we know whether or not to close this issue.

[2018-12-02 05:06] speedytechdev commented on #2388
@bartschoneveld Can you let us know if this fixed the issue, please? So we know whether or not to close this issue.

[2018-12-02 05:07] speedytechdev commented on #2381
@MisterTeeXD Can you let us know if this fixed the issue, please. So we know whether or not to close this issue.

[2018-12-02 05:17] WaqasAwan00 commented on #2408
yeah that's fine, ill open a ticket when/if i can find that bug again

[2018-12-02 05:17] #2408 closed

[2018-12-02 13:36] stefan-reich opened #2420 "Change property without setting keyframe"
**Describe the bug**
I want to change a clip property such as ScaleX without generating an animation

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
Peppermint Linux 8
 - OpenShot Version [e.g. 2.4.1]
2.4.3

**To Reproduce**
Steps to reproduce the behavior:
Add a video clip to timeline.
Slice off the beginning.
Try t

[2018-12-02 14:09] ferdnyc commented on #2347
Correct, that file is _not_ part of the Windows install and was not put there by any component of Windows itself. Some third-party software stuck it in there(something that's _not_ supposed to be done, but shoddily-written programs or slapped-together installers still unfortunately do it. What would be interesting, from someone who encounters this file, would be to check the creation date of the `

[2018-12-02 14:13] ferdnyc commented on #2416
Even if it doesn't crash, logs would be helpful. See the [CONTRIBUTING.md](https://github.com/OpenShot/openshot-qt/blob/develop/CONTRIBUTING.md) file for instructions on how to collect logs. Then just drag-and-drop the `openshot-qt.log` and `libopenshot.log` files into the Issue comment editor to upload and post them.

[2018-12-02 14:20] ferdnyc commented on #2420
That's not possible, the value adjustment will always be applied as a keyframe. It's inherent in the animatable properties that their value adjustments are stored in keyframes.

The secret is in where you set it. If you make the adjustment at the _very first_ frame of your clip, the parameter won't be animated — it'll be set by the first keyframe to whatever value you select, and then because ther

[2018-12-02 14:34] ferdnyc commented on #2326
\*nod* If your Qt install is set up for native dialogs you'll get the native color picker. In Gnome 3.30 on my Fedora 29 installation, that means this one:

![image](https://user-images.githubusercontent.com/538020/49340993-35abd580-f615-11e8-9733-ee0fc6718758.png)

In theory we could disable use of native dialogs when we launch the color picker, specifically. Which might be prudent,  because in t

[2018-12-02 14:49] ar-g commented on #2389
Yes, AppImage works, but it crashes way to often in the middle of export. It also crashes when I change from laptop screen to the external screen.

[2018-12-02 14:51] czesio86 commented on #2326
You mind reader;-) That's exacly what "the issue" is looking like. To be
honest I thought it is something like that but I'm not a programer and my
know-how is limited.

niedz., 2.12.2018, 14:34: Frank Dana <notifications@github.com> napisał(a):

[2018-12-02 17:56] bartschoneveld commented on #2388
Unfortunately all of the above suggested solutions failed.....

[2018-12-02 18:34] stefan-reich commented on #2420
OK. The thing is, it didn't seem to work.

If the clip starts at 2:00 and I put the timeline pointer (?) at 0:00 for setting the value - is that supposed to work? 'cause it didn't...

It neither worked when the clip was at 0:00 and the pointer at 0:00 too.

It only worked when I added the clip again from the videos list.

So it seems slicing a clip was what caused the problem setting the value.

I

[2018-12-02 19:31] osve001 opened #2421 "Error opening OpenShot 2.4.3"
**Describe the bug**
Double-clicking the .osp file does not open the project and the attached error message is displayed.
![openshot243_error_message](https://user-images.githubusercontent.com/28224249/49343837-34f45d00-f670-11e8-878c-10ea60d4a3f9.png)
On the other hand, it works fine just by opening first OpenShot, and then opening your .osp file.

**System Details (please complete the following

[2018-12-02 20:02] ordir commented on #2371
Frank,

I've done a lot of testing with different material to many outputs with different file types.

It seems that it is happening using h.264 to an mp4 file especially at 720p and 1080p resolutions. The render out stalls at various points for various periods but the process does eventually finish. Not a game stopper, just annoying.

Would indicate some sort of issue with the h.264 encoder? Not

[2018-12-02 22:07] speedytechdev commented on #2411
No problem glad to help.

[2018-12-02 22:07] #2411 closed

[2018-12-02 22:09] speedytechdev commented on #2371
@ferdnyc I believe Frank is right a lot of people have been saying that h.264 is causing issues.

[2018-12-02 22:11] speedytechdev commented on #2388
Sorry to hear that. Until the issue is fixed this will stay open and sorry for the inconvenience this has caused you.

[2018-12-02 22:13] speedytechdev commented on #2389
Ok, sorry that you are still having issues. Hopefully, @ferdnyc can help you.

[2018-12-03 01:07] ferdnyc commented on #2420
"Remove Keyframe" is somewhat broken in that if you use it on a clip that only has one setting for a value, that value is returned to 0 instead of to its default/initial value.

Like, for instance, if you do this...
1. Place a Clip on the Timeline
2. Select the Clip
3. Right-click on "Scale X"
4. Choose "Remove Keyframe"

..."Scale X" will become `0` throughout the duration of the clip, which is w

[2018-12-03 06:24] JVang24 opened #2422 "Imported video stalls"
**My Question:**
Imported videos stall each time I play it in the "video preview" section. It play for a few sec then freezes for a few. The same thing happened when I installed Shotcut. Wasn't sure so I uninstalled Shotcut thinking it was the program. But I'm getting the same issue with Openshot. I'm totally new to this. Please help! Just wanna edit some vlogs and upload on YouTube. TIA!

**Syste

[2018-12-03 11:21] sarwil opened #2423 "Split clip does not affect the preview window"
I drag mp4 files into the `Project files' window. Following a tutorial, I right click on a file and select "split clip". An extra window appears as expected, where I select the `start' and `end' of the shortened clip I want and then hit `create' (all as in the tutorial). But whatever I try, the `end' selection never works! In other words, when I preview the newly created clip, it does start at the

[2018-12-03 11:39] speedytechdev commented on #2422
Hi, @JVang24 Hopefully we can help. I need to know a few things to help you and get you on your way.

-  What version of Openshot are you using
-  What is your pc specs
-  Is it all the files you use all specific ones like mp4

[2018-12-03 15:40] PASTJL commented on #2422
Can you play the imported clip with VLC ? to verify if it is corrupted....

[2018-12-03 17:46] ferdnyc commented on #2388
How can my suggestion have "failed"? My suggestion was that you collect data and provide it to us, so that we can try to help you. We can't do that without information.

So, again:

[2018-12-03 18:07] podunkly commented on #2413
you can close this, I ended up getting kind of what I needed.  The main
issue that I was going to open the ticket for was for the scroll bar on the
edit timeline. it just kept shrinking and there didn't seem to be a way to
set the over all amount of time on the timeline to something that made the
scroll bar useable.  I'd have to zoom way in, then the scrolling would go
crazy.

On Sat, Dec 1, 2018

[2018-12-03 19:08] bartschoneveld commented on #2388
Dear ferdnyc,

Thanks for your effort to solve this problem.
Process	CPU	Private Bytes	Working Set	PID	Description	Company Name
Registry		740 K	8.212 K	96
System Idle Process	85.80	52 K	8 K	0
System	0.29	212 K	10.928 K	4
 Interrupts	1.00	0 K	0 K	n/a	Hardware Interrupts and DPCs
 smss.exe		492 K	1.144 K	404
csrss.exe	< 0.01	1.912 K	5.332 K	568
wininit.exe		1.380 K	6.564 K	664
 services.exe		5.748 K

[2018-12-04 00:52] speedytechdev commented on #2413
@podunkly I think put an idea request in for "set the overall amount of time on the timeline". I will close this anyway.

[2018-12-04 00:52] #2413 closed

[2018-12-04 01:14] JVang24 commented on #2422
Yes, plays perfectly fine on VLC

On Mon, Dec 3, 2018, 7:40 AM PASTJL <notifications@github.com wrote:

[2018-12-04 01:18] speedytechdev commented on #2423
Hi, @sarwil I just tested this. So yes it does not stop were it is meant to in the preview window but it works fine in the timeline and when exported. So I will mark this a bug since it does not work on the preview window.

[2018-12-04 13:12] ferdnyc commented on #2415
Interesting, thanks very much @Volodya — that's a lot of very helpful info. I will take a look at those logs when I'm not on my phone, and look into `libopenshot-audio`'s FLAC support. It's entirely possible it could be lacking/lagging, I don't know how much of a workout it's really gotten up until now. If there is a FLAC issue, hopefully it can be addressed. (Or at least we can decide if we shoul

[2018-12-04 14:47] FrankLoB opened #2427 "Openshot Hangs when importing mp4 video in windows 10"
openshot works great on .mov files, but now i have a new camera and it only generates mp4, when i import the mp4 openshot stops responding for eternity. I tried this with multiple computers and 3 other running windows 10 and 1 windows 7, no luck and i tried with a different mp4 file, still no success, so if anyone can help me with this issue it would be much appreciated thanks.

[2018-12-04 21:00] ugoboom opened #2428 "Adjust volume on an audio file?"
**Please fill out this template**

**My Question:**
How do I adjust the volume of an audio file?

**System Details**
 - Operating System / Distro: [Windows 10]
 - OpenShot Version [2.4.3]

**Screenshots**

[2018-12-05 02:37] Cinnamon2013 opened #2429 "Openshot not opening OPS Files gives error......."
**Please fill out this template**

Python script failure when opening OPS files
I get an error when opening OPS files (another user asked this a few months ago here: https://github.com/OpenShot/openshot-qt/issues/1854 but they got no help)

**System Details (please complete the following information):**
 - Windows 10 latest version (what other option is there with windows 10 :P
 - OpenShot Version

[2018-12-05 03:39] juanbosh commented on #2414
same issue, but i dont know if is because the theme is not working properly or the resolution doesnt, but i install the driver nvidia on ubuntu 18.04 and the problem persist in version 2.4.1

[2018-12-05 03:53] peanutbutterandcrackers commented on #2427
Is it 4k 60fps footage, by any chance?

[2018-12-05 03:59] FrankLoB commented on #2427
No 1080p 30fps

Frank Lo Bianco
Administrateur Réseau - Technicien Informatique
FLoBianco@uniger<mailto:flobianco@unigertec.com>pro.com<http://pro.com>
3980 Boulevard Leman, Laval (Québec) H7E 1A1<x-apple-data-detectors://7/2>
Tel: 450-902-3142 ext : 420<tel:450-902-3142;420>
Fax: 450-682-2082<tel:450-682-2082>
Cell: 514-213-0303<tel:514-213-0303>
http://www.unigertec.com<http://www.unigertec.com/

[2018-12-05 04:03] peanutbutterandcrackers commented on #2427
Oh, I see.
For the time being, you could probably transcode the video using [HandBrake](https://handbrake.fr/) and then import it into OpenShot. We will try to get this sorted in the future releases.
Please do keep on loving and supporting OpenShot. Thank you.

[2018-12-05 04:04] FrankLoB commented on #2427
Do i transcode it to .mov format?

Frank Lo Bianco
Administrateur Réseau - Technicien Informatique
FLoBianco@uniger<mailto:flobianco@unigertec.com>pro.com<http://pro.com>
3980 Boulevard Leman, Laval (Québec) H7E 1A1<x-apple-data-detectors://7/2>
Tel: 450-902-3142 ext : 420<tel:450-902-3142;420>
Fax: 450-682-2082<tel:450-682-2082>
Cell: 514-213-0303<tel:514-213-0303>
http://www.unigertec.com<http:/

[2018-12-05 04:05] peanutbutterandcrackers commented on #2427
Yes, sir. That is what I think might work for you. Or, perhaps try a few different ones. `.mkv` is one that I like (it's Open).

[2018-12-05 04:06] FrankLoB commented on #2427
Thankyou so much for your help

Frank Lo Bianco
Administrateur Réseau - Technicien Informatique
FLoBianco@uniger<mailto:flobianco@unigertec.com>pro.com<http://pro.com>
3980 Boulevard Leman, Laval (Québec) H7E 1A1<x-apple-data-detectors://7/2>
Tel: 450-902-3142 ext : 420<tel:450-902-3142;420>
Fax: 450-682-2082<tel:450-682-2082>
Cell: 514-213-0303<tel:514-213-0303>
http://www.unigertec.com<http://ww

[2018-12-05 04:07] peanutbutterandcrackers commented on #2427
You are most welcome.

[2018-12-05 04:08] speedytechdev commented on #2414
@juanbosh Do you think it is the Nvidia driver or Ubuntu?

[2018-12-05 08:50] manotails commented on #309
Has this feature been resolved yet? I have version 2.4.3 installed and don't seem to be able to move any tracks up or down. PLEASE please can someone give me some good news?

[2018-12-05 09:39] JVang24 commented on #2422
Hey guys, hopefully someone can give me an answer. I'm sorry if I didn't provide the correct information. I suck at computers.

[2018-12-05 09:54] #2427 closed

[2018-12-05 09:57] DylanC commented on #2422
@JVang24 - Since it performs poor in other video editors I would have a concern about your PC spec or maybe your graphics drivers are just not setup right. Can you update your graphics drivers on it at all?

[2018-12-05 14:01] Cinnamon2013 commented on #2429
I opened it with Openshot, not with file explorer, and I don't know how to find the .openshot_qt folder

[2018-12-05 20:23] juanbosh commented on #2414
I read something but i dont know how to fix it, i think is the configuration of the video, i explain me, i think is because i m using the hdmi  port out, and the configuration of my tv, or the linux isnt reconitze by the program. because i supose that, version 2.4.3 download with the same configuration of video works fine. at the end. i ll have to work with this vesion and pray to no change the co

[2018-12-06 08:08] speedytechdev commented on #2429
@peanutbutterandcrackers Can you help with this, please.

[2018-12-06 11:15] techman84 opened #2430 "Project somehow corrupted: cannot move clips within the timeline"
**Describe the bug**
After working for a while on a specific project, somehow, it stopped to work properly. Issues are the following:
- cannot move clips in timeline (drag and drop doesn't work);
- markers doesn't work;
- prev/next marker function doesn't work.

**System Details (please complete the following information):**
 - Windows 10
 - OpenShot 2.4.3

**To Reproduce**
Difficult to say what c

[2018-12-06 13:31] cgrendering opened #2431 "quando importo file da editare sul programma lo stesso si chiude come posso risolvere?"
**Please fill out this template**

**Describe the bug**
A clear and concise description of what the bug is.

**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]
 - OpenShot Version [e.g. 2.4.3]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Exp

[2018-12-06 13:37] cgrendering commented on #2431
sistema operativo: OS X EL CAPITAN versione 10.11.6
open shot versione 2.4.3

problema riscontrato: quando importo i file video da editare il programma crasha

[2018-12-06 13:39] cgrendering commented on #2431
sistema operativo: OS X EL CAPITAN versione 10.11.6
open shot versione 2.4.3

problema riscontrato: quando importo file video da editare il programma crasha

[2018-12-06 13:39] #2431 closed

[2018-12-06 18:20] JohnnyG2 opened #2432 "Cannot Export Video"
A clear and concise description of what the bug is:

Choose "Export Video" and Get Error Message "could not open or write file"

**System Details (please complete the following information):**
 - Operating System Windows 10
 - OpenShot Version 2.4.3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'FILE.'
2. Click on 'EXPORT VIDEO'
3. Scroll down to 'EXPORT VIDEO BUTTON ON POPUP'
4. See

[2018-12-07 03:12] Kmeyel opened #2433 "openshot-2.4.3在预览视频时卡顿"
openshot-2.4.3在预览视频时卡顿

重新导入了工程文件预览视频 慢放，很慢的播放。类似减速播放

[2018-12-07 04:47] speedytechdev commented on #2430
Hi, @techman84 this is a very strange bug. Could you put the files used in your movie also in the dropbox, please.

[2018-12-07 05:34] speedytechdev opened #2434 "Music Resource"
**Is your feature request related to a problem? Please describe.**
I struggle to find copyright music for my videos.

**Describe the solution you'd like**
A built-in option to get music.  Some type of drop-down or overlay which has music in it and you just choose which music you want.

**Describe alternatives you've considered**
Could Not think of anything else

[2018-12-07 09:35] techman84 commented on #2430
@speedytechdev I uploaded the source files involved:
https://www.dropbox.com/s/rnyg56124fh2ytx/Source%20videos.zip?dl=0

The project I shared you before ("Test project.osp"), it's a copy of my original project, in which i deleted some segments in the timeline to simplify the tests.
I also share the original project, when I realized about the issue:
https://www.dropbox.com/s/lqld0it3j44kyk1/Led%20C

[2018-12-07 12:02] Jenteco opened #2435 "Last few frames frozen when importing videos"
When i try import a video the last few frames are frozen while i didn't put on fades or anything, i dont know how it keeps happening. I am using 2.4.3 of openshot. Any tips?

[2018-12-07 20:15] Mystic-Mirage commented on #1051
I have the same issue after crash with one of my projects.

[2018-12-07 20:46] PetteriAimonen commented on #1680
I'm getting the same behaviour on Linux (Ubuntu 18.04, OpenShot 2.4.1). Video is HD 720p 30FPS profile. Tried MP4 h264 and WebM (libvpx), both seem to give very high bitrates even though I've set it to 2 Mbps.

[2018-12-07 21:15] PetteriAimonen commented on #1680
Hmm, I'm trying to debug this a bit. At least for my system, the bitrate (384000 in this test) is getting passed to libopenshot and also to libav:

<pre>
#4  0x00007f243adec2d5 in openshot::FFmpegWriter::WriteFrame (this=0x6c1a110, frame=std::shared_ptr<openshot::Frame> (use count 6, weak count 0) = {...})
    at /build/libopenshot-2OFXY3/libopenshot-0.1.9+dfsg1/src/FFmpegWriter.cpp:369
369	/build

[2018-12-08 05:22] hesco opened #2436 "Project Files need Folders"
**Please fill out this template**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I find it frustrating to sort through a growing number of clips in my 'Project Files', when I'd like distinct clip bins or perhaps hierarchical file directories to help organize them.

**Describe the solu

[2018-12-08 12:32] PetteriAimonen commented on #1680
Hmm, looks like the problem is caused by this line that sets `qmax` to 30:
https://github.com/OpenShot/libopenshot/blob/develop/src/FFmpegWriter.cpp#L947

This maximum quantizer seems to be too low to achieve small bitrates on high resolution videos. Also it seems questionable whether one could specify any default value that could work for all codecs, I think it will be better to let ffmpeg and co

[2018-12-08 15:15] muhlisgursoy opened #2437 "Can I Use This Program To Produce Commercial Videos?"
Hello,

Short question; can I use this program to produce commercial videos? I'm working on photo and video stocks.

Thanks.

[2018-12-08 19:11] XimoSancho opened #2438 "Problem with attenuation of audio when exporting"
I'm running openshot under Windows10 (64 bits), v.2.4.3. Windows 10 is installed in Spanish, so that the software shows in Spanish
Everything works fine with the attenuation of the audio volume when previsualizing from inside the software. But when exporting the video (no matter the format), attenuation does not work.
Any help with that?

[2018-12-09 10:49] pimzwager commented on #629
I am having this exact same issue, tried increasing the cache, but it keeps freezing on almost 30 minutes

[2018-12-09 15:41] Rnicoletti1967 commented on #1316
Please, if I capture videos by VLC then I can edit videos with OpenShot ? and can I burn DVD using Openshot ? thanks.

[2018-12-09 17:58] Haroldgomez777 opened #2439 "{{GetTrackName(layer).layer.number}} instead of track Number"
**Deleting tracks added a new track with {{GetTrackName(layer).layer.number}}**

**Deleted some tracks added a new track new track which shows {{GetTrackName(layer).layer.number}},**
Deleted some tracks added a new track new track which shows {{GetTrackName(layer).layer.number}},
This new track is not deletable

**System Details (please complete the following information):**
 - Linux / fedora 29:

[2018-12-10 00:49] speedytechdev commented on #2437
@muhlisgursoy Of course, If you could can you give us credit since this is all free and open source. If your work is public please let us know and we would be happy to post it on the forums and maybe our social media. Hopefully, this helped. If you need anything else let me know.

[2018-12-10 01:09] speedytechdev commented on #2430
@techman84 Sorry to get back to you so late. Have you tried the daily build?

[2018-12-10 02:17] ThePreviousOne opened #2440 "Openshot_qt does not match the FreeDesktop directory specs"
it seems that Openshot places its files in$HOME/.openshot_qt
directory which doesn't match FreeDesktop directories specs :

The default for $XDG_CONFIG_HOME is $HOME/.config, the default for
$XDG_DATA_HOME is $HOME/.local/share. So all applications should look for
those environment variables and use those default values if the variables
are not set.

This causes a lot of clutter when applications

[2018-12-10 03:19] wstinnett opened #2441 "How to stop popping noise in exported video"
I am creating a slide show with fades and then the music.  There are popping noises in the exported video.  I haven't seen any answers on how to fix this.  So my question is: has their been a solution to this issue.  I just installed the latest 12/3 daily build and still get the issue.
**System Details**
Windows 10
 - OpenShot Version 2.43

Thanks.

[2018-12-10 06:08] peanutbutterandcrackers commented on #2437
Yes, while a credit/shoutout would be nice, it isn't required, in any way whatsoever. If you wanted, the license even allows you to create entirely new version of OpenShot called muhlishot or something, too. The only thing you have to make sure is that your code is released under the GPL. As for the program itself, you can use it to whatever you want to do. Here are the four freedoms that you have

[2018-12-10 06:08] #2437 closed

[2018-12-10 06:39] mthroesch opened #2442 "7.1 Audio not exporting"
I record my game play With OBS with 7.1 Audio VLC shows all channels. (MKV format)
When I put the file into OpenShot 2.4.3 and export it or clip it and export it to MP4 format which is what I want. The file comes out with 2.0 Audio.  Is there any settings I need to change?

Settings in OpenShot :
Profile: HD 1080p 30FPS,
Audio Sample Rate: 44100,
Audio Channels: Surround (7.1Channel)

PC Specs if

[2018-12-10 06:42] peanutbutterandcrackers commented on #448
@ferdnyc - This just might interest you. Maybe?

[2018-12-10 06:47] ferdnyc commented on #448
I'm sort of confused as to whether this is about _interface_ docking (of the `QDockWidget` float-able panels that hold most of the interface panes), or working with clips on the Timeline (where there are red and blue lines that highlight Clips).

The former we have no control over, it's all QT.

The latter is part of a larger conversation about the Timeline. But since this has been closed, I figur

[2018-12-10 06:51] peanutbutterandcrackers commented on #2434
I wonder if that'll be feasible, with all the intellectual property rights issues. I personally do not favour going this route.

Here are a few resources:
http://freemusicarchive.org/ (make sure the license allows you to use in video - http://freemusicarchive.org/License_Guide)
https://archive.org/ (This one should be safe-enough)

Perhaps we could have them listed somewhere, instead of having thi

[2018-12-10 07:03] peanutbutterandcrackers commented on #448
I thought it was related to the branch we've got that I really wanted to see fixed and merged, where we had the issue of the drop zone being too small.

But I don't really know.

[2018-12-10 07:08] peanutbutterandcrackers commented on #2442
I suggest you try playing the video with VLC. The audio stream most likely is there but your media player probably isn't able to decode it. If you wanted, you could try exporting as a webm or something. Or, you could also try transcoding using HandBrake.

[2018-12-10 07:21] peanutbutterandcrackers commented on #2441
This is a known issue. And for some reason, it isn't going anywhere, yet. But I'd suggest you tinker around with various export profiles and the 'advanced' tab in the export window.

If all else fails, you could perhaps even try setting up a virtual machine on your computer, running a GNU/Linux distro (https://www.linuxmint.com/download.php); and using the latest daily build to render the .osp fil

[2018-12-10 07:44] speedytechdev commented on #2434
@peanutbutterandcrackers That is not a bad idea but were?

[2018-12-10 10:17] TheLEGObrick commented on #1680
Oooh that's... pretty neat I guess, hopefully it'll be able to be fixed at some point... If it hasn't already been, I haven't gotten around to check the thing in quite some while.

[2018-12-10 11:17] Symbai commented on #448
@ferdnyc It was about the video parts in timeline.

[2018-12-10 12:38] Ashrael commented on #954
Really? Is there no way to do this? I mean, it uses Blender to do the rendering, right? I tried pointing Blenders 'font folder setting' to my special fonts, but no joy. Obviously it is possible inside Blender, but it would be great if Openshot could do it using ttf's.

[2018-12-10 14:44] wstinnett commented on #2441
Thank you for the tips. I will try them out.

Regards,
Walter

On Mon, Dec 10, 2018, at 2:21 AM, peanutbutterandcrackers wrote:

Links:

  1. https://github.com/OpenShot/openshot-qt/issues/2441#issuecomment-445711541
  2. https://github.com/notifications/unsubscribe-auth/AroKDyeAMhYuqXYGyEi0PHdQwR9jrQZLks5u3gt8gaJpZM4ZKkDu

[2018-12-10 16:42] bartschoneveld commented on #2388
Tnkx for looping in to it. I’m now using Open Shot in Virtual Box, so iT works for now. I wait for the next update....
Thans Alain for the time you’ve put in to it.

Kind Renards,
Bart

[2018-12-10 16:42] #2388 closed

[2018-12-10 18:06] s2software commented on #2430
@speedytechdev I've just tested with today's daily build, but didn't solved the issue.

[2018-12-11 02:50] peanutbutterandcrackers commented on #954
Perhaps this is more of a Blender and/or API issue rather than OpenShot. But please do keep on looking for future releases. The devs, and us volunteers, we all would love us some good ol' manual font configurations

[2018-12-11 02:53] peanutbutterandcrackers commented on #2434
Perhaps in the wiki? 'A Guide for Film-makers' or just plain old 'Where do I get me some sound effects?' or something. The wiki does need quite a bit of work...

[2018-12-11 02:55] peanutbutterandcrackers commented on #2439
@ferdnyc - **Sees 'Fedora'** *calls you*

[2018-12-11 02:58] peanutbutterandcrackers commented on #1680
@PetteriAimonen - Hey there! Perhaps you could open up an issue over at libopenshot repo regarding this? With the deductions that you have made so far? And by linking all the possibly related issues? That way, the contributors who wanted to fix it would have an easier time. Perhaps you yourself might be able to gain some more insight into the issue from the discussions that might happen and then m

[2018-12-11 03:06] peanutbutterandcrackers commented on #1316
@Abacab7711 - I don't think you actually need his permission to go ahead and fix it, good sir. It happens all the time here, and in other repos, where one user would open up an issue (say, 'Need frame-capture feature') and another one would come around and make a PR that says "fixis issue no #zyx that said "need frame-capture feature". That is the great thing about Free/Libre Software. :)

@Rnicol

[2018-12-11 03:09] peanutbutterandcrackers commented on #2436
True. Kdenlive has something similar. So, I'd totally get behind this.

For the time being, I have been using 'tags' on a very few of the project files to get by. First, I go to 'Details view' instead of the default thumbnails view, and then I edit the 'tags' head and then when I search for certain tags, I get the required files. Hope that'll be a temporary work-around for now.

[2018-12-11 03:15] peanutbutterandcrackers commented on #1882
If one clicks on the 'choose profile' button, one would see this:
![screenshot at 2018-12-11 08-59-17](https://user-images.githubusercontent.com/26764547/49776186-1acb1680-fd23-11e8-94b6-067af4e85923.png)
which has the size listed. Perhaps that is the size required to cover the entire screen.

Hope that helps.

[2018-12-11 03:16] speedytechdev commented on #2430
Ok, It says I am still missing files. Are you sure you sent everything? One other thing do you have the crash logs?

[2018-12-11 03:19] peanutbutterandcrackers commented on #1902
A fix has gone in for this issue. Could you please check out the [daily builds](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914) and see if you are happy enough with it? Perhaps you might have some further suggestions (which you can give here in the comments).

[2018-12-11 03:30] peanutbutterandcrackers commented on #753
Hmmm... I see. Well, let's hope we would have enough volunteers/contributors to have this feature implemented soon.

[2018-12-11 03:32] peanutbutterandcrackers commented on #689
I'm not sure if it does exist. However, this really would be a great addition for sure!

Hopefully we'll get enough volunteers/contributors to have this feature implemented soon enough.

[2018-12-11 03:35] peanutbutterandcrackers commented on #1877
Another good addition would be another 'link' icon thingy that would link two properties. If I have scale x and y set to 5 and 10 respectively, and I 'link' them together and change the value of scale x, scale y would change respectively, too. Just writing it down here so that a feature request can be made in the future when the issues are less cluttered.

[2018-12-11 03:38] ferdnyc commented on #2439
There's no way this is just a Fedora bug, simply because it was reported on Fedora. Try reproducing in Ubuntu or Mint or whatever, I'm sure you'll see the same bug. (I'm actually the worst person to look at this, because I _am_ also running Fedora. What this needs is confirmation on a different distro/OS.)

If I'm interpreting the report correctly, it's saying that deleting _all_ of the Timeline t

[2018-12-11 03:42] peanutbutterandcrackers commented on #1949
Closing this issue as the fix has been merged in 2.4.3. Please do re-open if the issue seems to persist (highly unlikely).

[2018-12-11 03:42] #1949 closed

[2018-12-11 03:45] peanutbutterandcrackers commented on #2394
Possibly related to #753?

@musicfreund - Please follow the advice given by the awesome N3WWN above.

Closing this issue for now. Please follow the discussion over at #753 if you are interested. And please do continue to love and support OpenShot! :+1:

[2018-12-11 03:45] #2394 closed

[2018-12-11 03:46] peanutbutterandcrackers commented on #2394
Assigning label 'worked-around' so that N3WWN's suggestion can be looked up easily.

[2018-12-11 04:02] peanutbutterandcrackers commented on #754
Does this issue still persist in the latest [daily builds](https://gist.github.com/peanutbutterandcrackers/3618493b99ba08003e4e4b1602459914)?

[2018-12-11 04:03] peanutbutterandcrackers commented on #1867
Possibly related to #2069

[2018-12-11 07:45] PetteriAimonen commented on #1680
@peanutbutterandcrackers Well, I can pull request the removal of those two lines. But perhaps there is some purpose to them. The commit message suggests it might have something to do with Windows support, but I've only tested on Linux so far.

@jonoomph The qmax and qmin settings were added by your commit back in 2015 ( https://github.com/OpenShot/libopenshot/commit/fbc719b11fa0d68f3f89c9db51e8c5b

[2018-12-11 12:50] ferdnyc commented on #448
OK, that's what I sort of figured, thanks.

[2018-12-11 13:51] jekay001 opened #2443 "GUI is zoomed in and too big"
As some already mentioned, I have the same issue the GUI is too big and zoomed in.
Operating System: Windows 10, x64
Screenshot: https://imgur.com/a/gMxVUoC

[2018-12-11 14:22] s2software commented on #2430
@speedytechdev I checked the .osp (the json structure inside) and there was something messy: relative and absolute paths together. I replaced all with relative paths. Here the zip with source videos + project with relative paths ready to open without any "missing" message:
https://www.dropbox.com/s/6bwk6cxtr0n50a1/OpenShot%20issue%20project.zip?dl=0

[2018-12-11 19:15] kattiko commented on #2371
I'm having issues with this as well. I think it may be a memory leak issue. While rendering a h.246 .avi, openshot continuously uses more and more memory, eventually using all of it and then proceeding to eat up all the swap. I'm currently at 75% of a 50 min video with all 8 gigs of memory and a whole 6 gigs of swap in use... When it has eaten up everything it either just freezes or crashes the wh

[2018-12-11 23:34] shadowvzs opened #2444 "[1.4.3] Ubuntu 16.04 wrong track length"
Wrong tracking
At tracking bar it is clearly the video is over, but still continually got audio/video event nothing in trackbar.
This happen when i cutted out 10 second and this piece visually deleted from video trackbar but acctually still there.
I tryed save the project and restart but still there that invisble x second when was cutted out

**System Details:**
 - Operating System / Distro:  Chal

[2018-12-11 23:51] Lamieur commented on #2371
I confirm h.264 encoder eats up memory super fast, at least my 1080p 60 FPS video.

Only 16 GB RAM, even with 8 GB of added swap it needs like 2 minutes to eat it all up. I Alt-SyRq-B'd several times today, but got lucky one time when OOM Killer kicked in fast enough to make me realize it's OpenShot's memory usage and not my hardware (I already downclocked it to see if that would help! :))

I thin

[2018-12-12 01:34] speedytechdev commented on #2371
@ferdnyc ^^^

[2018-12-12 01:52] DaveJarvis opened #2445 "Crash on background"
**Describe the bug**
OpenShot crashes when the tty is closed.

**System Details (please complete the following information):**
 - Operating System / Distro: Ubuntu Linux 16.04.5 LTS
 - OpenShot Version 2.4.3-dev1

**To Reproduce**
1. Open a terminal window
1. Type: `sudo apt remove openshot`
1. Type: `sudo add-apt-repository ppa:openshot.developers/ppa`
1. Type: `sudo apt-get install openshot-qt`

[2018-12-12 02:10] speedytechdev commented on #2443
Hi @jekay001 what version of Openshgot are you on and have you tried the latest [daily build](https://www.openshot.org/download/).

[2018-12-12 02:44] speedytechdev commented on #2430
@s2software I just tested it and that was really weird. It might sound like a dumb question but did you try and make a new project?
![image](https://user-images.githubusercontent.com/40452959/49843634-bd1ef300-fe24-11e8-84fe-a8500e4689b1.png)

[2018-12-12 02:49] speedytechdev commented on #2444
Hi, @shadowvzs I would recommend using 2.4.3 since this fixed a lot of bugs. If you are still having issues after that let me know.

[2018-12-12 04:33] ferdnyc commented on #2371
@peanutbutterandcrackers ...You rang?

[2018-12-12 04:52] shadowvzs commented on #2444
sry but the new version for me alot worse than old one....
i tryed long ago and allways got problems with version 2+, i downloaded now too and it example tryed undo my cut and freezed the whole window for longer time until i closed, the video preview with sound not really ok (weird but seems the HD video too powerfull for my machine? in old version i got different resolution in preview and it was

[2018-12-12 08:50] peanutbutterandcrackers commented on #2444
@shadowvzs - Hey there! Version 1.x has been discontinued. 2.x series is written from scratch from the ground up using a different multimedia framework. The naming is therefore unfortunate, as it might give the idea that 2.x series is somehow supposed to be a lot more better. In fact, I personally think of OpenShot 2.x still being in the 0.x versions of the 2.x series. There are tons of bugs. And

[2018-12-12 08:50] #2444 closed

[2018-12-12 08:51] peanutbutterandcrackers commented on #1897
@vicmortelmans - Thank you for sharing your insights with the community.

@wyrsek - Sorry for the inconvenience sir. OpenShot's preview does seem to be too high-quality to play well. This is a well documented issue. Perhaps we'll have to work on getting proxies, etc. Since those enhancement requests have already been made, I will close this issue so as to control the amount of open issues. I hope

[2018-12-12 08:51] #1897 closed

[2018-12-12 08:54] peanutbutterandcrackers commented on #1528
Hey there, a fix had gone in the libopenshot repo for this. Could you please check out the latest version and see if this still persists? I am pretty sure this has been resolved.

Closing this for now. If it hasn't been resolved, please feel free to re-open this issue. Thanks!

[2018-12-12 08:54] #1528 closed

[2018-12-12 08:55] speedytechdev commented on #2441
@wstinnett I am going to close this issue. Since this is a common bug and it has been reported. If you have any questions please leave a comment.

[2018-12-12 08:55] #2441 closed

[2018-12-12 09:12] peanutbutterandcrackers commented on #1956
While this certainly is interesting, I couldn't quickly reproduce this by slicing a clip and then extending the left-most clip. But then again, my investigation has not been thorough. But a few things that stand out: Why is the thumbnail broken in your screenshot? Could you reproduce this with smaller clips, too?

 And just out of curiosity - why is channel mapping keyframed? What does it do?

[2018-12-12 09:13] peanutbutterandcrackers commented on #1958
This might help: https://www.openshot.org/ppa/

[2018-12-12 09:34] s2software commented on #2430
If I start a new project from scratch it works. But the original "bugged" .osp has many segments and didn't wanted to remake that editing work again. Is there any procedure to import segments in another empty project?

[2018-12-12 09:36] techman84 commented on #2430
@speedytechdev If I start a new project from scratch it works. But the original "bugged" .osp has many segments and didn't wanted to remake that editing work again. Is there any procedure to import segments in another empty project?

[2018-12-12 09:41] peanutbutterandcrackers commented on #1895
Any update on this? I know I was using 'keep both sides' recently and it seemed to work just fine.

Or, this just might be related to #1900

Whatever the case, I am going to take the liberty of closing this issue, for now, so as to control the number of open issues (and because this is probably fixed). If you want to re-open please do.

[2018-12-12 09:41] #1895 closed

[2018-12-12 09:43] peanutbutterandcrackers commented on #1948
Sorry for the massively late reply. A fix has gone in for this issue. It should be included with the release of 2.4.4. Please do look forward to it.

Closing this for now.

[2018-12-12 09:43] #1948 closed

[2018-12-12 09:45] peanutbutterandcrackers commented on #1947
Could you please try switching to the PPA and see if that works for you: https://www.openshot.org/ppa/ ?

Also closing this for now as it is very likely that you have figured something out and/or lost interest. However, if you are still around and the issue has not been resolved (or isn't resolved even after switching to the PPA) please do feel free to re-open this. Thanks!

[2018-12-12 09:45] #1947 closed

[2018-12-12 09:50] peanutbutterandcrackers commented on #1946
The buffering is just preview-generation, which is way too High Quality for it to play smoothly, as of yet. Plans are being made for a faster preview-generation. Or perhaps we could  even switch to what you've hinted at - render, and then play, or something along those lines. I guess you'll just have to wait for future releases to have the feature implemented. In the meantime please do keep on lov

[2018-12-12 09:53] peanutbutterandcrackers commented on #1941
Hey there,

Is the video cutting at 8 mins or is it speeding up and finishing at 8 mins?

Please make sure your footage and the video profile that you are editing in has the same FPS. And please try out a few different export profiles - webm, ogv, mp4, flv, etc. Perhaps one of them will work well?

Hope that helps.

Closing this for now. Please do re-open if you want to.

[2018-12-12 09:53] #1941 closed

[2018-12-12 09:56] peanutbutterandcrackers commented on #1435
@bouda19 - Does this issue still persist with the current daily builds?

[2018-12-12 09:56] Daleil opened #2446 "Openshot 2.4.3 crashes when I try to add a video or audio file on my MacBook pro"
**Please fill out this template**

**Describe the bug**
A clear and concise description of what the bug is.
The Openshot Screen disappears completely when I try to add a video or audio file on my MacBook pro.
**System Details (please complete the following information):**
 - Operating System / Distro: [e.g. Windows 10, Linux Mint 17.1]MacOS High Sierra Vers.10.13.6
 - OpenShot Version [e.g. 2.4.3]

[2018-12-12 09:59] peanutbutterandcrackers commented on #1937
Please clarify this idea further. It seems you want to mark a certain point in the video without actually stopping the video preview. You could certainly use the 'marker' feature for that.
![screenshot at 2018-12-12 15-44-07](https://user-images.githubusercontent.com/26764547/49861785-cb6d0f00-fe24-11e8-8b14-d170e05cc222.png)

If that is exactly what you were looking for, please close this issue s

[2018-12-12 10:02] peanutbutterandcrackers commented on #1932
Does this issue still persist with the latest version/daily builds?

[2018-12-12 10:04] peanutbutterandcrackers commented on #362
Closing this one as per @ferdnyc's suggestion. Please follow the discussion over at #1438

[2018-12-12 10:04] #362 closed

[2018-12-12 10:08] peanutbutterandcrackers commented on #1915
I wonder if we should, if we do implement this, ever, do it as a plug-in just like Pitivi and not have it as a core feature. The reason being even though freesound has a lot of sounds that are licensed under CreativeCommons BY-NC, etc. The average OpenShot user, because of the drag-and-drop availability, might not even bother to check the license and that might have some legal repercussions. I won

[2018-12-12 10:14] peanutbutterandcrackers commented on #1922
Does this issue still persist in the latest version/daily builds of OpenShot?

Work is underway to fix the issues in Windows platform (which if what I presume you are using) and there will be fixes in the newer releases. Perhaps you might want to wait for the new releases?

Closing this for now, as this might no longer interest you. But please re-open if you want to do so. Although, this issue is

[2018-12-12 10:14] #1922 closed

[2018-12-12 10:19] peanutbutterandcrackers commented on #1892
Linking #327 and https://github.com/OpenShot/libopenshot/issues/176#issuecomment-442466083 here so that it might be of some help to someone. Even though I myself haven't yet been able to properly use the 'Time' property.

[2018-12-12 10:22] peanutbutterandcrackers commented on #1159
Closing as abandoned.

[2018-12-12 10:22] #1159 closed

[2018-12-12 10:35] peanutbutterandcrackers commented on #1909
I wonder if this  is happening due to FPS mis-match.

Could you please make sure all the footage you are using to edit the  video is in the same FPS as the current video profile that you are editing in? If not, could you please change the profile to match the FPS of your footages? Perhaps that'll help?

Closing this for now (with prejudice) as it is very likely that you will not come around to the

[2018-12-12 10:35] #1909 closed

[2018-12-12 10:43] speedytechdev commented on #2430
@ferdnyc or @peanutbutterandcrackers Would any of you know?

[2018-12-12 10:45] speedytechdev commented on #2446
Hi @Daleil you need to fill out the template please or we can't help you. Please let us know if you get stuck.

[2018-12-12 10:46] speedytechdev commented on #571
**Closing Warning Reason:** Inactive

[2018-12-12 10:49] speedytechdev commented on #824
@DylanC Is this a bug or can we close it?

[2018-12-12 10:51] peanutbutterandcrackers commented on #1916
I must admit, I don't quite fully grasp the idea here.

OpenShot does have a (really slow, I admit) slice all function. I just have to click on the playhead and click slice all, and it does the work (slowly).

I think what you are trying to say is:
1. You need a shortcut key to slice all clips. Which seems, to me, to be possible (Edit > Preferences > Keyboard).
![screenshot at 2018-12-12 16-32-02]

[2018-12-12 10:51] #1916 closed

[2018-12-12 10:53] peanutbutterandcrackers commented on #1765
Closing this for now. If there are further developments regarding this issue, please feel free to re-open this. Perhaps we can have something akin to zoom-level-presets #1571 (or maybe just a config file to edit that defines the zoom levels) in the future...

[2018-12-12 10:53] #1765 closed

[2018-12-12 11:03] peanutbutterandcrackers commented on #1680
@PetteriAimonen - It might be a few weeks before we get any answers. Please do stand by, though. We do need new volunteers. Working for OpenShot is often exhausting as we are just normal users who want to help out but the issues are overwhelming. We wouldn't want to lose any potential contributor. :)

[2018-12-12 11:03] peanutbutterandcrackers commented on #1994
Since #1680 has a lot more detail and discussion, I will proceed to close this issue so as to keep the number of open issues in check.

[2018-12-12 11:03] #1994 closed

[2018-12-12 11:11] speedytechdev commented on #1186
@snr8065 or @fabrixx Is this issue still happening?

[2018-12-12 11:12] peanutbutterandcrackers commented on #1996
I assume having a blender animated title that would generate count-downs with transparent background would essentially do the trick.

[2018-12-12 11:19] peanutbutterandcrackers commented on #1902
Closing this for now. Please do feel free to re-open if so required (after checking the latest changes). Thank you!

[2018-12-12 11:19] #1902 closed

[2018-12-12 11:21] peanutbutterandcrackers commented on #1984
Does this issue still persist with the latest release? This is certainly a new issue unlike anything I've seen before. If this still persists, please do attach the logs so that the devs might be able to investigate this. Thank you!

[2018-12-12 11:21] speedytechdev commented on #1768
@ferdnyc Is this a confirmed bug?

[2018-12-12 11:28] #2003 closed, assigned to nobody

[2018-12-12 11:34] peanutbutterandcrackers commented on #1789
Could you please try out the latest daily build and see if this has been resolved? A 'Browse' button has indeed been added to browse to the blender and inkscape executables and that should, hopefully, fix this issue...

[2018-12-12 11:36] peanutbutterandcrackers commented on #838
Closing this issue as #1081 seems to have more in-depth discussions regarding the issue.

[2018-12-12 11:36] #838 closed

[2018-12-12 11:43] speedytechdev commented on #1931
Hi, @tpbis Are you still having this issue and have you tried the [daily build](https://www.openshot.org/download/).

[2018-12-12 11:45] speedytechdev commented on #1945
**Closing Warning Reason:** inactive

[2018-12-12 11:46] peanutbutterandcrackers commented on #1953
It is very likely that it is just a matter of your audio player not being able to decode the audio stream. Please try VLC Media Player instead. I am sure you will find out that the audio is indeed there. If you can't seem to find a better export setting (webm, or oga export could also fix this issue), you could transcode the final video using [HandBrake](https://handbrake.fr/). Hope that helps.

C

[2018-12-12 11:46] speedytechdev commented on #1953
Hi, @NintendoZaedus  Are you still having this issue and if so have you tried the [daily build](https://www.openshot.org/download/).

[2018-12-12 11:46] #1953 closed

[2018-12-12 11:49] peanutbutterandcrackers commented on #2005
I wonder if libopenshot-audio repository is the better place to report this issue. But hey! Good to see a contributor around! I hope you stick to OpenShot and help make it even better!

[2018-12-12 11:51] speedytechdev commented on #1975
Hi, @SunnyTurtle  I would recommend you use 2.4.3 since this fixed a lot of bugs and if you are still having issues after that let me know.

[2018-12-12 11:54] peanutbutterandcrackers commented on #1120
@DerGenaue - It's just that the devs would rather have us volunteers close the issues that are too vague like "editing is very bad" or something and would rather have a specific issue, with enough information - logs and system specs and reproduction-method and everything. However, because you are an esteemed contributor, I shall proceed to remove the 'duplicate' label and keep this one. :)

[2018-12-12 11:55] speedytechdev commented on #1981
dup of [2237](https://github.com/OpenShot/openshot-qt/issues/2237) This will be closed since the report has information.

[2018-12-12 11:57] speedytechdev commented on #1989
**Closing Warning Reason:** inactive

[2018-12-12 12:11] PetteriAimonen commented on #1680
@peanutbutterandcrackers Yeah, sure; I've been using openshot for years and this is the first time some problem was big enough that I felt like fixing it :)

Otherwise I'm quite overwhelmed with my own projects also so not sure if I can put much time towards openshot.

[2018-12-12 13:59] mbirth commented on #1957
@peanutbutterandcrackers At that time, I had [multiload-ng](https://github.com/udda/multiload-ng) running. And it showed almost no CPU activity for the 10 minutes before unlocking.

[2018-12-12 15:36] DravenNightingale commented on #1945
Go right Ahead

On Wed, Dec 12, 2018 at 3:45 AM speedytechdev <notifications@github.com>
wrote:

[2018-12-12 15:52] #1945 closed

[2018-12-12 16:44] peanutbutterandcrackers commented on #1680
@PetteriAimonen - I understand. Still, any help we can get is great. There aren't enough programmer-contributors around. Hope you can squirrel some time away every now and then to make some drive-by contributions. :)

[2018-12-12 17:31] sinjun68 opened #2447 "Mac Openshot 2.4.3 video preview aspect ratio"
So I've read a bunch on this topic and created a 1:1 aspect ratio custom profile.
No matter what I choose as a profile, the video preview never updates to reflect the new profile.
The preview always remains the same!
Am I missing something?

**System Details**
 - Operating System / Mac OSX 10.14
 - OpenShot Version [e.g. 2.4.3]

[2018-12-12 19:17] shadowvzs commented on #2444
could i ask why so fast the old version compared with new?
sad to hear about the situation with volunteers, sadly i also cannot help because i am php/js dev (and started in this year so still i am noob even with those) :/

[2018-12-12 20:42] fabrixx commented on #1186
Yes. I edited some video for my last trip and have this bad sound in every video:
https://www.youtube.com/playlist?list=PLxp9ZhyOHJury7jTXFzYvpolgkfIYGXqq

Solution for me is export video and after re add audio track.

[2018-12-12 20:44] huubvanniekerk commented on #1081
Since my bug report #838 has been closed today in favour of this one, I should add that I'm still using version 1.4.3 because the also the latest version 2.4.3 can't handle my SVG title files properly. Also, I'm using Inkscape to create those SVG files. Apart from that, I don't know about QtSVG or SVG Tiny.
All I remember is, that someone confirmed the problem and a while later reported to have so

[2018-12-12 21:36] ferdnyc commented on #2430
Oh! Well, that was easy.

Right at the start of the file, the markers list is... wrong. Here's the `json_pp` reformatted version:
[code]

Markers is not supposed to contain `null` values. Not sure how that happened, actually if you have the logs available from when this file was saved and stopped working that could be helpful. (Multiple markers in the exact same location isn't great, either, thoug

[2018-12-13 03:02] peanutbutterandcrackers commented on #2447
This is a known issue and will be, hopefully, resolved in the future releases. Please follow the discussions over at #835. Closing as a duplicate.

[2018-12-13 03:02] #2447 closed

[2018-12-13 03:44] speedytechdev commented on #1186
We will work as fast as possible to fix the issue, we are just low on volunteer staff. Sorry for any inconvenience this has caused you. If you have any questions please feel free to ask us.

[2018-12-13 06:01] shadowvzs commented on #2444
that would be interesting, you could use js with python or which role are js? nodejs (backend)? :)

[2018-12-13 07:00] kl23 opened #2448 "Effect Object Reference should be clone when splitting"
**Description**
When splitting a video part that is applied with an effect (for me pixelation),
the reference of effect for both of the 2 split items are still the same.

*btw, I originally wanted to use Mask feature, but it seems not to be available in the Windows version.

**System Details**
 - OpenShot Version 2.4.3 / Windows 7

**To Reproduce**
1. Apply effect on a vid part
2. Split it on cont

[2018-12-13 08:10] Patrik356b commented on #1909
It's just one video file in this project. I'll have to look at the fps in the file vs OpenShot settings but they should be the same I believe.

[2018-12-13 10:14] ferdnyc commented on #1081
Realistically, don't expect the current SVG support in OpenShot to change any time very soon. @N3WWN 's SVG modifications are OpenShot/libopenshot#143, and still listed as a work-in-progress PR that hasn't been merged into the library. That effort stalled some months ago while the changes were still in a preliminary state. (They were _big_ and complex, introducing an entirely new SVG rendering lib

[2018-12-13 10:24] DylanC commented on #1081
@ferdnyc - I agree. I used to always do this with Inkscape anyway. I would work on a title and when I felt it was ready just export at a high resolution. Import the file as .png into Openshot and export the video with beautiful titles.  😆

[2018-12-13 10:30] DylanC commented on #1768
@ferdnyc - I'll do my best. 👍

[2018-12-13 10:33] DylanC commented on #2444
@shadowvzs - I used to be a noob like you but I took JS in the knee. 🤣 On a more series note. I would recommend to get familiar with AngularJS before looking at the timeline code. Some of it is more normal JS but it isn't very basic stuff, so maybe give yourself more time and JS projects. Maybe in the future you can help us out! :)

[2018-12-13 10:35] #2326 closed

[2018-12-13 10:37] DylanC commented on #1680
@peanutbutterandcrackers - Indeed. We could definitely do with some more of those random contributions even if we don't see that contributor for another 6 months. 😄 I have my hands full with my own project right now, so unfortunately I just don't have the time required for more Openshot contributions yet.

[2018-12-13 10:57] Ashrael commented on #954
Thanks, I have found out that I can only use one font in animated title... BFont. All the others I see nothing. I am wondering if it is just me or is this true for everyone?

FYI: I am on Ubuntu MATE 18.04, Blender 2.79 and OpenShot 2.4.3.

[2018-12-13 11:13] huubvanniekerk commented on #1081
@ferdnyc My SVG title page is plain and simple: some text, made white and saved/exported to SVG. Not knowing how OpenShot handles stuff, reading your suggestion, I'll give it a try to export to .PNG and see how OpenShot works it out. I've noticed the OS Title Editor but never touched it.

[2018-12-13 14:03] N3WWN commented on #1882
You can also load an image and play with the `Scale`, `Scale X`, and `Scale Y` properties to alter the image sizing within the project.

[2018-12-13 14:16] DravenNightingale commented on #1945
Didn’t work anyway

On Wed, Dec 12, 2018 at 7:52 AM speedytechdev <notifications@github.com>
wrote:

[2018-12-13 15:34] shadowvzs commented on #2444
i dont see anypoint in angularJS (i tryed angular 6, that was cool but i think 1 was too slow), i learning atm reactJS, well to get a better image maybe check my last repos (since i am not copy-paste hero, the most of thing was wrote by me and not forked)

[2018-12-13 15:42] DylanC commented on #2444
@shadowvzs - Oh I see. Well its Angular 1. The code is a bit old now. Angular 1 is still very popular though. I was thinking about writing the timeline in a new framework language but it would be lots of work.

[2018-12-13 15:45] shadowvzs commented on #2444
react not that young and what about plainJS (maybe longer a bit but you dont need to know framework what will be at end slower than vanilla js)? maybe longer but if optimized then the fastest :)

[2018-12-13 22:20] speedytechdev commented on #1945
@DravenNightingale we can leave the issue open until it gets fixed?

[2018-12-14 02:35] ferdnyc commented on #2371
I agree that theory has a lot of merit. As I noted in OpenShot/libopenshot#177,

Also significant is that this is the *reader* process we're talking about, meaning that it'll most likely be again multiplied by the number of Clips playing simultaneously in your project. In fact, if libopenshot isn't properly freeing the Reader resources for each clip that gets read during the encoding process, it m

[2018-12-14 09:22] SunnyTurtle commented on #1975
Hi @speedytechdev , No luck unfortunately still having exact same issue with a fresh install of 2.4.3. I am no longer using open shot but would be happy to test it for you as it seems like a few people have this issue.

[2018-12-14 09:34] JVang24 commented on #2422
Found my specs!

On Wed, Dec 5, 2018, 1:57 AM DylanC <notifications@github.com wrote:

[2018-12-14 09:36] JVang24 commented on #2422
Please let me know what I need to do next. I have a feeling that my laptop
although brand new is not the issue. Its probably because my laptop is just
very basic & is not compatible with the program.

On Fri, Dec 14, 2018, 1:34 AM Jeri Vang <vang.jeri@gmail.com wrote:

[2018-12-14 09:40] peanutbutterandcrackers commented on #1081
While I agree with the `svg` to `png` solution for now, I, personally, kinda' like the idea of working with svgs themselves. The reason being, theoretically, I could export it to whatever resolution and it would still work great. (In hindsight, if the theory is true, the `meet-tux` project should export neatly as a 4k video, as all it uses are svg files (and a couple of black-and-transparent overl

[2018-12-14 10:07] speedytechdev commented on #1975
I am sorry to hear that. If you are still willing to help could you get as much information as possible on the issue so it makes it easy for the devs to fix it.

[2018-12-14 10:15] speedytechdev opened #2449 "Common Issues"
**These are issues that a lot of users have reported. If your issue is one of these below please only make a post about it if we are missing information. (For example: "The issue only happens if you press ctrl left arrow.")**

Performance Issues
[Render problems with h.264](https://github.com/OpenShot/openshot-qt/issues/2371)
[Audio Poping And Cracking](https://github.com/OpenShot/openshot-qt/issu

[2018-12-14 10:21] ferdnyc commented on #1081
But you _can't_, because the SVGs are converted to PNG — and at the dimensions defined in the SVG file (with no consideration for export dimensions). It just isn't implemented that way. If it was, that'd be one thing, but I can unequivocally state from having **read the code** that it is absolutely not. In fact, rendering the SVGs to PNG yourself **DOES** give you control over the output resolutio

[2018-12-14 11:45] peanutbutterandcrackers commented on #1081
Perhaps with the switch to ReSVG in the future, we could hopefully implement it as such so that I can create a project once export multiple times, and also scale up an svg image infinitely, somehow? Seems like a neat feature to have...

[2018-12-14 11:48] peanutbutterandcrackers commented on #2070
I wonder if this has something to do with color-pace conversions and stuff. Something @N3WWN would probably be more qualified to speak about than I myself. Perhaps this is not a *real* issue per se?

[2018-12-14 11:52] peanutbutterandcrackers commented on #2068
While I do not understand the issue well, I suggest you try transcoding the video using [HandBrake](https://handbrake.fr/) into something like `.mkv`, `.mp4`, etc.

Closing this for now. Please do feel free to comment/re-open if you feel like it.

[2018-12-14 11:52] #2068 closed

[2018-12-14 11:53] peanutbutterandcrackers commented on #967
@anderl80 - Could you please try deleting the `.openshot_qt` folder entirely please?

[2018-12-14 12:31] peanutbutterandcrackers commented on #2018
This is a known issue and work is being done to fix this. It might not be until few more releases before this is completely resolved, however. But please do look forward to the future.

Closing for now.

However, seeing that you are an experienced programmer, I would like to request you to perhaps help out, volunteer with OpenShot. We do not have enough programmers helping us out and we are most c

[2018-12-14 12:31] #2018 closed

[2018-12-14 12:36] peanutbutterandcrackers commented on #2030
It was in 1.x series. 2.x series is a complete rewrite from the ground up and does not have as many effects as the 1.x series but work is being done to re-implement the effects in 2.x series. But it might not be until a few more releases before ports of the effects starts again. I myself have been wishing for the mirroring effect since quite some time now. Let's hope we get it soon.

Closing this

[2018-12-14 12:36] #2030 closed

[2018-12-14 12:43] peanutbutterandcrackers commented on #2031
Hmm... this is strange. I was recently importing image sequences too, and things seemed to work pretty well for me.

But the thing is: My `png`s were `%05d.png`s. And secondly, each set of `png`s were housed in a different directory (Image_Sequence_A, Image_Sequence_B) and it didn't over-write anything. Perhaps that information might help out? Not sure if this *really* is a bug.

Also, this might

[2018-12-14 12:44] ferdnyc commented on #1081
I think describing it that way is, at this point, not a realistic assessment of the situation. ReSVG is one _possible_ approach to better SVG support, but it is not in a state where it is definitively "in the future" for OpenShot. Partly due to the difficulty of integrating a library in a highly modular language like Rust (and its — 43?, I think I counted — dependencies) into the codebase, along w

[2018-12-14 12:52] peanutbutterandcrackers commented on #2038
Note to self: https://github.com/ferdnyc/openshot-qt/tree/dockable-timeline might be on to something.

@adyoi - Do you have any ideas as to how this could have looked better, good sir?

[2018-12-14 12:55] peanutbutterandcrackers commented on #260
Just an update: OpenShot is getting better - slowly by slowly. Here's something I worked really hard on to create. Yes, it wasn't a walk in the park. But we are, collectively, doing our bit to make OpenShot better. :)

![meet tux](https://user-images.githubusercontent.com/26764547/48016787-a1a13800-e154-11e8-9f1d-bfe2a64a6ad4.gif)

[2018-12-14 13:04] peanutbutterandcrackers commented on #2048
Hmm, this is interesting. I thought the audio was the only thing that kept desyncing.

@N3WWN - Any ideas on this one, good sir?

[2018-12-14 13:11] peanutbutterandcrackers commented on #1412
To be honest I don't think this will get any resolution any time soon because of all the other issues that need attention. However, I am currently using Image Sequences with with transparency (`png`s) instead of chroma keying. I wonder if this issue should be closed for now as it doesn't give anything concrete but is just a vague observation. I reckon fixing other issues might just fix this one as

[2018-12-14 13:19] peanutbutterandcrackers commented on #2046
Some of the problems you are experiencing might be partly due to the fact that you are using footage that has 3 different FPS and are editing them in a profile that can't encompass all of them (probably 30 fps). My suggestion would be to convert everything to the same fps. I would suggest that you use something like [avidemux](http://fixounet.free.fr/avidemux/) to convert the frame rates to someth

[2018-12-14 13:19] #2046 closed

[2018-12-14 13:21] peanutbutterandcrackers commented on #2017
Since windows 10 is most probably 64 bit, please do use the 64 bit one for now. However, I do think this issue is quite interesting. Therefore, despite closing it for now, I will be keeping it on my list of interesting issues to look at. Please do feel free to re-open and/or make further comments.

[2018-12-14 13:21] #2017 closed

[2018-12-14 13:30] peanutbutterandcrackers commented on #954
I think it is an issue with everyone. I still haven't been able to figure out how to change fonts inside blender itself, to be honest. lol :laughing:

Perhaps someone will someday figure out a solution and share it with the community? That's how Free Software Projects thrive, after all. :)

[2018-12-14 13:34] peanutbutterandcrackers commented on #1945
@DravenNightingale - Since I just noticed you are an aspiring Youtuber, I would recommend the following other Free/Libre Open Source Video Editors to you:
1. https://shotcut.org
2. https://kdenlive.org
Perhaps they might be of some help.

I think we should keep this closed for now as this issue doesn't really provide any insights into the issue itself. I think that with future releases this issue

[2018-12-14 13:38] peanutbutterandcrackers commented on #1975
@mirkojovic - Hey, that just might be the case. Perhaps you could try importing the same video trans-coded in a different format (perhaps .mkv) using [HandBrake](https://handbrake.fr/) and see if that resolves the issue?

@SunnyTurtle - Thank you for your willingness to help. Could you also please try the same thing that I have suggested to @mirkojovic ? Thanks!

[2018-12-14 13:41] peanutbutterandcrackers commented on #2124
@Sefran007 - It might be. It might not be. I am not quite sure as I am not an expert. However, if you do make a Pull Request, other developers/contributors can come in and review your solution and give some constructive criticisms, suggestions, deductions, etc. which will help in making the patch even more polished. It'll help them to test it out as well. The current machine that I am using doesn'

[2018-12-14 13:44] peanutbutterandcrackers commented on #2112
Wow! Neat! Sorry for the late reply but it's so cool that you have actually made a patch. However, a suggestion: Please make an Pull Request instead of submitting a patch like this. The reason being other contributors will be able to take a look at the diff, incrementally test your changes with each further change you make, provide you with constructive criticisms, suggestions, etc so that you cou

[2018-12-14 13:45] peanutbutterandcrackers commented on #2113
Again, my reply from https://github.com/OpenShot/openshot-qt/issues/2112#issuecomment-447329408:

[2018-12-14 13:46] peanutbutterandcrackers commented on #2098
Again, my reply from https://github.com/OpenShot/openshot-qt/issues/2112#issuecomment-447329408:

Thank you for the patches BTW. :)

[2018-12-14 13:47] peanutbutterandcrackers commented on #2097
Again, my reply from https://github.com/OpenShot/openshot-qt/issues/2112#issuecomment-447329408:

[2018-12-14 13:47] peanutbutterandcrackers commented on #2123
Again, my reply from https://github.com/OpenShot/openshot-qt/issues/2112#issuecomment-447329408:

[2018-12-14 13:56] #571 closed

[2018-12-14 13:57] #1981 closed

[2018-12-14 13:58] #1989 closed

[2018-12-14 13:59] #2414 closed

[2018-12-14 15:14] peanutbutterandcrackers commented on #2111
Step 1: If you aren't comfortable with using OpenShot's keyframe-prowess, please go through [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7).
Step 2: Put 2 clips that you plan on splitting on top of each other on separate tracks.
Step 3: Apply Crop effect on the uppermost clip. Split the video vertically in half.
Step 4: In step 3, you'll realize that

[2018-12-14 15:14] #2111 closed

[2018-12-14 15:16] huubvanniekerk commented on #1081
Now that I've used OpenShot 2.4.3 with .PNG, a kind of review. The 1st video I created went fast and good. The 2nd video is a different story. About the same length, same PNG, but takes like forever. After 34.6%, there's 2:59:10 Remaining (and counting...), at 2.84 FPS (down from over 11 FPS). I run this on an 8 core i7 @ 2.6 GHz Fedora28 machine. In comparison, I created the same video with the S

[2018-12-14 16:03] peanutbutterandcrackers commented on #2086
This is neat, too! Please do submit a PR soon! :)

[2018-12-14 16:04] peanutbutterandcrackers commented on #2087
@DylanC - Evidently, we've lost somehow failed to notice these gems of improvements regarding blender from this fine gentleman here, Cap'n!

[2018-12-14 16:05] peanutbutterandcrackers commented on #2094
I am going to put this comment in all of your Open Issues so that you get emails so that you can come back ASAP and submit a PR. :)

[2018-12-14 16:07] peanutbutterandcrackers commented on #2088
Another comment so that you will receive email notification to come back around and submit these patches as Pull Requests so that we have have further discussions and code reviews with the community. You are awesome!

[2018-12-14 16:08] peanutbutterandcrackers commented on #2089
Cool improvements, good sir! Now, if only you would be so kind as to create a Pull Request so that we can have proper code reviews. :)

[2018-12-14 16:08] peanutbutterandcrackers commented on #2090
I must admit, I am a fan of you already, good sir @Sefran007! These improvements would be a lot of help!

[2018-12-14 16:11] peanutbutterandcrackers commented on #2091
I hope these changes will work with different profiles well (with varying aspect ratios and everything). This is awesome! Please do submit a PR soon so that we can test all of these out. And while making a PR, please do separate your PRs into separate branches according to topics. Like, all these "does not fit the text well" could be grouped into a single branch and a single PR (but maybe with dif

[2018-12-14 16:12] peanutbutterandcrackers commented on #2092
Another comment just so you will not miss the notification emails! :)

[2018-12-14 16:14] peanutbutterandcrackers commented on #2093
Commenting so that you won't miss the notifications. Extremely sorry for the delayed reply. These neat patches somehow got lost in the constant influx of new issues that we get here in the OpenShot repository. Could you please submit these patches as a Pull Request so that the community could come together and test the patches out and provide some further suggestions as needed? It would be awesome

[2018-12-14 16:42] peanutbutterandcrackers commented on #2128
Hey there,

First and foremost, this kinda' does already exist. [This Video](https://youtu.be/VE6awGSr22Q?t=251) should help you out with that. If that is exactly what you need, then please do close this issue.

I hope that helps!

[2018-12-14 17:53] techman84 commented on #2430
@ferdnyc Good! It works! Thank you so much.
So now that I know what's wrong in the .osp, I'm going to fix also the original project.
(For the log, if it's generated in debug mode, I'm afraid I don't have it.)

[2018-12-14 18:48] ferdnyc commented on #2430
@techman84
Yeah, just finding `"markers"` in the .osp and removing the `null, null, null,` at the start should fix it up, without even having to reformat the file (since by default it's all saved as one very, very long line).

If you have _performance_ issues even after doing that, removing the contents of the `"history"` key would be the way to go. That's a lot harder to do without running it thr

[2018-12-14 20:08] jonoomph commented on #2148
@Sefran007 Can you please email me: jonathan@openshot.org. I would love to work with you to incorporate these changes and invite you to our developer group chat. =)  Thanks!

[2018-12-14 21:37] Daleil commented on #2446
Ok I filled out the template two days ago but have heard nothing back.  Have I done this incorrectly?

[2018-12-15 00:31] ferdnyc commented on #2031
Honestly, the image sequence misfeature should not exist, as everything about it is fragile and bad. I'm not saying OpenShot shouldn't be able to import sequences of images, but it should probably do it by rendering them all to a video file immediately and then placing that _video_ on the Timeline. The image sequence mess is... a mess.

One issue is that it probably **shouldn't** have let Bob rena

[2018-12-15 00:45] ferdnyc commented on #90
Sorry, still playing catchup with old issue email.

The rules for what filenames will be _recognized_ as a potential image sequence is partly based on the file extension, and yes the list of valid extensions is kept in a list. Actually, it's kept in two lists, because who doesn't love code duplication? One copy lives in `src/windows/views/files_listview.py`, the other in `files_treeview.py`.

http

[2018-12-15 00:59] ferdnyc commented on #1081
Ew, nobody needs to see that. I try not to even allow _photographic_ evidence of my existence, I'm certainly not going to start putting myself on video. The world already has reality TV if it wants to watch bullshit people doing their bullshit, and the ones on TV are far more attractive than this whole mess here.

@huubvanniekerk

It's hard to say without a _lot_ more information, but... a couple

[2018-12-15 02:34] peanutbutterandcrackers commented on #2031
@ferdnyc - While I do not to disagree with your in-depth knowledge and analysis about the underlying code, and it certainly has it's issues, I am glad that image sequences exists. Perhaps it needs to be worked upon, but it is a really handy feature to have. One thing that I can do using image sequences is that I can use  anything animated in `gimp` into my project. Which is pretty neat. Here's a s

[2018-12-15 02:53] peanutbutterandcrackers commented on #2405
Or, if you want to zoom in to part of a clip, you should probably first read [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) and then proceed to keyframe the `scale x` and `scale y` properties of your clip. Hope that helps!

Closing as answered.

[2018-12-15 02:53] #2405 closed

[2018-12-15 02:57] peanutbutterandcrackers commented on #2407
This is a known issue and work is being done to fix it (see https://github.com/OpenShot/libopenshot/pull/179). Since this issue does not provide any further details, and the issue is already one that is being worked upon, I shall proceed to close this one. Please do look forward to the future releases. Things will be a whole lot better!

[2018-12-15 02:57] #2407 closed

[2018-12-15 03:01] peanutbutterandcrackers commented on #309
@manotails - Sorry. This feature has not yet been implemented. We do not have enough contributors currently. However, I am going to re-open this issue and hopefully we can get this done in the future releases (perhaps a couple more before this one's implemented, though).

[2018-12-15 03:05] peanutbutterandcrackers commented on #2429
Ah! Ah! I see. I think this is an issue that somehow sneaked in to the main release but has been resolved so with future release this issue won't be arising. For now, however, you'll have to open OpenShot first and then open the `.osp` file from `File` > `Open` and that'll do the trick.

For OpenShot itself not starting, please go to your `My Documents` folder, and go to it's parent folder (the on

[2018-12-15 03:07] peanutbutterandcrackers commented on #2421
Please delete the `.openshot_qt` folder that exists in the same folder as the one where `My Documents` exists, and then this should work.

Closing as a duplicate of #2429 (as that issue has got more discussions).

[2018-12-15 03:07] #2421 closed

[2018-12-15 03:11] peanutbutterandcrackers commented on #1051
@Mystic-Mirage - This is probably an issue of the history stack being corrupted. Could you please run the script as outlined inthe README.md here: https://github.com/peanutbutterandcrackers/meet-tux It is a sed script that removes the history stack from the project file. If it works for you, please do follow up so that we can work on fixing this issue. Thanks!

[2018-12-15 03:31] bobcrikey opened #2451 "Lastest movie animation made with openshot 2.4.3 dev version"
Hello everyone heres my latest star wars animation movie  episode 2
made with openshot 2.4.3 dev version.

enjoy
   bob

https://youtu.be/nO_WNuChwFU

[2018-12-15 03:32] peanutbutterandcrackers commented on #2300
Hmm... I haven't gotten around to testing this, yet. But it seems something needs to be done about the bitrate settings in general... I might have to do a little more digging.

@michelemaria - It seems you are in need of a Video Editor. While OpenShot is not working for you, you could probably use [Kdenlive](https://kdenlive.org) or [Shotcut](https://shotcut.org) for the time being. As for this is

[2018-12-15 03:48] speedytechdev commented on #2446
No, If you have provided as much information as possible then you should be fine. We just have a lot of issues to deal with and sometimes we can't test all the issues because maybe we need a mac or etc.

[2018-12-15 03:50] peanutbutterandcrackers commented on #667
I ran two tests just now: one using an image sequence and a `webm`. I reversed both using Right click > Time > Reverse > 1x and it worked just fine.

How did you reverse your videos? This certainly is strange.

[2018-12-15 03:55] speedytechdev commented on #2451
@bobcrikey Nice https://media.giphy.com/media/srg19CG0cKMuI/giphy.gif

[2018-12-15 04:01] peanutbutterandcrackers commented on #632
@audiodef @rivertam -Hey there, sorry for the extremely delayed reply. Currently, the  only way to fake subtitles is to add a lot of 'titles' and use them as subtitles. Another way would be to just use [kdenlive](https://kdenlive.org) for the time being (it is also available for windows - beta, I think). Another way would be to use a dedicated subtitle editor like this one: http://www.aegisub.org/

[2018-12-15 04:12] hesco opened #2452 "Compose a film of smaller sequences, edited as distinct projects"
**Please fill out this template**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I had asked on the IRC channel:

I assembled my printed takes on a couple of channels from a previous day's shooting and am now ready to begin integrating the coverage from the next day's photography.  Ho

[2018-12-15 05:15] huubvanniekerk commented on #1081
Ok, yes, then that's the explanation of what happened. For the next video will make sure that it's a fresh session and see what happens.

[2018-12-15 06:43] peanutbutterandcrackers commented on #2044
@cdefy - Hey there. Sorry I wasn't around much. Thank you for your willingness to help. I'll put this issue on my list for future reference for all the other ones you've linked and the investigations that you have done. I'm glad that this seems to have been resolved for now, as well. Hope you create awesome videos using OpenShot.

[2018-12-15 06:47] peanutbutterandcrackers commented on #2452
I'm not sure I quite understand this issue but is this related to #1230?

[2018-12-15 06:50] peanutbutterandcrackers commented on #2435
What kind of video is it? We had this problem a few months back but a solution was made and pushed in to the main source tree. I wonder if using [HandBrake](https://handbrake.fr) to transcode the video into something like `.mkv` will help fix the issue...

[2018-12-15 06:51] peanutbutterandcrackers commented on #2428
Or, you could also keyframe the volume property. Consult [this guide](https://gist.github.com/peanutbutterandcrackers/f0f666243133e0ed25abbc12a4ba23d7) to learn more about keyframes.

Closing as answered.

[2018-12-15 06:51] #2428 closed

[2018-12-15 07:02] peanutbutterandcrackers commented on #2117
As far as the missing files are concerned, first, switch to a latest daily build. A fix has gone in recently which will make it possible for one to easily point OpenShot to missing files. Once you have the daily build running, try opening the `.osp` file and when it complains it can't find certain files, point towards the folder that contains those files and it should work. Hope that helps.

[2018-12-15 07:07] peanutbutterandcrackers commented on #2107
Probably related to #1559, #1390 and possibly #1505 and #1588
Closing as duplicate for now as this issue does not bring any new information. Please follow the discussions over at the linked issues. Hope that'll help.

[2018-12-15 07:07] #2107 closed

[2018-12-15 07:10] peanutbutterandcrackers commented on #2071
Please try deleting the history stack from the `.osp` file by following the instructions in the README.md file here: https://github.com/peanutbutterandcrackers/meet-tux and get back to us with news regarding if it does nor does not fix the issue. Hope that helps.

[2018-12-15 07:13] peanutbutterandcrackers commented on #2049
Closing because of inactivity.

[2018-12-15 07:13] #2049 closed

[2018-12-15 07:16] peanutbutterandcrackers commented on #2014
Here are some custom profiles: https://github.com/gary9872/openshot-presets-testing
And here is how one creates a profile: https://www.openshot.org/static/files/user-guide/profiles.html#custom-profile

Hope that helps. Closing as answered for now.

[2018-12-15 07:16] #2014 closed

[2018-12-15 07:30] peanutbutterandcrackers commented on #2050
Closing in favour of #2053 as that issue provides more detail. Please follow the discussion over there. Thanks.

[2018-12-15 07:30] #2050 closed

[2018-12-15 08:09] peanutbutterandcrackers commented on #2053
I'm going to close #2050 in favour of this. And I'm going add my own example file here. I ran into the same issue this morning while trying to reverse the attached webm (that I got from 9gag) for testing. I was using the default profile.

[Issue #2053.zip](https://github.com/OpenShot/openshot-qt/files/2682488/Issue.2053.zip)

[2018-12-15 10:13] TooNNN opened #2453 "I see a movie without effects after exporting. Preview is ok."
**My Question:**

This is a simple movie based on one png and one wav.

I see no fade-in effect on mp4 file.

Final size is 300x210.

**System Details**
 - Operating System : Windows 7
 - OpenShot Version [e.g. 2.4.3]

[2018-12-15 11:18] peanutbutterandcrackers commented on #2010
I do not understand your issue. Could you please attach some screenshots, etc. to explain the issue even further?

Closing this one for the time being because this might not get your attention again. If you come back around, we can always re-open this.

Thank you.

[2018-12-15 11:18] #2010 closed

[2018-12-15 11:45] peanutbutterandcrackers commented on #2446
@Daleil - Hey there. Could you perhaps create a screencast of OpenShot crashing? We could go further from there.You could use [VLC Media Player](http://www.videolan.org/) to [record your screen like so](https://www.youtube.com/watch?v=H-6gxvBBEiw). Even if we do not figure out a solution (which, I must admit, we might not), this might serve as a good reference for the devs to fix this issue.
Also,

[2018-12-15 12:20] TooNNN commented on #2453
OpenShot Version : 2.4.3

input png  size : 289x210

profile : HD 720p 30 fps (I would prefer to change it to (300x210, 25fps), but it seems not possible)

track 3 > wav file
track 4 > png file and blanking effect over it only

these tracks have the same lenght

output > 1024x576 pal 16:9 changed to 300x210 pal 30:21

mp4 > movie without blanking effect

[2018-12-15 12:48] ferdnyc commented on #1081
Please do let us know.

(Devs: If #2400 merges, we'll at least be able to advise users encountering these performance issues that all they have to do in order to return OpenShot to normal operation is save their work, restart the program, and load the saved project file back in.)

[2018-12-15 13:57] Cinnamon2013 commented on #2429
Thank you so much!

[2018-12-15 15:04] rivertam commented on #632
@peanutbutterandcrackers Thanks for the links! I don't think I'd considered the idea of a separate program, for some reason. Aegisub looks really good for this.

[2018-12-15 16:15] Mystic-Mirage commented on #1051
@peanutbutterandcrackers Thank you, but it didn't help.
Here are all 'null' values in my project that I think can cause the error
[code]

[2018-12-15 17:37] reddn commented on #667
I think it has been fixed. There were dups of the same issue.

On Fri, Dec 14, 2018 at 10:50 PM peanutbutterandcrackers <
notifications@github.com> wrote:

[2018-12-15 17:49] peanutbutterandcrackers commented on #632
@rivertam - I'm glad that it seems useful to you. All the very best!

[2018-12-15 17:50] peanutbutterandcrackers commented on #1051
@ferdnyc - Sorry to bother you, sir, but could you please take a quick look at this? Thank you.

[2018-12-15 17:56] peanutbutterandcrackers commented on #2371
@ferdnyc - No, sir. This time around it was @speedytechdev :smile:

[2018-12-15 19:55] huubvanniekerk commented on #1081
Ok, here's review 2.

First, I removed all but the title PNG from the existing project, saved it, restarted OpenShot and let it work. Found that it again was 37% and 1:30:xx remaining, down to 2 FPS. Cancelled it and started completely from scratch. So, new project, imported the title PNG, then added the ogg's and mov's for the video. Watched it initially go nice with 0:30 time remaining, but this

[2018-12-15 22:37] ferdnyc commented on #2371
Huh, whoops! You're right.

A stuffed frog, three vertical bars... who can tell these green icons apart? :angel:

[2018-12-15 22:44] ferdnyc opened #2454 "Common Issues feedback"
Hm. One issue with #2449 being locked is, I have to create a new issue to comment on #2449. (Sorry! At least you can close this once it's read and handled, or not handled as deemed appropriate.)

Anyway, [the intro](https://github.com/OpenShot/openshot-qt/issues/2449#issue-391048153) to "Common Issues" currently reads:

...which led to me puzzling for like 30 seconds over why hitting <kbd>Ctrl</kb

[2018-12-15 23:14] ferdnyc commented on #1081
@huubvanniekerk :

That's helpful, thanks. (Though, not very helpful to **you**, unfortunately.)

Is there any way you'd be able to provide the project file and media for that project to us? (I don't know how sensitive the content is, obviously if it's something you can't share, that's totally understandable.) I'd just like to get an idea of the complexity and structure, and see whether I see the

[2018-12-15 23:20] ferdnyc commented on #1051
Look at... what? I'm going to need to see at least the project file in question. I'd be happy to look at _that_...

[2018-12-16 00:57] ferdnyc commented on #1051
Regarding this, specifically:

Null values _in and of themselves_ are not a problem in `.osp` files — in fact, they are normal and **expected** in at least the undo/redo lists. Some history items inherently don't have a "previous state", and that condition is represented with the `"old_values"` key being set to `null`. So, finding null entries shouldn't be considered a sign of a problem by any mea

[2018-12-16 01:01] ferdnyc commented on #1051
Aha, of course right after posting that I found a project file with a `"2" : null` in it — but it's in the project data I recovered from #1768, which was also causing loading / functionality issues in OpenShot. (And we never got word back from the original reporter on whether the attempts at recovery were successful.)

So, that project file has a key with the label `"2"` (and value `null`, but tha